.cd-dropdown-wrapper-menu {
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
    .cd-dropdown {
        width: 82.5%;
        box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
        display: flex;
        flex-direction: column;
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #999999;

        .header-min {
            width: 100%;
            padding: 0;
            order: 2;
            box-shadow: none;
            display: flex;
            justify-content: space-between;
            padding-left: 16px;
            padding-right: 16px;
            border-bottom: 1px solid #DDDDDD;
        }

        .cd-close {
            height: 24px;
            width: 24px;
            background-repeat: no-repeat;
            background-image: url("../img/content/close.svg");
            background-position: center;
            background-size: contain;
            display: block;
            margin: 16px 0;
        }

        .has-children {
            position: relative;

            span {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                margin: auto;
            }
            a {
                write-space: normal !important;
            }
        }
        .cd-dropdown-content a, .cd-dropdown-content ul a {
            write-space: normal !important;
        }
    }
    .cd-dropdown-content {
        padding-top: 56px;
        width: 100%;
    }
}
