<div class="cd-dropdown-wrapper cd-dropdown-wrapper-menu">
    <nav class="cd-dropdown">
        <div class="header-min">
            <div>Меню отделения</div>
            <a href="#0" class="cd-close"></a>
        </div>

        <ul class="cd-dropdown-content">

            <li class="has-children">
                <a href="#">Главная отделения</a>
            </li>

            <li class="has-children">
                <a href="#">Лечение анальных трещин</a>
            </li>

            <li class="has-children">
                <a href="#">Эстетическая проктология</a>
            </li>

            <li class="has-children">
                <a href="#">Физиотерапия в проктологии</a>
            </li>

            <li class="has-children">
                <a href="department.html">Все заболевания</a>
                <span class="has-children-arrow"></span>

                <ul class="cd-secondary-dropdown is-hidden">
                    <li class="go-back"><a href="#0">Назад</a></li>

                    <li class="has-children">
                        <a href="department.html">Мужская проктология</a><span class="has-children-arrow"></span>
                        <ul class="is-hidden third-dropdown">
                            <li class="go-back"><a href="#0">Назад</a></li>
                            <li><a href="diseases.html">Лечение болезни Пейрони</a></li>
                            <li><a href="#">Лечение варикоцеле</a></li>
                            <li><a href="#">Лечение гипоспадии</a></li>
                        </ul>
                    </li>

                    <li class="has-children">
                        <a href="department.html">Назад</a><span class="has-children-arrow"></span>
                        <ul class="is-hidden third-dropdown">
                            <li class="go-back"><a href="#0">Назад</a></li>
                            <li><a href="diseases.html">Лечение болезни Пейрони</a></li>
                            <li><a href="#">Лечение варикоцеле</a></li>
                            <li><a href="#">Лечение гипоспадии</a></li>
                        </ul>
                    </li>

                    <li class="has-children">
                        <a href="department.html">Хирургическая урология</a><span class="has-children-arrow"></span>
                        <ul class="is-hidden third-dropdown">
                            <li class="go-back"><a href="#0">Назад</a></li>
                            <li><a href="#">Эстетическая проктология</a></li>
                            <li><a href="#">Физиотерапия в проктологии</a></li>
                            <li><a href="#">Цены</a></li>
                        </ul>
                    </li>

                    <li class="has-children">
                        <a href="#">Заболевания, передающиеся половым путем</a><span class="has-children-arrow"></span>
                        <ul class="is-hidden third-dropdown">
                            <li class="go-back"><a href="#0">Назад</a></li>
                            <li><a href="diseases.html">Главная отделения</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="has-children">
                <a href="price.html">Цены</a>
            </li>

            <li class="has-children">
                <a href="all-doctors.html">Врачи</a>
            </li>

            <li class="has-children">
                <a href="#">Диагностика</a>
            </li>

            <li class="has-children">
                <a href="all-doctors.html">Подготовка к визиту</a>
            </li>

            <li class="has-children">
                <a href="feedback.html">Отзывы</a>
            </li>

            <li class="has-children">
                <a href="faq.html">Вопрос–ответ</a>
            </li>

            <li class="has-children">
                <a href="#">Видео</a>
            </li>

        </ul>
    </nav>
</div>
