<div class="container">
    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="main.html">Главная</a></li>
            <li class="breadcrumb__item">Хлебные крошки</li>
        </ul>
    </div>
</div>

<div class="catalog-page all-doctors">
    <div class="container">
        <div class="h1 catalog-page__title">Врачи нашей клиники</div>
        <div class="doctor-select">
            <div class="doctor-select__item doc-select">
                <div class="small">Выберите отделение:</div>
                <select class="select">
                    <option>Все врачи</option>
                    <option>Проктология</option>
                    <option>Проктология</option>
                    <option>Проктология</option>
                    <option>Проктология</option>
                    <option>Проктология</option>
                    <option>Проктология</option>
                    <option>Проктология</option>
                    <option>Проктология</option>
                    <option>Проктология</option>
                    <option>Проктология</option>
                </select>
            </div>

            <div class="doctor-select__item orange-select">
                <span class="label">Сортироваться по:</span>
                <select class="select">
                    <option>По рейтингу</option>
                    <option>По цене</option>
                    <option>По отзывам</option>
                </select>
            </div>
        </div>
        <div class="d-flex department-doctors">
            <div class="doctor-item">
                <div class="doctor-item__photo">
                    <img src="static/img/content/doctor1.png">
                </div>
                <div class="doctor-item__content">
                    <div class="doctor-item__type">Терапевт</div>
                    <div class="doctor-item__name">Иван Иванович Иванов</div>
                    <div class="doctor-item__info">Врач первой категории, <span>доктор наук</span> и добрый человек
                    </div>
                    <ul class="rating">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="far fa-star"></i></li>
                        <li>— 5.0</li>
                    </ul>
                    <a href="javascript:void(0)" class="doctor-item__link">Посмотреть отзывы</a>
                </div>
            </div>

            <div class="doctor-item">
                <div class="doctor-item__photo">
                    <img src="static/img/content/doctor2.png">
                </div>
                <div class="doctor-item__content">
                    <div class="doctor-item__type">Терапевт</div>
                    <div class="doctor-item__name">Иван Иванович Иванов</div>
                    <div class="doctor-item__info">Врач первой категории, <span>доктор наук</span> и добрый человек Врач
                        первой категории, <span>доктор наук</span> и добрый человек
                    </div>
                    <ul class="rating">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="far fa-star"></i></li>
                        <li>— 5.0</li>
                    </ul>
                    <a href="javascript:void(0)" class="doctor-item__link">Посмотреть отзывы</a>
                </div>
            </div>

            <div class="doctor-item">
                <div class="doctor-item__photo">
                    <img src="static/img/content/doctor3.png">
                </div>
                <div class="doctor-item__content">
                    <div class="doctor-item__type">Терапевт</div>
                    <div class="doctor-item__name">Иван Иванович Иванов</div>
                    <div class="doctor-item__info">Врач высокой пробы, очень серьезный специалист и вообще</div>
                    <ul class="rating">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="far fa-star"></i></li>
                        <li>— 5.0</li>
                    </ul>
                    <a href="javascript:void(0)" class="doctor-item__link">Посмотреть отзывы</a>
                </div>
            </div>

            <div class="doctor-item">
                <div class="doctor-item__photo">
                    <img src="static/img/content/doctor4.png">
                </div>
                <div class="doctor-item__content">
                    <div class="doctor-item__type">Терапевт</div>
                    <div class="doctor-item__name">Иван Иванович Иванов</div>
                    <div class="doctor-item__info">Врач высокой пробы, очень серьезный специалист и вообще</div>
                    <ul class="rating">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="far fa-star"></i></li>
                        <li>— 5.0</li>
                    </ul>
                    <a href="javascript:void(0)" class="doctor-item__link">Посмотреть отзывы</a>
                </div>
            </div>

            <div class="doctor-item">
                <div class="doctor-item__photo">
                    <img src="static/img/content/doctor1.png">
                </div>
                <div class="doctor-item__content">
                    <div class="doctor-item__type">Терапевт</div>
                    <div class="doctor-item__name">Иван Иванович Иванов</div>
                    <div class="doctor-item__info">Врач первой категории, <span>доктор наук</span> и добрый человек
                    </div>
                    <ul class="rating">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="far fa-star"></i></li>
                        <li>— 5.0</li>
                    </ul>
                    <a href="javascript:void(0)" class="doctor-item__link">Посмотреть отзывы</a>
                </div>
            </div>

            <div class="doctor-item">
                <div class="doctor-item__photo">
                    <img src="static/img/content/doctor2.png">
                </div>
                <div class="doctor-item__content">
                    <div class="doctor-item__type">Терапевт</div>
                    <div class="doctor-item__name">Иван Иванович Иванов</div>
                    <div class="doctor-item__info">Врач первой категории, <span>доктор наук</span> и добрый человек
                    </div>
                    <ul class="rating">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="far fa-star"></i></li>
                        <li>— 5.0</li>
                    </ul>
                    <a href="javascript:void(0)" class="doctor-item__link">Посмотреть отзывы</a>
                </div>
            </div>

            <div class="doctor-item">
                <div class="doctor-item__photo">
                    <img src="static/img/content/doctor3.png">
                </div>
                <div class="doctor-item__content">
                    <div class="doctor-item__type">Терапевт</div>
                    <div class="doctor-item__name">Иван Иванович Иванов</div>
                    <div class="doctor-item__info">Врач высокой пробы, очень серьезный специалист и вообще</div>
                    <ul class="rating">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="far fa-star"></i></li>
                        <li>— 5.0</li>
                    </ul>
                    <a href="javascript:void(0)" class="doctor-item__link">Посмотреть отзывы</a>
                </div>
            </div>

            <div class="doctor-item">
                <div class="doctor-item__photo">
                    <img src="static/img/content/doctor4.png">
                </div>
                <div class="doctor-item__content">
                    <div class="doctor-item__type">Терапевт</div>
                    <div class="doctor-item__name">Иван Иванович Иванов</div>
                    <div class="doctor-item__info">Врач высокой пробы, очень серьезный специалист и вообще</div>
                    <ul class="rating">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="far fa-star"></i></li>
                        <li>— 5.0</li>
                    </ul>
                    <a href="javascript:void(0)" class="doctor-item__link">Посмотреть отзывы</a>
                </div>
            </div>

            <div class="doctor-item">
                <div class="doctor-item__photo">
                    <img src="static/img/content/doctor1.png">
                </div>
                <div class="doctor-item__content">
                    <div class="doctor-item__type">Терапевт</div>
                    <div class="doctor-item__name">Иван Иванович Иванов</div>
                    <div class="doctor-item__info">Врач первой категории, <span>доктор наук</span> и добрый человек
                    </div>
                    <ul class="rating">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="far fa-star"></i></li>
                        <li>— 5.0</li>
                    </ul>
                    <a href="javascript:void(0)" class="doctor-item__link">Посмотреть отзывы</a>
                </div>
            </div>

            <div class="doctor-item">
                <div class="doctor-item__photo">
                    <img src="static/img/content/doctor2.png">
                </div>
                <div class="doctor-item__content">
                    <div class="doctor-item__type">Терапевт</div>
                    <div class="doctor-item__name">Иван Иванович Иванов</div>
                    <div class="doctor-item__info">Врач первой категории, <span>доктор наук</span> и добрый человек
                    </div>
                    <ul class="rating">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="far fa-star"></i></li>
                        <li>— 5.0</li>
                    </ul>
                    <a href="javascript:void(0)" class="doctor-item__link">Посмотреть отзывы</a>
                </div>
            </div>

            <div class="doctor-item">
                <div class="doctor-item__photo">
                    <img src="static/img/content/doctor3.png">
                </div>
                <div class="doctor-item__content">
                    <div class="doctor-item__type">Терапевт</div>
                    <div class="doctor-item__name">Иван Иванович Иванов</div>
                    <div class="doctor-item__info">Врач высокой пробы, очень серьезный специалист и вообще</div>
                    <ul class="rating">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="far fa-star"></i></li>
                        <li>— 5.0</li>
                    </ul>
                    <a href="javascript:void(0)" class="doctor-item__link">Посмотреть отзывы</a>
                </div>
            </div>

            <div class="doctor-item">
                <div class="doctor-item__photo">
                    <img src="static/img/content/doctor4.png">
                </div>
                <div class="doctor-item__content">
                    <div class="doctor-item__type">Терапевт</div>
                    <div class="doctor-item__name">Иван Иванович Иванов</div>
                    <div class="doctor-item__info">Врач высокой пробы, очень серьезный специалист и вообще</div>
                    <ul class="rating">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="far fa-star"></i></li>
                        <li>— 5.0</li>
                    </ul>
                    <a href="javascript:void(0)" class="doctor-item__link">Посмотреть отзывы</a>
                </div>
            </div>
        </div>

        <div class="pagination">
            <a href="javascript:void(0)" class="pagination__prev"></a>
            <ul class="pagination__pages">
                <li class="pagination__item"><a href="javascript:void(0)">1</a></li>
                <li class="pagination__item"><a href="javascript:void(0)">2</a></li>
                <li class="pagination__item"><a href="javascript:void(0)">9</a></li>
                <li class="pagination__item"><a href="javascript:void(0)">...</a></li>
                <li class="pagination__item"><a href="javascript:void(0)">7</a></li>
                <li class="pagination__item"><a href="javascript:void(0)">8</a></li>
                <li class="pagination__item"><a href="javascript:void(0)">9</a></li>
            </ul>
            <a href="javascript:void(0)" class="pagination__next"></a>
        </div>
    </div>
</div>
