.catalog-page {
    padding-bottom: 80px;
    &__title {
        margin-bottom: 24px;
    }
}
.doctor-select {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;
    &__item {
        .small {
            font-family: "Montserrat";
            font-weight: normal;
            font-size: 12px;
            line-height: 20px;
            margin-bottom: 8px;
            color: #666666;
            display: block;
        }
        .label {
            display: inline-block;
            font-size: 12px;
            line-height: 20px;
            margin-bottom: 0;
        }
    }

    .doc-select {
        width: 282px;
        .select2-container {
            width: 100% !important;
        }
        .select2-container--default .select2-selection--single {
            border-color: #DDDDDD;
            height: 40px;
            outline: none !important;
            box-shadow: none;
            width: 100% !important;
        }
        .select2-container--open {
            outline: none;
            box-shadow: none;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            font-weight: 500;
            font-size: 12px;
            line-height: 38px;
            color: $black-color;
            outline: none !important;
            width: 100% !important;
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 38px;
            b {
                border-color: $black-color transparent transparent transparent;
            }
        }
    }

    .orange-select {
        .select2-container--default .select2-selection--single {
            border: none;
            color: $red-color;
            height: 20px;
            outline: none !important;
            box-shadow: none;
        }
        .select2-container--open {
            outline: none;
            box-shadow: none;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: $red-color;
            outline: none !important;
            font-weight: 500;
            font-size: 12px;
            line-height: 20px;
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 20px;
            b {
                border-color: $red-color transparent transparent transparent;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .catalog-page {
        padding-bottom: 40px;
    }

    .doctor-select {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: -16px;
        &__item {
            margin-bottom: 18px;
        }

        .doc-select {
            width: 100%;
        }
    }
}
