.modal {
    &-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
    }

    &-col {
        width: calc(50% - 8px);
        min-width: calc(50% - 8px);
        position: relative;

        span {
            display: block;
            font-family: "Montserrat";
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            color: #666666;
            margin-bottom: 8px;
        }

        .datepicker, .timepicker {
            background: #FFFFFF;
            border: 1px solid #E0E0E0;
            box-sizing: border-box;
            border-radius: 2px;
            width: 100%;
            height: 40px;
            font-family: "Montserrat";
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: $black-color;

            &::placeholder {
                font-size: 14px;
                line-height: 20px;
                color: #999999;
            }

            &:focus {
                border-color: $black-color;
                outline: none;
            }

            &:hover {
                border-bottom-color: $red-color;
                transition: 0.15s;
            }

            &:active {
                border-color: $red-color;
                transition: 0.15s;
            }
        }

        .datepicker {
            padding-left: 48px;
            position: relative;
        }

        label {
            content: '';
            height: 24px;
            width: 24px;
            position: absolute;
            display: block;
            bottom: 0;
            z-index: 2;
            left: 16px;
            background-image: url("../img/content/calendar.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        .timepicker {
            padding-left: 16px;
        }
    }

    &-dialog {
        border-radius: 8px;
        max-width: 420px;
        margin-right: auto;
        margin-left: auto;
    }

    &-content {
        border-color: $white-color;
    }

    &-header {
        border-bottom: none;
        padding: 16px;

        .close {
            padding: 8px;
            &:focus {
                outline: none;
            }
        }
    }

    &-body {
        padding: 0 16px 40px 16px;

        .link {
            width: 100%;
        }
    }

    &-text {
        color: $black-color;
        margin-bottom: 24px;
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
    }

    &-title {
        text-align: center;
        font-family: "Montserrat";
        font-size: 20px;
        line-height: 28px;
        color: $black-color;
        margin-bottom: 24px;
    }

    &-form {
        .link {
            width: 100%;
        }

        .form-checkbox {
            margin-bottom: 24px;

            label {
                font-size: 12px;
                line-height: 18px;
                font-weight: 500;
            }
        }
    }

    &-row {
        display: flex;
        justify-content: space-between;
    }

    &-col {
        width: calc(50% - 8px);
        min-width: calc(50% - 8px);
    }

    &__tabs {
        width: 100%;
    }

    .nav-tabs {
        justify-content: space-between;
        border-bottom: 1px solid #DDDDDD;
        margin-bottom: 24px;
    }

    .nav-item {
        display: block;
        width: calc(100% / 3);
        min-width: calc(100% / 3);
        text-align: center;
        font-family: "Montserrat";
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: $black-color;
        padding-bottom: 8px;

        &:hover {
            text-decoration: none;
        }

        &.active {
            color: $red-color;
            border-bottom: 2px solid $red-color;
        }
    }
}

.form-group {
    width: 100%;
    margin-bottom: 16px;

    &__input {
        background: #FFFFFF;
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 2px;
        width: 100%;
        height: 40px;
        padding: 10px 16px;
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: $black-color;

        &::placeholder {
            font-size: 14px;
            line-height: 20px;
            color: #999999;
        }

        &:focus {
            border-color: $black-color;
            outline: none;
        }

        &:hover {
            border-bottom-color: $red-color;
            transition: 0.15s;
        }

        &:active {
            border-color: $red-color;
            transition: 0.15s;
        }

        &[disabled="disabled"] {
            background: #DDDDDD;

            &:hover {
                border-color: #DDDDDD;
            }
        }
    }
}

.form-textarea {
    margin-bottom: 16px;
    width: 100%;

    &__text {
        background: #FFFFFF;
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 2px;
        height: 120px;
        width: 100%;
        resize: none;
        padding: 10px 16px;
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: $black-color;

        &::placeholder {
            font-size: 14px;
            line-height: 20px;
            color: #999999;
        }

        &:hover {
            border-bottom-color: $red-color;
            transition: 0.15s;
        }

        &:focus {
            border-color: $black-color !important;
            border-bottom-color: $black-color !important;
            outline: none;
        }

        &:active {
            border-color: $red-color !important;
            transition: 0.15s;
        }
    }
}

.form-file {
    margin-bottom: 16px;

    &__input {
        display: none;
    }

    &__label {
        font-family: "Montserrat";
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        position: relative;
        display: flex;
        align-items: center;
        color: $red-color;
        cursor: pointer;

        &:before {
            content: '';
            display: block;
            height: 24px;
            width: 24px;
            min-width: 24px;
            margin-right: 8px;
            background-image: url("../img/content/attach.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

.form-select {
    margin-bottom: 16px;
    width: 100%;

    label {
        display: block;
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #666666;
        margin-bottom: 12px;
    }

    .select2-container {
        width: 100% !important;
        height: 40px;

        &:focus {
            outline: none !important;
        }
    }

    .select2-container--default .select2-selection--single {
        border: 1px solid #DDDDDD;
        box-sizing: border-box;
        border-radius: 2px;
        height: 40px;
        outline: none;

        &:focus {
            outline: none !important;
        }
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        height: 40px;
        line-height: 40px;
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 14px;
        color: $black-color;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 38px;
    }

    .select2-container--focus {
        outline: none !important;
    }
}

.form-rating {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 16px;

    label {
        display: block;
        width: 100%;
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #666666;
        margin-bottom: 8px;
    }

    &__input {
        width: fit-content;
        display: flex;
        flex-direction: row-reverse;
    }

    &__text {
        font-family: "Montserrat";
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: $black-color
    }

    &__input:not(:checked) > input {
        position: absolute;
        top: -9999px;
        clip: rect(0, 0, 0, 0);
    }

    &__input:not(:checked) > label {
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 16px;
        line-height: 20px;
        margin-right: 4px;
        color: #c4c4c4;
        margin-bottom: 0;
    }


    &__input > input:checked ~ label {
        color: $yellow-color;
    }

    &__input:not(:checked) > label:hover,
    &__input:not(:checked) > label:hover ~ label {
        color: $yellow-color;

    }

    &__input > input:checked + label:hover,
    &__input > input:checked + label:hover ~ label,
    &__input > input:checked ~ label:hover,
    &__input > input:checked ~ label:hover ~ label,
    &__input > label:hover ~ input:checked ~ label {
        color: $yellow-color;
    }
}

/*datapicker*/
.dropdown-menu {
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.06), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 0 15px 15px 15px;
}

@media only screen and (max-width: 576px) {
    .modal {
        &-dialog {
            width: calc(100% - 20px);
        }
    }
}
