<div class="modal fade" id="modalCall" tabindex="-1" role="dialog" aria-labelledby="modalCall"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-title">Обратный звонок</div>

                <form class="modal-form">
                    <div class="form-group">
                        <input type="text" placeholder="Имя" class="form-group__input">
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="+7 (___) __ __ ___*" class="form-group__input inputPhone">
                    </div>

                    <div class="form-checkbox">
                        <input type="checkbox" class="form-checkbox__input" id="modal-agree">
                        <label for="modal-agree">Согласен(–а) на обработку персональных данных</label>
                    </div>

                    <button class="link">Заказать</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="modalQuestion" tabindex="-1" role="dialog" aria-labelledby="modalQuestion"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-title">Задать вопрос</div>

                <form class="modal-form">
                    <div class="form-group">
                        <input type="text" placeholder="Имя" class="form-group__input">
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="+7 (___) __ __ ___*" class="form-group__input inputPhone">
                    </div>

                    <div class="form-textarea">
                        <textarea placeholder="Текст вопроса..." class="form-textarea__text"></textarea>
                    </div>

                    <div class="form-checkbox">
                        <input type="checkbox" class="form-checkbox__input" id="modal-agree">
                        <label for="modal-agree">Согласен(–а) на обработку персональных данных</label>
                    </div>

                    <button class="link">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalVacancy" tabindex="-1" role="dialog" aria-labelledby="modalVacancy"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-title">Откликнуться на вакансию</div>

                <form class="modal-form">
                    <div class="form-group">
                        <input type="text" placeholder="Имя" class="form-group__input">
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="+7 (___) __ __ ___*" class="form-group__input inputPhone">
                    </div>

                    <div class="form-textarea">
                        <textarea placeholder="Комментарий..." class="form-textarea__text"></textarea>
                    </div>

                    <div class="form-file">
                        <input type="file" id="file" class="form-file__input">
                        <label for="file" class="form-file__label">Прикрепите резюме (pdf, word, text)</label>
                    </div>

                    <div class="form-checkbox">
                        <input type="checkbox" class="form-checkbox__input" id="modal-agree">
                        <label for="modal-agree">Согласен(–а) на обработку персональных данных</label>
                    </div>

                    <button class="link">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalSuccess" tabindex="-1" role="dialog" aria-labelledby="modalSuccess"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-title">Успешно!</div>
                <div class="modal-text">Мы отправили на ваш электронный адрес письмо с информацией о записи</div>
                <button class="link">Ок!</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalProcedure" tabindex="-1" role="dialog" aria-labelledby="modalProcedure"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-title">Записаться на процедуру</div>
                <form class="modal-form">
                    <div class="form-select">
                        <label>Выберите процедуру:</label>
                        <select class="js-form-select">
                            <option>Из списка</option>
                            <option>Обследование</option>
                            <option>Массаж</option>
                        </select>
                    </div>

                    <div class="modal-row">
                        <div class="modal-col">
                            <span>Выберите дату:</span>
                            <label></label>
                            <input class="datepicker">
                        </div>
                        <div class="modal-col">
                            <span>Выберите время:</span>
                            <input class="timepicker">
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="Имя" class="form-group__input">
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="+7 (___) __ __ ___*" class="form-group__input inputPhone">
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-group__input" placeholder="Электронная почта">
                    </div>

                    <div class="form-textarea">
                        <textarea placeholder="В свободной форме..." class="form-textarea__text"></textarea>
                    </div>

                    <div class="form-checkbox">
                        <input type="checkbox" class="form-checkbox__input" id="modal-agree4">
                        <label for="modal-agree4">Согласен(–а) на обработку персональных данных</label>
                    </div>

                    <button class="link">Записаться</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalFeedback" tabindex="-1" role="dialog" aria-labelledby="modalProcedure"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-title">Оставить отзыв</div>
                <nav class="modal-tabs">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item active" id="doctor-tab" data-toggle="tab" href="#doctor" role="tab"
                           aria-controls="doctor" aria-selected="true">Доктор</a>
                        <a class="nav-item" id="department-tab" data-toggle="tab" href="#department" role="tab"
                           aria-controls="department" aria-selected="false">Отделение</a>
                        <a class="nav-item" id="clinic-tab" data-toggle="tab" href="#clinic" role="tab"
                           aria-controls="clinic" aria-selected="false">Клиника</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="doctor" role="tabpanel" aria-labelledby="doctor-tab">
                        <form class="modal-form">
                            <div class="form-rating">
                                <label>Оцените врача:</label>
                                <div class="form-rating__input">
                                    <input type="radio" id="star5" name="rating" value="5" />
                                    <label for="star5"><i class="fa fa-star"></i></label>
                                    <input type="radio" id="star4" name="rating" value="4" />
                                    <label for="star4"><i class="fa fa-star"></i></label>
                                    <input type="radio" id="star3" name="rating" value="3" />
                                    <label for="star3"><i class="fa fa-star"></i></label>
                                    <input type="radio" id="star2" name="rating" value="2" />
                                    <label for="star2"><i class="fa fa-star"></i></label>
                                    <input type="radio" id="star1" name="rating" value="1" />
                                    <label for="star1"><i class="fa fa-star"></i></label>
                                </div>
                                <div class="form-rating__text">— <span id="selected_rating">0.0</span> баллов</div>
                            </div>

                            <div class="form-select">
                                <label>Выберите врача:</label>
                                <select class="js-form-select">
                                    <option></option>
                                    <option>Обследование</option>
                                    <option>Массаж</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <input type="text" placeholder="Имя" class="form-group__input">
                            </div>

                            <div class="form-group">
                                <input type="text" placeholder="+7 (___) __ __ ___*"
                                       class="form-group__input inputPhone">
                            </div>

                            <div class="form-group">
                                <input type="email" class="form-group__input" placeholder="Электронная почта">
                            </div>

                            <div class="form-textarea">
                                <textarea placeholder="Отзыв..." class="form-textarea__text"></textarea>
                            </div>

                            <div class="form-checkbox">
                                <input type="checkbox" class="form-checkbox__input" id="modal-agree5">
                                <label for="modal-agree5">Согласен(–а) на обработку персональных данных</label>
                            </div>

                            <button class="link">Оставить отзыв</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="department" role="tabpanel" aria-labelledby="department-tab">
                        <form class="modal-form">
                            <div class="form-rating">
                                <label>Оцените врача:</label>
                                <div class="form-rating__input">
                                    <input type="radio" id="star5" name="rating" value="5" />
                                    <label for="star5"><i class="fa fa-star"></i></label>
                                    <input type="radio" id="star4" name="rating" value="4" />
                                    <label for="star4"><i class="fa fa-star"></i></label>
                                    <input type="radio" id="star3" name="rating" value="3" />
                                    <label for="star3"><i class="fa fa-star"></i></label>
                                    <input type="radio" id="star2" name="rating" value="2" />
                                    <label for="star2"><i class="fa fa-star"></i></label>
                                    <input type="radio" id="star1" name="rating" value="1" />
                                    <label for="star1"><i class="fa fa-star"></i></label>
                                </div>
                                <div class="form-rating__text">— <span id="selected_rating">0.0</span> баллов</div>
                            </div>

                            <div class="form-select">
                                <label>Выберите врача:</label>
                                <select class="js-form-select">
                                    <option></option>
                                    <option>Обследование</option>
                                    <option>Массаж</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <input type="text" placeholder="Имя" class="form-group__input">
                            </div>

                            <div class="form-group">
                                <input type="text" placeholder="+7 (___) __ __ ___*"
                                       class="form-group__input inputPhone">
                            </div>

                            <div class="form-group">
                                <input type="email" class="form-group__input" placeholder="Электронная почта">
                            </div>

                            <div class="form-textarea">
                                <textarea placeholder="Отзыв..." class="form-textarea__text"></textarea>
                            </div>

                            <div class="form-checkbox">
                                <input type="checkbox" class="form-checkbox__input" id="modal-agree6">
                                <label for="modal-agree6">Согласен(–а) на обработку персональных данных</label>
                            </div>

                            <button class="link">Оставить отзыв</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="clinic" role="tabpanel" aria-labelledby="clinic-tab">
                        <form class="modal-form">
                            <div class="form-rating">
                                <label>Оцените врача:</label>
                                <div class="form-rating__input">
                                    <input type="radio" id="star5" name="rating" value="5" />
                                    <label for="star5"><i class="fa fa-star"></i></label>
                                    <input type="radio" id="star4" name="rating" value="4" />
                                    <label for="star4"><i class="fa fa-star"></i></label>
                                    <input type="radio" id="star3" name="rating" value="3" />
                                    <label for="star3"><i class="fa fa-star"></i></label>
                                    <input type="radio" id="star2" name="rating" value="2" />
                                    <label for="star2"><i class="fa fa-star"></i></label>
                                    <input type="radio" id="star1" name="rating" value="1" />
                                    <label for="star1"><i class="fa fa-star"></i></label>
                                </div>
                                <div class="form-rating__text">— <span id="selected_rating">0.0</span> баллов</div>
                            </div>

                            <div class="form-select">
                                <label>Выберите врача:</label>
                                <select class="js-form-select">
                                    <option></option>
                                    <option>Обследование</option>
                                    <option>Массаж</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <input type="text" placeholder="Имя" class="form-group__input">
                            </div>

                            <div class="form-group">
                                <input type="text" placeholder="+7 (___) __ __ ___*"
                                       class="form-group__input inputPhone">
                            </div>

                            <div class="form-group">
                                <input type="email" class="form-group__input" placeholder="Электронная почта">
                            </div>

                            <div class="form-textarea">
                                <textarea placeholder="Отзыв..." class="form-textarea__text"></textarea>
                            </div>

                            <div class="form-checkbox">
                                <input type="checkbox" class="form-checkbox__input" id="modal-agree7">
                                <label for="modal-agree7">Согласен(–а) на обработку персональных данных</label>
                            </div>

                            <button class="link">Оставить отзыв</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

