<div class="container">
    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="main.html">Главная</a></li>
            <li class="breadcrumb__item">Хлебные крошки</li>
        </ul>
    </div>
</div>

<div class="department-title" style="background-attachment: fixed;">
    <div class="container">
        <div class="row">
            <div class="h1 department-title__text">Проктология</div>
        </div>
    </div>
</div>

<div class="text-page department">
    <div class="container">
        <div class="h1 title-page">Проктология</div>
        <div class="d-flex department__block">

            <div class="department__menu">
                <a href="javascript:void(0)" class="sidebar-main">Главная отделения</a>
                <ul class="sidebar-list">
                    <li class="sidebar-list__item">
                        <a href="javascript:void(0)">Лечение геморроя</a>
                    </li>
                    <li class="sidebar-list__item">
                        <a href="javascript:void(0)">Лечение анальных трещин</a>
                    </li>
                    <li class="sidebar-list__item">
                        <a href="javascript:void(0)">Эстетическая проктология</a>
                    </li>
                    <li class="sidebar-list__item">
                        <a href="javascript:void(0)">Физиотерапия в проктологии</a>
                    </li>
                    <li class="sidebar-list__item sub-menu active">
                        <a href="javascript:void(0)" class="active">Все
                            заболевания</a>
                        <ul class="active second-sub">
                            <li class="sidebar-list__item sub-menu">
                                <a href="javascript:void(0)" class="active">
                                    <div
                                        class="sidebar-list__more active"></div>
                                    Мужская
                                    проктология</a>
                                <ul class="active third-sub">
                                    <li class="sidebar-list__item">
                                        <a href="javascript:void(0)" class="active">
                                            <div
                                                class="sidebar-list__more active"></div>
                                            Аномалии
                                            развития органов
                                            мочеполовой системы</a>
                                        <ul class="active four-sub">
                                            <li class="sidebar-list__item">
                                                <a href="javascript:void(0)">Лечение болезни Пейрони</a>
                                            </li class="sidebar-list__item">
                                            <li>
                                                <a href="javascript:void(0)">Лечение варикоцеле</a>
                                            </li class="sidebar-list__item">
                                            <li>
                                                <a href="javascript:void(0)">Лечение гипоспадии</a>
                                            </li>
                                            <li class="sidebar-list__item">
                                                <a href="javascript:void(0)">Добавочная почечная артерия</a>
                                            </li>
                                            <li class="sidebar-list__item">
                                                <a href="javascript:void(0)">Лечение болезни Пейрони</a>
                                            </li>
                                            <li class="sidebar-list__item">
                                                <a href="javascript:void(0)">Лечение варикоцеле</a>
                                            </li>
                                            <li class="sidebar-list__item">
                                                <a href="javascript:void(0)">Лечение гипоспадии</a>
                                            </li>
                                            <li class="sidebar-list__item">
                                                <a href="javascript:void(0)">Добавочная почечная артерия</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="sidebar-list__item">
                                        <a href="javascript:void(0)">Воспалительные заболевания мочеполовых органов</a>
                                    </li class="sidebar-list__item">
                                    <li class="sidebar-list__item">
                                        <a href="javascript:void(0)">Новообразования мочеполовых органов</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sidebar-list__item">
                                <a href="javascript:void(0)">Женская урология</a>
                            </li>
                            <li class="sidebar-list__item">
                                <a href="javascript:void(0)">Хирургическая урология</a>
                            </li>
                            <li class="sidebar-list__item">
                                <a href="javascript:void(0)">Заболевания, передающиеся половым путем</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="sidebar-menu">
                    <li class="sidebar-menu__list active">
                        <a href="javascript:void(0)">Цены</a>
                    </li>
                    <li class="sidebar-menu__list">
                        <a href="javascript:void(0)">Врачи</a>
                    </li>
                    <li class="sidebar-menu__list">
                        <a href="javascript:void(0)">Диагностика</a>
                    </li>
                    <li class="sidebar-menu__list">
                        <a href="javascript:void(0)">Подготовка к визиту</a>
                    </li>
                    <li class="sidebar-menu__list">
                        <a href="javascript:void(0)">Отзывы</a>
                    </li>
                    <li class="sidebar-menu__list">
                        <a href="javascript:void(0)">Вопрос–ответ</a>
                    </li>
                    <li class="sidebar-menu__list">
                        <a href="javascript:void(0)">Видео</a>
                    </li>
                </ul>

                <div class="department__menu-slider">
                    <div class="department__menu-slider-wrap">
                        <div class="department__menu-slide">
                            <div class="programs__item">
                                <div class="programs__image">
                                    <img src="static/img/content/new1.png">
                                </div>
                                <div class="programs__info">
                                    <a href="javascript:void(0)" class="programs__title">Школа жизни</a>
                                    <div class="programs__text">В этом году у нас очень большие скидки на все услуги
                                        клиники, успейте
                                        записаться на прием. В этом году у нас очень большие скидки на все услуги
                                        клиники, успейте
                                        записаться на прием.
                                    </div>
                                    <a href="program.html" class="programs__link">Читать полностью</a>
                                </div>
                            </div>
                        </div>

                        <div class="department__menu-slide">
                            <div class="programs__item">
                                <div class="programs__image">
                                    <img src="static/img/content/new1.png">
                                </div>
                                <div class="programs__info">
                                    <a href="javascript:void(0)" class="programs__title">Школа жизни</a>
                                    <div class="programs__text">В этом году у нас очень большие скидки на все услуги
                                        клиники, успейте
                                        записаться на прием. В этом году у нас очень большие скидки на все услуги
                                        клиники, успейте
                                        записаться на прием.
                                    </div>
                                    <a href="program.html" class="programs__link">Читать полностью</a>
                                </div>
                            </div>
                        </div>

                        <div class="department__menu-slide">
                            <div class="programs__item">
                                <div class="programs__image">
                                    <img src="static/img/content/new1.png">
                                </div>
                                <div class="programs__info">
                                    <a href="javascript:void(0)" class="programs__title">Школа жизни</a>
                                    <div class="programs__text">В этом году у нас очень большие скидки на все услуги
                                        клиники, успейте
                                        записаться на прием. В этом году у нас очень большие скидки на все услуги
                                        клиники, успейте
                                        записаться на прием.
                                    </div>
                                    <a href="program.html" class="programs__link">Читать полностью</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="department__menu-slider-count">1/3</div>
                </div>
            </div>

            <div class="department__content">
                <div class="department__menu-btn cd-dropdown-trigger-menu">Меню</div>

                <div class="text">В магазинах России в продаже появились куриные яйца в новых упаковках. В них всего
                    девять яиц, а не десять, как привыкли покупатели. В таре яйца расфасованы по три штуки в три ряда
                    Фото новой упаковки появилось в социальных сетях, вызвав большой резонанс среди пользователей. За
                    два дня под новостью "Девяток яиц, пожалуйста" появилось более полутора тысяч сообщений.
                </div>

                <div class="text">В магазинах России в продаже появились куриные яйца в новых упаковках. В них всего
                    девять яиц, а не
                    десять, как привыкли покупатели. В таре яйца расфасованы по три штуки в три ряда Фото новой упаковки
                    появилось в социальных сетях, вызвав большой резонанс среди пользователей. За два дня под новостью
                    "Девяток яиц, пожалуйста" появилось более полутора тысяч сообщений.
                </div>

                <div id="accordionExample" class="accordion">
                    <div class="accordion__card">
                        <div class="accordion__header" id="headingOne">
                            <div class="accordion__btn" data-toggle="collapse"
                                 data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Когда нужно обратиться к проктологу
                            </div>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                             data-parent="#accordionExample">
                            <div class="accordion__body">Когда нужно обратиться к проктологу</div>
                        </div>
                    </div>
                    <div class="accordion__card">
                        <div class="accordion__header" id="headingTwo">
                            <div class="accordion__btn collapsed" data-toggle="collapse"
                                 data-target="#collapseTwo" aria-expanded="false"
                                 aria-controls="collapseTwo">Что будут делать на первом визите
                            </div>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#accordionExample">
                            <div class="accordion__body">Что будут делать на первом визите</div>
                        </div>
                    </div>
                    <div class="accordion>>card">
                        <div class="accordion__header" id="headingThree">
                            <div class="accordion__btn collapsed" data-toggle="collapse"
                                 data-target="#collapseThree" aria-expanded="false"
                                 aria-controls="collapseThree">Что понадобится
                            </div>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                             data-parent="#accordionExample">
                            <div class="accordion__body">Что понадобится</div>
                        </div>
                    </div>
                </div>

                <div class="d-flex content-title">
                    <div class="h2">Сколько стоит прием</div>
                    <a href="javascript:void(0)" class="link">Записаться на прием</a>
                </div>

                <div class="price-block">
                    <div class="price-block__title">Первичный прием</div>
                    <div class="price-block__item">
                        <div class="price-block__header">
                            <div>Неопытный врач с трясущимися руками</div>
                            <div class="price-block__price">1 000₽</div>
                        </div>
                        <div class="price-block__subtitle">Включает:</div>
                        <ul class="price-block__included">
                            <li>Беседа</li>
                            <li>Аноскопаю</li>
                            <li>Сбор анамнеза</li>
                        </ul>
                    </div>

                    <div class="price-block__item">
                        <div class="price-block__header">
                            <div>Опытный добрый врач с кучей дипломов, царской благодарностью и золотыми руками</div>
                            <div class="price-block__price">1 000₽</div>
                        </div>
                        <div class="price-block__subtitle">Включает:</div>
                        <ul class="price-block__included">
                            <li>Беседа</li>
                            <li>Аноскопаю</li>
                            <li>Сбор анамнеза</li>
                            <li>Сбор анамнеза</li>
                            <li>Сбор анамнеза</li>
                        </ul>
                    </div>

                    <div class="price-block__item">
                        <div class="price-block__header">
                            <div>Неопытный врач с трясущимися руками</div>
                            <div class="price-block__price">3 000₽</div>
                        </div>
                        <div class="price-block__subtitle">Включает:</div>
                        <ul class="price-block__included">
                            <li>Беседа</li>
                            <li>Аноскопаю</li>
                            <li>Сбор анамнеза</li>
                        </ul>
                    </div>
                </div>

                <div class="price-block-min">
                    <div class="price-block__title">Первичный прием</div>

                    <div class="price-block__slider">
                        <div class="price-block__slide">
                            <div class="price-block__item">
                                <div class="price-block__header">
                                    <div>Неопытный врач с трясущимися руками</div>
                                    <div class="price-block__price">1 000₽</div>
                                </div>
                                <div class="price-block__subtitle">Включает:</div>
                                <ul class="price-block__included">
                                    <li>Беседа</li>
                                    <li>Аноскопаю</li>
                                    <li>Сбор анамнеза</li>
                                </ul>
                            </div>
                        </div>
                        <div class="price-block__slide">
                            <div class="price-block__item">
                                <div class="price-block__header">
                                    <div>Опытный добрый врач с кучей дипломов, царской благодарностью и золотыми руками
                                    </div>
                                    <div class="price-block__price">1 000₽</div>
                                </div>
                                <div class="price-block__subtitle">Включает:</div>
                                <ul class="price-block__included">
                                    <li>Беседа</li>
                                    <li>Аноскопаю</li>
                                    <li>Сбор анамнеза</li>
                                    <li>Сбор анамнеза</li>
                                    <li>Сбор анамнеза</li>
                                </ul>
                            </div>
                        </div>
                        <div class="price-block__slide">
                            <div class="price-block__item">
                                <div class="price-block__header">
                                    <div>Неопытный врач с трясущимися руками</div>
                                    <div class="price-block__price">3 000₽</div>
                                </div>
                                <div class="price-block__subtitle">Включает:</div>
                                <ul class="price-block__included">
                                    <li>Беседа</li>
                                    <li>Аноскопаю</li>
                                    <li>Сбор анамнеза</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="price-block__slider-count">1/3</div>
                </div>

                <div class="price-block">
                    <div class="price-block__title">Повторный прием</div>
                    <div class="price-block__item">
                        <div class="price-block__header">
                            <div>Неопытный врач с трясущимися руками</div>
                            <div class="price-block__price">1 000₽</div>
                        </div>
                        <div class="price-block__subtitle">Включает:</div>
                        <ul class="price-block__included">
                            <li>Беседа</li>
                            <li>Аноскопаю</li>
                            <li>Сбор анамнеза</li>
                        </ul>
                    </div>

                    <div class="price-block__item">
                        <div class="price-block__header">
                            <div>Опытный добрый врач с кучей дипломов, царской благодарностью и золотыми руками</div>
                            <div class="price-block__price">1 000₽</div>
                        </div>
                        <div class="price-block__subtitle">Включает:</div>
                        <ul class="price-block__included">
                            <li>Беседа</li>
                            <li>Аноскопаю</li>
                            <li>Сбор анамнеза</li>
                            <li>Сбор анамнеза</li>
                            <li>Сбор анамнеза</li>
                        </ul>
                    </div>

                    <div class="price-block__item">
                        <div class="price-block__header">
                            <div>Неопытный врач с трясущимися руками</div>
                            <div class="price-block__price">3 000₽</div>
                        </div>
                        <div class="price-block__subtitle">Включает:</div>
                        <ul class="price-block__included">
                            <li>Беседа</li>
                            <li>Аноскопаю</li>
                            <li>Сбор анамнеза</li>
                        </ul>
                    </div>
                </div>

                <div class="price-block-min">
                    <div class="price-block__title">Повторный прием</div>

                    <div class="price-block__slider">
                        <div class="price-block__slide">
                            <div class="price-block__item">
                                <div class="price-block__header">
                                    <div>Неопытный врач с трясущимися руками</div>
                                    <div class="price-block__price">1 000₽</div>
                                </div>
                                <div class="price-block__subtitle">Включает:</div>
                                <ul class="price-block__included">
                                    <li>Беседа</li>
                                    <li>Аноскопаю</li>
                                    <li>Сбор анамнеза</li>
                                </ul>
                            </div>
                        </div>
                        <div class="price-block__slide">
                            <div class="price-block__item">
                                <div class="price-block__header">
                                    <div>Опытный добрый врач с кучей дипломов, царской благодарностью и золотыми руками
                                    </div>
                                    <div class="price-block__price">1 000₽</div>
                                </div>
                                <div class="price-block__subtitle">Включает:</div>
                                <ul class="price-block__included">
                                    <li>Беседа</li>
                                    <li>Аноскопаю</li>
                                    <li>Сбор анамнеза</li>
                                    <li>Сбор анамнеза</li>
                                    <li>Сбор анамнеза</li>
                                </ul>
                            </div>
                        </div>
                        <div class="price-block__slide">
                            <div class="price-block__item">
                                <div class="price-block__header">
                                    <div>Неопытный врач с трясущимися руками</div>
                                    <div class="price-block__price">3 000₽</div>
                                </div>
                                <div class="price-block__subtitle">Включает:</div>
                                <ul class="price-block__included">
                                    <li>Беседа</li>
                                    <li>Аноскопаю</li>
                                    <li>Сбор анамнеза</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="price-block__slider-count">1/3</div>
                </div>

                <div class="d-flex content-title mt-48">
                    <div class="h2">Какие заболевания лечим</div>
                    <a href="javascript:void(0)" class="link">Все заболевания</a>
                </div>
                <ul class="diseases-list">
                    <li>алкоголизм</li>
                    <li>алкоголизм</li>
                    <li>алкоголизм</li>
                    <li>алкоголизм</li>
                    <li>алкоголизм</li>
                    <li>алкоголизм</li>
                    <li>алкоголизм</li>
                    <li>алкоголизм</li>
                    <li>алкоголизм</li>
                    <li>алкоголизм</li>
                    <li>алкоголизм</li>
                    <li>алкоголизм</li>
                    <li>алкоголизм</li>
                    <li>алкоголизм</li>
                    <li>алкоголизм</li>
                    <li>алкоголизм</li>
                    <li>алкоголизм</li>
                    <li>алкоголизм</li>
                    <li>алкоголизм</li>
                    <li>алкоголизм</li>
                    <li>алкоголизм</li>
                    <li>алкоголизм</li>
                    <li>алкоголизм</li>
                    <li>алкоголизм</li>
                    <li>алкоголизм</li>
                    <li>алкоголизм</li>
                    <li>алкоголизм</li>
                    <li>алкоголизм</li>
                    <li>алкоголизм</li>
                    <li>алкоголизм</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="main-doctor">
    <div class="container">
        <div class="d-flex main-feedback__title">
            <div class="h1">Врачи проктологии</div>
            <a class="link" href="doctors.html">Все врачи</a>
        </div>
    </div>

    <div class="main-doctor__slider">
        <div class="main-doctor__slide">
            <div class="main-doctor__image">
                <img src="static/img/content/doctor1.png" alt="">
            </div>
            <div class="main-doctor__info">
                <div class="main-doctor__specialization">Терапевт</div>
                <a href="javascript:void(0)" class="h4 main-doctor__name">Иван Иванович Иванов</a>
                <div class="main-doctor__text">Врач высокой пробы, очень серьезный специалист и вообще</div>
                <ul class="rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li>— 5.0</li>
                </ul>
                <a href="javascript:void(0)" class="read-link">Посмотреть отзывы</a>
            </div>
        </div>

        <div class="main-doctor__slide">
            <div class="main-doctor__image">
                <img src="static/img/content/doctor2.png" alt="">
            </div>
            <div class="main-doctor__info">
                <div class="main-doctor__specialization">Терапевт</div>
                <a href="javascript:void(0)" class="h4 main-doctor__name">Иван Иванович Иванов</a>
                <div class="main-doctor__text">Врач высокой пробы, очень серьезный специалист и вообще</div>
                <ul class="rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li>— 5.0</li>
                </ul>
                <a href="javascript:void(0)" class="read-link">Посмотреть отзывы</a>
            </div>
        </div>

        <div class="main-doctor__slide">
            <div class="main-doctor__image">
                <img src="static/img/content/doctor3.png" alt="">
            </div>
            <div class="main-doctor__info">
                <div class="main-doctor__specialization">Терапевт</div>
                <a href="javascript:void(0)" class="h4 main-doctor__name">Иван Иванович Иванов</a>
                <div class="main-doctor__text">Врач высокой пробы, очень серьезный специалист и вообще</div>
                <ul class="rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li>— 5.0</li>
                </ul>
                <a href="javascript:void(0)" class="read-link">Посмотреть отзывы</a>
            </div>
        </div>

        <div class="main-doctor__slide">
            <div class="main-doctor__image">
                <img src="static/img/content/doctor4.png" alt="">
            </div>
            <div class="main-doctor__info">
                <div class="main-doctor__specialization">Терапевт</div>
                <a href="javascript:void(0)" class="h4 main-doctor__name">Иван Иванович Иванов</a>
                <div class="main-doctor__text">Врач высокой пробы, очень серьезный специалист и вообще</div>
                <ul class="rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li>— 5.0</li>
                </ul>
                <a href="javascript:void(0)" class="read-link">Посмотреть отзывы</a>
            </div>
        </div>

        <div class="main-doctor__slide">
            <div class="main-doctor__image">
                <img src="static/img/content/doctor1.png" alt="">
            </div>
            <div class="main-doctor__info">
                <div class="main-doctor__specialization">Терапевт</div>
                <a href="javascript:void(0)" class="h4 main-doctor__name">Иван Иванович Иванов</a>
                <div class="main-doctor__text">Врач высокой пробы, очень серьезный специалист и вообще</div>
                <ul class="rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li>— 5.0</li>
                </ul>
                <a href="javascript:void(0)" class="read-link">Посмотреть отзывы</a>
            </div>
        </div>

        <div class="main-doctor__slide">
            <div class="main-doctor__image">
                <img src="static/img/content/doctor2.png" alt="">
            </div>
            <div class="main-doctor__info">
                <div class="main-doctor__specialization">Терапевт</div>
                <a href="javascript:void(0)" class="h4 main-doctor__name">Иван Иванович Иванов</a>
                <div class="main-doctor__text">Врач высокой пробы, очень серьезный специалист и вообще</div>
                <ul class="rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li>— 5.0</li>
                </ul>
                <a href="javascript:void(0)" class="read-link">Посмотреть отзывы</a>
            </div>
        </div>

        <div class="main-doctor__slide">
            <div class="main-doctor__image">
                <img src="static/img/content/doctor3.png" alt="">
            </div>
            <div class="main-doctor__info">
                <div class="main-doctor__specialization">Терапевт</div>
                <a href="javascript:void(0)" class="h4 main-doctor__name">Иван Иванович Иванов</a>
                <div class="main-doctor__text">Врач высокой пробы, очень серьезный специалист и вообще</div>
                <ul class="rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li>— 5.0</li>
                </ul>
                <a href="javascript:void(0)" class="read-link">Посмотреть отзывы</a>
            </div>
        </div>

        <div class="main-doctor__slide">
            <div class="main-doctor__image">
                <img src="static/img/content/doctor3.png" alt="">
            </div>
            <div class="main-doctor__info">
                <div class="main-doctor__specialization">Терапевт</div>
                <a href="javascript:void(0)" class="h4 main-doctor__name">Иван Иванович Иванов</a>
                <div class="main-doctor__text">Врач высокой пробы, очень серьезный специалист и вообще</div>
                <ul class="rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li>— 5.0</li>
                </ul>
                <a href="javascript:void(0)" class="read-link">Посмотреть отзывы</a>
            </div>
        </div>

        <div class="main-doctor__slide">
            <div class="main-doctor__image">
                <img src="static/img/content/doctor3.png" alt="">
            </div>
            <div class="main-doctor__info">
                <div class="main-doctor__specialization">Терапевт</div>
                <a href="javascript:void(0)" class="h4 main-doctor__name">Иван Иванович Иванов</a>
                <div class="main-doctor__text">Врач высокой пробы, очень серьезный специалист и вообще</div>
                <ul class="rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li>— 5.0</li>
                </ul>
                <a href="javascript:void(0)" class="read-link">Посмотреть отзывы</a>
            </div>
        </div>

        <div class="main-doctor__slide">
            <div class="main-doctor__image">
                <img src="static/img/content/doctor3.png" alt="">
            </div>
            <div class="main-doctor__info">
                <div class="main-doctor__specialization">Терапевт</div>
                <a href="javascript:void(0)" class="h4 main-doctor__name">Иван Иванович Иванов</a>
                <div class="main-doctor__text">Врач высокой пробы, очень серьезный специалист и вообще</div>
                <ul class="rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li>— 5.0</li>
                </ul>
                <a href="javascript:void(0)" class="read-link">Посмотреть отзывы</a>
            </div>
        </div>

        <div class="main-doctor__slide">
            <div class="main-doctor__image">
                <img src="static/img/content/doctor4.png" alt="">
            </div>
            <div class="main-doctor__info">
                <div class="main-doctor__specialization">Терапевт</div>
                <a href="javascript:void(0)" class="h4 main-doctor__name">Иван Иванович Иванов</a>
                <div class="main-doctor__text">Врач высокой пробы, очень серьезный специалист и вообще</div>
                <ul class="rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li>— 5.0</li>
                </ul>
                <a href="javascript:void(0)" class="read-link">Посмотреть отзывы</a>
            </div>
        </div>
    </div>

    <div class="main-doctor__slider-count">1/11</div>

    <a class="link link-hide" href="#">Узнать больше</a>
</div>

<section class="main-feedback">
    <div class="container">
        <div class="d-flex main-feedback__title">
            <div class="h1">Отзывы об отделение</div>
            <a class="link" href="feedback.html">Все отзывы</a>
        </div>
    </div>

    <div class="main-feedback__slider">
        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Екатерина Хорошая</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!
            </div>
            <a href="javascript:void(0)" class="read-more">Читать полностью</a>
        </div>

        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Арутюнова Эльмира</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!
            </div>
            <a href="javascript:void(0)" class="read-more">Читать полностью</a>
        </div>

        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Екатерина Хорошая</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!
            </div>
            <a href="javascript:void(0)" class="read-more">Читать полностью</a>
        </div>

        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Инна</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!
            </div>
            <a href="javascript:void(0)" class="read-more">Читать полностью</a>
        </div>

        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Екатерина Хорошая</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!
            </div>
            <a href="javascript:void(0)" class="read-more">Читать полностью</a>
        </div>

        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Арутюнова Эльмира</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!
            </div>
            <a href="javascript:void(0)" class="read-more">Читать полностью</a>
        </div>

        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Екатерина Хорошая</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!
            </div>
            <a href="javascript:void(0)" class="read-more">Читать полностью</a>
        </div>

        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Инна</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!
            </div>
            <a href="javascript:void(0)" class="read-more">Читать полностью</a>
        </div>

        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Екатерина Хорошая</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!
            </div>
            <a href="javascript:void(0)" class="read-more">Читать полностью</a>
        </div>

        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Арутюнова Эльмира</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!
            </div>
            <a href="javascript:void(0)" class="read-more">Читать полностью</a>
        </div>

        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Екатерина Хорошая</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!
            </div>
            <a href="javascript:void(0)" class="read-more">Читать полностью</a>
        </div>

        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Инна</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!
            </div>
            <a href="javascript:void(0)" class="read-more">Читать полностью</a>
        </div>
    </div>
    <div class="main-feedback__slider-count">1/12</div>
    <a class="link link-hide" href="feedback.html">Все отзывы</a>
</section>
