.department-title {
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/content/depart-bg.png");
    margin-bottom: 24px;

    .container {
        position: relative;
        height: 100%;
    }

    &__text {
        position: absolute;
        left: 15px;
        bottom: 22px;
    }
}

.department {
    margin-bottom: 0;

    .title-page {
        display: none;
    }

    &__block {
        justify-content: space-between;
        align-items: flex-start;
    }

    &__menu {
        width: 281px;
        min-width: 281px;
        border-right: 1px solid #DDDDDD;
        padding-right: 23px;
        padding-top: 24px;
        position: relative;
        &-slider {
            position: absolute;
            bottom: -380px;
            height: 360px;
            width: 100%;
        }
        &-slider-count {
            text-align: center;
            font-family: "Montserrat";
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
        }

        .programs__item{
            width: 100%;
            box-shadow: 55px 6px 30px rgba(0, 0, 0, 0.05) !important;
        }

        .slick-arrow {
            height: 24px;
            width: 24px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
            z-index: 3;
            top: calc( 100% + 10px);

            &:before {
                content: '';
            }
        }

        .slick-next {
            background-image: url("../img/content/arrow-p-next.svg");
            right: 0px;
        }

        .slick-prev {
            background-image: url("../img/content/arrow-p-prev.svg");
            left: 00px
        }
    }

    &__menu-btn {
        margin-bottom: 24px;
        width: 100%;
        border: 1px solid #DDDDDD;
        box-sizing: border-box;
        border-radius: 100px;
        text-align: center;
        font-family: "Montserrat";
        padding: 10px;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        cursor: pointer;
        display: none;

        &:hover, &:focus {
            color: $red-color;
            border-color: $red-color;
        }
    }

    &__content {
        width: calc(100% - 281px);
        padding-left: 23px;
        align-self: stretch;

        .diseases-list {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;

            li {
                display: block;
                width: calc(100% / 6);
                min-width: calc(100% / 6);
                padding-left: 16px;
                position: relative;
                margin-bottom: 8px;
                font-size: 12px;
                line-height: 20px;

                &:before {
                    content: '';
                    display: block;
                    height: 8px;
                    width: 8px;
                    border-radius: 50%;
                    background-color: $green-color;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
        }
    }
}

.accordion {
    margin-bottom: 80px;

    &__card {
        margin-bottom: 8px;
    }

    &__header {
        font-family: "Montserrat";
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: $black-color;
        border-bottom: 1px solid #DDDDDD;

    }

    &__btn {
        padding: 16px 24px 16px 0;
        position: relative;

        &:after {
            content: '';
            display: block;
            height: 24px;
            width: 24px;
            position: absolute;
            right: 0;
            top: 18px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("../img/content/arrow-down.svg");
            transform: rotate(180deg);
        }

        &.collapsed:after {
            transform: rotate(0deg);
        }
    }

    &__body {
        padding: 16px 0;
        font-family: "Montserrat";
        font-size: 14px;
        line-height: 20px;
    }
}

.content-title {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

.mt-48 {
    margin-top: 48px;
}

.price-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    font-family: "Montserrat";
    color: $black-color;
    margin-bottom: 8px;

    &__title {
        width: 100%;
        min-width: 100%;
        margin-bottom: 24px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }

    &__item {
        width: calc(50% - 12px);
        min-width: calc(50% - 12px);
        border: 1px solid #DDDDDD;
        box-sizing: border-box;
        border-radius: 4px;
        background: $white-color;
        padding: 24px 24px 16px 24px;
        margin-bottom: 24px;
    }

    &__header {
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        display: flex;
        justify-content: space-between;
    }

    &__price {
        min-width: max-content;
        margin-left: 16px;
    }

    &__subtitle {
        margin-bottom: 8px;
        font-size: 12px;
        line-height: 20px;
        color: #666666;
    }

    &__included {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;

        li {
            display: block;
            width: calc(100% / 3);
            min-width: calc(100% / 3);
            padding-left: 16px;
            position: relative;
            margin-bottom: 8px;
            font-size: 12px;
            line-height: 20px;

            &:before {
                content: '';
                display: block;
                height: 8px;
                width: 8px;
                border-radius: 50%;
                background-color: $green-color;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }
}

.price-block-min {
    display: none;
}

.department-price {
    align-items: center;
    flex-wrap: wrap;

    &__item {
        width: calc(100% / 3 - 16px);
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 4px;
        margin-bottom: 24px;
        padding: 24px 16px;
        font-family: "Montserrat";
        margin-right: 24px;
        color: $black-color;

        &:nth-child(3n) {
            margin-right: 0;
        }

        .link {
            width: 100%;
            text-align: center;
        }
    }

    &__title {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 16px;
    }

    &__price {
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 16px;
    }
}


.faq {
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "Montserrat";
    color: $black-color;

    &__item {
        border-bottom: 1px solid #DDDDDD;

        &:last-child {
            border: none;
        }

        &.active {
            border-bottom-color: $red-color;

            .faq__body {
                display: block;
            }

            .faq__header {
                color: $red-color;

                &:after {
                    background-image: url("../img/content/faq-up.svg");
                }
            }
        }
    }

    &__header {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        padding: 24px 40px 24px 16px;
        cursor: pointer;
        position: relative;

        &:after {
            content: "";
            display: block;
            height: 24px;
            width: 24px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 8px;
            background-image: url("../img/content/faq-down.svg");
            position: absolute;
            right: 16px;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }

    &__body {
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        padding: 0 16px 24px 16px;
        background-color: $white-color;
        display: none;
    }

    &-link {
        margin: 48px auto 0 auto;
    }
}

@media only screen and (max-width: 1260px) {
    .department {
        &__content {
            .diseases-list {
                li {
                    width: calc(100% / 5);
                    min-width: calc(100% / 5);
                }
            }
        }
    }
    .department-price {
        align-items: center;
        flex-wrap: wrap;

        &__item {
            width: calc(100% / 2 - 12px);
            min-width: calc(100% / 2 - 12px);
            margin-right: 24px;

            &:nth-child(3n) {
                margin-right: 24px;
            }

            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }

    .price-block {
        &__item {
            width: calc(50% - 12px);
            min-width: calc(50% - 12px);
        }

        &__included {
            li {
                width: calc(100% / 2);
                min-width: calc(100% / 2);
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .department {
        &__menu {
            width: 220px;
            min-width: 220px;
            padding-right: 15px;
            padding-top: 16px;
        }

        &__content {
            width: calc(100% - 220px);
            padding-left: 15px;

            .diseases-list {
                li {
                    width: calc(100% / 4);
                    min-width: calc(100% / 4);
                }
            }
        }
    }
    .price-block {
        &__item {
            width: 100%;
            min-width: 100%;
            padding: 16px;
            margin-bottom: 16px;
        }


        &__included {
            li {
                width: calc(100% / 3);
                min-width: calc(100% / 3);
            }
        }
    }
    .content-title {
        flex-direction: column;
        margin-bottom: 24px;
        text-align: left;
        align-items: flex-start;

        .link {
            display: none;
        }
    }

    .mt-48 {
        margin-top: 24px;
    }

    .accordion {
        margin-bottom: 48px;

        &__header {
            font-size: 16px;
            line-height: 24px;
        }

        &__btn {
            padding: 8px 24px 8px 0;

            &:after {
                top: 10px;
            }
        }
    }

    .department-price {
        align-items: center;
        flex-wrap: wrap;

        &__item {
            width: calc(100% / 2 - 8px);
            min-width: calc(100% / 2 - 8px);
            margin-right: 16px;
            margin-bottom: 16px;
            padding: 16px 8px;

            &:nth-child(3n) {
                margin-right: 16px;
            }

            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .department-title {
        height: auto;
        padding-bottom: 50%;
        position: relative;

        &__text {
            display: none;
        }
    }

    .department {
        .title-page {
            display: block;
            margin-bottom: 16px;
        }

        &__menu {
            display: none;
        }

        &__menu-btn {
            display: block;
        }

        &__content {
            width: 100%;
            padding-left: 0px;

            .diseases-list {
                li {
                    width: calc(100% / 3);
                    min-width: calc(100% / 3);
                }
            }
        }
    }

    .price-block-min {
        display: block;
        max-width: 100%;
    }
    .price-block__slider-count {
        text-align: center;
        margin: 24px 0;
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: $black-color;
    }

    .price-block {
        display: none;
        margin-bottom: 0;

        &__title {
            margin-bottom: 16px;
        }

        &__item {
            width: 100%;
            min-width: 100%;
            padding: 24px 16px 8px 16px;
            margin-bottom: 0;
        }

        &__header {
            margin-bottom: 16px;
            flex-direction: column;
        }

        &__price {
            margin-top: 16px;
            margin-left: 0px;
        }

        &__included {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;

            li {
                width: calc(100% / 2);
                min-width: calc(100% / 2);
            }
        }
    }

    .accordion {
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .faq {
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 0;
        margin-top: -24px;
        &__header {
            padding: 24px 30px 24px 0;
            &:after {
                right: 0;
            }
        }

        &__body {
            padding: 0 16px 24px 0;
        }

        &-link {
            margin-top: 24px;
        }
    }
}

@media only screen and (max-width: 576px) {
    .department-price {
        align-items: center;
        flex-wrap: wrap;

        &__item {
            width: 100%;
            min-width: 100%;
            margin-right: 0;
            margin-bottom: 16px;
            padding: 24px 16px;

            &:nth-child(3n) {
                margin-right: 0;
            }

            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }

    .department {
        &__content {
            .diseases-list {
                li {
                    width: calc(100% / 2);
                    min-width: calc(100% / 2);
                }
            }
        }
    }
}
