.vacancies {
    padding-bottom: 80px;
    &__title {
        margin-bottom: 24px;
    }
    &__block {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        width: calc(50% - 12px);
        min-width: calc(50% - 12px);
        display: block;
        background: #FFFFFF;
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 4px;
        margin-bottom: 24px;
        padding: 24px;
        font-family: "Montserrat";
        color: $black-color;
    }

    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: $red-color;
        margin-bottom: 8px;
        &:hover {
            cursor: pointer;
            color: $red-color;
            text-decoration: underline;
        }
    }

    &__text {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 16px;
    }
    &__salary {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
}

@media only screen and (max-width: 768px) {
    .vacancies {
        padding-bottom: 40px;

        &__block {
            flex-direction: column;
        }

        &__item {
            width: 100%;
            min-width: 100%;
            margin-bottom: 16px;
            padding: 24px 16px;
        }
    }
}
