<div class="container">
    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="main.html">Главная</a></li>
            <li class="breadcrumb__item">Хлебные крошки</li>
        </ul>
    </div>
</div>

<div class="vacancies">
    <div class="container">
        <div class="h1 vacancies__title">Вакансии</div>
        <div class="vacancies__block">
            <div class="vacancies__item">
                <a href="vacancy.html" class="vacancies__name">Врач-гинеколог</a>
                <div class="vacancies__text">Амбулаторно-поликлинический прием пациентов в соответствии с стандартами
                    Министерства здравоохранения. - Квалифицированная медицинская помощь по своей специальности,
                    использование современных методов профилактики... Обязателен опыт работы не менее 5 лет. Действующий
                    сертификат.
                </div>
                <div class="vacancies__salary">от 30 000₽</div>
            </div>

            <div  class="vacancies__item">
                <a href="vacancy.html" class="vacancies__name">Врач-гинеколог</a>
                <div class="vacancies__text">Амбулаторно-поликлинический прием пациентов в соответствии с стандартами
                    Министерства здравоохранения. - Квалифицированная медицинская помощь по своей специальности,
                    использование современных методов профилактики... Обязателен опыт работы не менее 5 лет. Действующий
                    сертификат.
                </div>
                <div class="vacancies__salary">от 30 000₽</div>
            </div>

            <div class="vacancies__item">
                <a href="vacancy.html" class="vacancies__name">Врач-гинеколог</a>
                <div class="vacancies__text">Амбулаторно-поликлинический прием пациентов в соответствии с стандартами
                    Министерства здравоохранения. - Квалифицированная медицинская помощь по своей специальности,
                    использование современных методов профилактики... Обязателен опыт работы не менее 5 лет. Действующий
                    сертификат.
                </div>
                <div class="vacancies__salary">от 30 000₽</div>
            </div>

            <div class="vacancies__item">
                <a href="vacancy.html" class="vacancies__name">Врач-гинеколог</a>
                <div class="vacancies__text">Амбулаторно-поликлинический прием пациентов в соответствии с стандартами
                    Министерства здравоохранения. - Квалифицированная медицинская помощь по своей специальности,
                    использование современных методов профилактики... Обязателен опыт работы не менее 5 лет. Действующий
                    сертификат.
                </div>
                <div class="vacancies__salary">от 30 000₽</div>
            </div>

            <div  class="vacancies__item">
                <a href="vacancy.html" class="vacancies__name">Врач-гинеколог</a>
                <div class="vacancies__text">Амбулаторно-поликлинический прием пациентов в соответствии с стандартами
                    Министерства здравоохранения. - Квалифицированная медицинская помощь по своей специальности,
                    использование современных методов профилактики... Обязателен опыт работы не менее 5 лет. Действующий
                    сертификат.
                </div>
                <div class="vacancies__salary">от 30 000₽</div>
            </div>

            <div class="vacancies__item">
                <a href="vacancy.html" class="vacancies__name">Врач-гинеколог</a>
                <div class="vacancies__text">Амбулаторно-поликлинический прием пациентов в соответствии с стандартами
                    Министерства здравоохранения. - Квалифицированная медицинская помощь по своей специальности,
                    использование современных методов профилактики... Обязателен опыт работы не менее 5 лет. Действующий
                    сертификат.
                </div>
                <div class="vacancies__salary">от 30 000₽</div>
            </div>

            <div class="vacancies__item">
                <a href="vacancy.html" class="vacancies__name">Врач-гинеколог</a>
                <div class="vacancies__text">Амбулаторно-поликлинический прием пациентов в соответствии с стандартами
                    Министерства здравоохранения. - Квалифицированная медицинская помощь по своей специальности,
                    использование современных методов профилактики... Обязателен опыт работы не менее 5 лет. Действующий
                    сертификат.
                </div>
                <div class="vacancies__salary">от 30 000₽</div>
            </div>

            <div  class="vacancies__item">
                <a href="vacancy.html" class="vacancies__name">Врач-гинеколог</a>
                <div class="vacancies__text">Амбулаторно-поликлинический прием пациентов в соответствии с стандартами
                    Министерства здравоохранения. - Квалифицированная медицинская помощь по своей специальности,
                    использование современных методов профилактики... Обязателен опыт работы не менее 5 лет. Действующий
                    сертификат.
                </div>
                <div class="vacancies__salary">от 30 000₽</div>
            </div>

            <div class="vacancies__item">
                <a href="vacancy.html" class="vacancies__name">Врач-гинеколог</a>
                <div class="vacancies__text">Амбулаторно-поликлинический прием пациентов в соответствии с стандартами
                    Министерства здравоохранения. - Квалифицированная медицинская помощь по своей специальности,
                    использование современных методов профилактики... Обязателен опыт работы не менее 5 лет. Действующий
                    сертификат.
                </div>
                <div class="vacancies__salary">от 30 000₽</div>
            </div>
        </div>
    </div>
</div>
