<div class="container">
    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="main.html">Главная</a></li>
            <li class="breadcrumb__item">Хлебные крошки</li>
        </ul>
    </div>
</div>

<div class="news-page">
    <div class="news-page__banner">
        <img src="static/img/content/news-banner.png">
    </div>

    <div class="container">
        <div class="news-page__content">
            <div class="news-page__info">
                <div class="date">01.10. 2019</div>
                <div class="type">Новость</div>
            </div>

            <div class="h1 news-page__title">Новогодние скидки</div>
            <div class="news-page__text">
                <p>В магазинах России в продаже появились куриные яйца в новых упаковках. В них всего девять яиц, а не
                    десять, как привыкли покупатели. В таре яйца расфасованы по три штуки в три ряда Фото новой упаковки
                    появилось в социальных сетях, вызвав большой резонанс среди пользователей. За два дня под новостью
                    "Девяток яиц, пожалуйста" появилось более полутора тысяч сообщений.</p>

                <p>В магазинах России в продаже появились куриные яйца в новых упаковках. В них всего девять яиц, а не
                    десять, как привыкли покупатели. В таре яйца расфасованы по три штуки в три ряда Фото новой упаковки
                    появилось в социальных сетях, вызвав большой резонанс среди пользователей. За два дня под новостью
                    "Девяток яиц, пожалуйста" появилось более полутора тысяч сообщений.</p>

                <p>В магазинах России в продаже появились куриные яйца в новых упаковках. В них всего девять яиц, а не
                    десять, как привыкли покупатели. В таре яйца расфасованы по три штуки в три ряда Фото новой упаковки
                    появилось в социальных сетях, вызвав большой резонанс среди пользователей. За два дня под новостью
                    "Девяток яиц, пожалуйста" появилось более полутора тысяч сообщений.</p>
            </div>

            <a href="javascript:void(0)" class="news-page__comeback">Все новости</a>
        </div>
    </div>
</div>
