.news-page {
    padding-bottom: 80px;
    &__banner {
        position: relative;
        padding-bottom: 34.73%;
        overflow: hidden;
        margin-bottom: 48px;

        img {
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        font-family: "Montserrat";
        color: $black-color;
        max-width: 588px;
        margin: auto;
    }
    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 16px;
        .date {
            color: #666666;
            font-weight: 400;
        }
        .type {
            font-weight: 500;
        }
    }
    &__title {
        margin-bottom: 16px;
    }

    &__text {
        margin-bottom: 48px;
        p {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 16px;
            font-weight: 400;
        }
    }

    &__comeback {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        color: $black-color;
        text-decoration: none;
        transition: 0.15s;
        &:before {
            content: '';
            display: block;
            height: 24px;
            width: 24px;
            margin-right: 8px;
            background: $white-color;
            background-image: url("../img/content/arrow-p-prev.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
            border-radius: 50%;
            position: relative;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        }
        &:hover {
            color: $red-color;
            text-decoration: none;
            transition: 0.15s;
        }
    }
}

@media only screen and (max-width:768px) {
    .news-page {
        padding-bottom: 40px;
        &__banner {
            padding-bottom: 75%;
            margin-bottom: 24px;
        }

        &__title {
            margin-bottom: 16px;
        }

        &__text {
            margin-bottom: 24px;
        }
    }
}
