// Common styles of the project
@import "bootstrap/bootstrap.scss";
@import "libraries/scss/core.scss";

html, body {
    height: 100%;
    color: $black-color;
}

.page {

}

.page__wrapper {
}

* html .page__wrapper {
    height: 100%;
}

.page__buffer {
    height: 50px;
}

.container-fluid {
    max-width: 1400px;
    padding: 0;
}

.h1 {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    color: $black-color;
}

.h2 {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: $black-color;
    margin-bottom: 0;
}

.h3 {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: $black-color;
}

.h4 {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $black-color;
}

p, .text {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $black-color;
    margin: 0 0 16px 0;
}

.text-content {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: $black-color;
}

.text2 {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: $black-color;
    margin-bottom: 32px;
}

.link-text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $black-color;
    display: block;

    &:hover {
        color: $black-color;
        text-decoration: underline;
    }
}

.link {
    background: $green-color;
    border-radius: 100px;
    display: block;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: $black-color;
    padding: 9px 24px;
    text-decoration: none;
    width: fit-content;
    border: 1px solid $green-color;
    box-sizing: border-box;
    transition: 0.25s;

    &:hover {
        box-shadow: 0px 8px 16px rgba(95, 250, 206, 0.5);
        text-decoration: none;
        color: $black-color;
        transition: 0.25s;
    }

    &:focus {
        border: 1px solid $black-color;
        box-sizing: border-box;
        outline: none;
        box-shadow: none;
    }

    &:active {
        box-shadow: none;
    }

    &.disabled {
        background: #DDDDDD;
        color: #999999;
    }
}

.link-red {
    background: $red-color;
    border-radius: 100px;
    display: block;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: $white-color;
    padding: 9px 24px;
    text-decoration: none;
    width: fit-content;
    border: 1px solid $red-color;
    box-sizing: border-box;
    transition: 0.25s;

    &:hover {
        box-shadow: 0px 8px 16px #FD7C4B;
        text-decoration: none;
        color: $white-color;
        transition: 0.25s;
    }

    &:focus {
        border: 1px solid $black-color;
        box-sizing: border-box;
        outline: none;
        box-shadow: none;
    }

    &:active {
        box-shadow: none;
    }

    &.disabled {
        background: #DDDDDD;
        color: #999999;
    }
}

.rating {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;

    li {
        margin-right: 4px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        color: $black-color;
    }

    .fas {
        color: $yellow-color;
    }

    .far {
        color: $black-color;
    }
}


.content-page {
    padding: 80px 0;
    background: $white-color;
    font-family: "Montserrat";
    color: $black-color;

    table {
        width: 100%;
        border-radius: 2px;
        overflow: hidden;
        margin-bottom: 64px;
        thead tr {
            border-radius: 2px 2px 0 0;
            border: 1px solid #dddddd;
        }
        thead tr th {
            padding: 23px;
            background-color: $green-color;
            font-family: "Montserrat";
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: $black-color;
            border-right: 1px solid #dddddd;
            &:last-child {
               border-right: none;
            }
        }

        tbody tr {
            border-bottom: 1px solid #dddddd;
            &:last-child {
                border-radius: 0 0 2px 2px;
            }
        }

        tbody tr td {
            padding: 23px;
            font-family: "Montserrat";
            font-size: 16px;
            line-height: 24px;
            color: $black-color;
            border-right: 1px solid #dddddd;
            &:first-child {
                border-left: 1px solid #dddddd;
            }
        }
    }

    ul {
        list-style: none;
        padding-left: 0;
        li {
            font-family: "Montserrat";
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
           color: $black-color;
            margin-bottom: 12px;
            padding-left: 24px;
            position: relative;
            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                height: 16px;
                width: 16px;
                top: 2px;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url("../img/content/ul.svg");
            }
        }
    }

    ol {
        padding-left: 20px;

        li {
            font-family: "Montserrat";
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: $black-color;
            margin-bottom: 12px;
            position: relative;
        }
    }

    .quotes {
        padding: 64px 48px;
        position: relative;
        background: $white-color;
        border: 1px solid #DDDDDD;
        box-sizing: border-box;
        border-radius: 2px;
        &:before {
            content: '';
            display: block;
            height: 51px;
            width: 51px;
            position: absolute;
            top: -20px;
            left: 48px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url("../img/content/quotes.svg");
        }
        &__author {
            display: flex;
            align-items: center;
            &-image {
                width: 48px;
                min-width: 48px;
                height: 48px;
                border-radius: 50%;
                overflow: hidden;
                img {
                    width: 100%;
                    height: auto;
                    margin: 0;
                }
            }

            &-info {
                margin-left: 16px;
                font-family: "Montserrat";
            }
            &-name {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: $black-color;
            }
            &-status {
                font-weight: normal;
                font-size: 12px;
                line-height: 16px;
                color: #666666;
            }
        }
    }

    &__subtitle {
        margin-bottom: 24px;
        font-weight: 500;
    }

    &__title {
        margin-bottom: 24px;
    }

    h4 {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
    }

    p {
        font-family: "Montserrat", Serif;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: $black-color;
        margin-bottom: 24px;
    }

    img {
        width: 100%;
        height: auto;
        margin: 48px 0;
    }

    .content-left {
        margin: 48px 0;
        align-items: flex-start;
        justify-content: space-between;

        &__image {
            width: calc(50% - 12px);
            min-width: calc(50% - 12px);
        }

        &__text {
            width: calc(50% - 12px);
            min-width: calc(50% - 12px);
        }
    }

    b {
        font-weight: 500;
    }

    span {
        color: $red-color;
    }

    .link {
        margin-bottom: 48px;
    }

    .comeback-link {
        position: relative;
        display: block;
        cursor: pointer;
        font-family: "Montserrat";
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        color: #000000;
        padding-left: 32px;
        transition: 0.25s;

        &:before {
            content: "";
            display: block;
            height: 24px;
            width: 24px;
            background-color: $white-color;
            border-radius: 50%;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
            background-image: url("../img/content/arrow-p-prev.svg");
            position: absolute;
            left: 0;
            top: -2px;
        }

        &:hover {
            text-decoration: none;
            color: $red-color;
            transition: 0.25s;
        }
    }
}

.flex-text {
    &__col {
        width: calc(50% - 12px);
        min-width: calc(50% - 12px);
    }
}

.breadcrumb {
    padding: 24px 0;

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }

    &__item {
        position: relative;
        padding-right: 40px;
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 12px;
        line-height: 24px;
        color: #666666;

        &:after {
            content: "";
            display: block;
            height: 24px;
            width: 24px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("../img/content/arrow-bread.svg");
            position: absolute;
            right: 8px;
            top: 0;
        }

        &:last-child:after {
            display: none;
        }
    }

    &__link {
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 12px;
        line-height: 24px;
        color: #666666;

        &:hover {
            color: $red-color;
        }
    }
}

.sidebar-menu {
    padding: 0;
    list-style: none;
    margin: 0;

    &__list {
        font-family: "Montserrat";
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 16px;

        a {
            color: #333333;
            text-decoration: none;
            transition: 0.25s;

            &:hover {
                text-decoration: underline;
                transition: 0.25s;
            }
        }

        &.active a {
            color: $red-color;
        }
    }
}

.sidebar-main {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #333333;

    &:hover {
        text-decoration: underline;
        transition: 0.25s;
    }

    &.active {
        color: $red-color;
    }
}

.sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 16px;
    margin-bottom: 16px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    margin-top: 16px;

    .sub-menu ul {
        display: none;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    ul.active {
        display: block;
    }

    &__item {
        position: relative;

        a {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #333333;
            transition: 0.25s;
            position: relative;
            display: block;
            margin-bottom: 16px;

            &:hover {
                text-decoration: underline;
                transition: 0.25s;
            }
        }
    }

    .second-sub {
        padding-left: 12px;

        .sidebar-list__item a {
            padding-left: 32px;
        }
    }


    .third-sub {
        padding-left: 12px !important;

        .sidebar-list__item a {
            font-size: 12px;
            line-height: 20px;
        }
    }

    .four-sub {
        padding-left: 12px !important;
    }

    a.active {
        color: $red-color !important;
    }

    &__more {
        display: block;
        height: 24px;
        width: 24px;
        background-image: url("../img/content/add.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        vertical-align: text-top;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        cursor: pointer;

        &.active {
            background-image: url("../img/content/remove.svg");
        }
    }
}


.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &__prev, &__next {
        display: block;
        height: 24px;
        width: 24px;
        background: $white-color;
        border-radius: 50%;
        position: relative;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
    }

    &__prev {
        background-image: url("../img/content/arrow-p-prev.svg");
    }

    &__next {
        background-image: url("../img/content/arrow-p-next.svg");
    }

    &__pages {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
    }

    &__item {
        display: block;
        margin-right: 16px;

        &:last-child {
            margin-right: 0;
        }

        a {
            font-family: "Montserrat";
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: $black-color;
            display: block;
            cursor: pointer;
            transition: 0.25s;

            &:hover {
                text-decoration: none;
                color: $red-color;
                transition: 0.25s;
            }
        }
    }
}

.form-checkbox {
    position: relative;
    margin-bottom: 16px;

    &__input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
        &:checked + label:before {
            background-image: url("../img/content/checkbox1.svg");
        }
    }

    label {
        position: relative;
        cursor: pointer;
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: $black-color;
        padding-left: 32px;
        margin-bottom: 0;
        &:before {
            content: "";
            display: inline-block;
            height: 24px;
            width: 24px;
            min-width: 24px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-image: url("../img/content/checkbox.svg");
            position: absolute;
            left: 0;
            top: -3px;
        }
    }
}


.form-search {
    position: relative;
    width: 100%;
    margin-bottom: 24px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 2px;
    overflow: hidden;
    height: 40px;

    &__input {
        width: 100%;
        padding-left: 40px;
        padding-right: 20px;
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        color: $black-color;
        height: 100%;
        border: none;
        &::placeholder {
            color: $black-color;
        }
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    &__label {
        position: absolute;
        height: 24px;
        width: 24px;
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 18px;
        background-image: url("../img/content/icon-search.svg");
        top: 0;
        bottom: 0;
        left: 8px;
        margin: auto;
    }
}

.text-page {
    overflow: hidden;
    padding-bottom: 80px;
    .title-page {
        margin-bottom: 24px;
    }
}
.comeback {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: $black-color;
    text-decoration: none;
    transition: 0.15s;
    font-family: "Montserrat";
    &:before {
        content: '';
        display: block;
        height: 24px;
        width: 24px;
        margin-right: 8px;
        background: $white-color;
        background-image: url("../img/content/arrow-p-prev.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        border-radius: 50%;
        position: relative;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }
    &:hover {
        color: $red-color;
        text-decoration: none;
        transition: 0.15s;
    }
}

@media only screen and (max-width:768px) {
    .h1 {
        font-size: 24px;
        line-height: 32px;
    }

    .h2 {
        font-size: 20px;
        line-height: 28px;
    }

    .h3 {
        font-size: 16px;
        line-height: 28px;
    }

    .h4 {
        font-size: 14px;
        line-height: 20px;
    }

    p, .text {
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: $black-color;
        margin: 0 0 16px 0;
    }

    .text-content {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: $black-color;
    }

    .text2 {
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: $black-color;
        margin-bottom: 32px;
    }

    .content-page {
        padding: 24px 0;

        .h1 {
            font-size: 20px;
            line-height: 28px;
        }

        h4 {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 8px;
        }

        p {
            margin-bottom: 16px;
        }

        img {
            margin: 8px 0 24px 0;
        }

        .content-left {
            margin: 24px 0;
            flex-direction: column;

            &__image {
                width: 100%;
                min-width: 100%;
                order: 1;
                margin-bottom: 24px;
            }

            &__text {
                width: 100%;
                min-width: 100%;
                order: 2;
            }
        }

        .link {
            margin-bottom: 24px;
        }


        table {
            margin-bottom: 48px;
            thead tr th {
                padding: 16px 8px;
            }

            tbody tr td {
                padding: 16px 8px;
            }
        }

        .quotes {
            padding: 36px 16px;
            &:before {
                height: 36px;
                width: 36px;
                top: -15px;
                left: 24px;
            }
        }
    }

    .text-page {
        padding-bottom: 40px;
    }

    .flex-text {
        flex-direction: column;
        &__col {
            width: 100%;
            min-width: 100%;
        }
    }

}
