// File for scss-vars.
// For example: main colors, paddings and so on.
$white-color: #ffffff;
$brown-color: #201408;
$black-color: #333333;
$light-gray-color: #FAFAFA;
$light-gray-color2: #F7F7F7;
$medium-gray-color: #EFEFEF;
$green-color: #95FFE0;
$red-color: #FD7C4B;
$yellow-color: #FFC700;


$orange-color: #FF9800;

$swiper-gray-color: #E0E0E0;

$light-gray-bg: #FAFAFA;

$gray-tabs-color: #767676;
