<div class="container">
    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="main.html">Главная</a></li>
            <li class="breadcrumb__item">Хлебные крошки</li>
        </ul>
    </div>
</div>

<div class="text-page licenses">
    <div class="container">
        <div class="h1 title-page">Наши лицензии</div>
        <div class="licenses__content">
            <a href="static/img/content/lic1.png" data-lightbox="image-1" class="licenses__item">
                <div class="licenses__item-wrap">
                    <img src="static/img/content/lic1.png">
                </div>
            </a>
            <a href="static/img/content/lic2.png" data-lightbox="image-1" class="licenses__item">
                <div class="licenses__item-wrap">
                    <img src="static/img/content/lic2.png">
                </div>
            </a>
            <a href="static/img/content/lic1.png" data-lightbox="image-1" class="licenses__item">
                <div class="licenses__item-wrap">
                    <img src="static/img/content/lic1.png">
                </div>
            </a>
            <a href="static/img/content/lic2.png" data-lightbox="image-1" class="licenses__item">
                <div class="licenses__item-wrap">
                    <img src="static/img/content/lic2.png">
                </div>
            </a>
            <a href="static/img/content/lic1.png" data-lightbox="image-1" class="licenses__item">
                <div class="licenses__item-wrap">
                    <img src="static/img/content/lic1.png">
                </div>
            </a>
            <a href="static/img/content/lic2.png" data-lightbox="image-1" class="licenses__item">
                <div class="licenses__item-wrap">
                    <img src="static/img/content/lic2.png">
                </div>
            </a>
            <a href="static/img/content/lic1.png" data-lightbox="image-1" class="licenses__item">
                <div class="licenses__item-wrap">
                    <img src="static/img/content/lic1.png">
                </div>
            </a>
            <a href="static/img/content/lic2.png" data-lightbox="image-1" class="licenses__item">
                <div class="licenses__item-wrap">
                    <img src="static/img/content/lic2.png">
                </div>
            </a>
        </div>
    </div>
</div>

<section class="content-page">
    <div class="container">
        <div class="h2 content-page__subtitle">Сео текст</div>
        <div class="d-flex justify-content-between flex-text">
            <div class="flex-text__col">
                <p>В магазинах России в продаже появились куриные яйца в новых упаковках. В них всего
                    девять яиц,
                    а не
                    десять, как привыкли покупатели. В таре яйца расфасованы по три штуки в три ряда Фото новой
                    упаковки появилось в социальных сетях, вызвав большой резонанс среди пользователей. За два дня
                    под новостью "Девяток яиц, пожалуйста" появилось более полутора тысяч сообщений.</p>
            </div>
            <div class="flex-text__col">
                <p>В магазинах России в продаже появились куриные яйца в новых упаковках. В них всего
                    девять яиц, а не
                    десять, как привыкли покупатели. В таре яйца расфасованы по три штуки в три ряда Фото новой
                    упаковки появилось в социальных сетях, вызвав большой резонанс среди пользователей. За два дня
                    под новостью "Девяток яиц, пожалуйста" появилось более полутора тысяч сообщений.</p>
            </div>
        </div>
    </div>
</section>
