.licenses {
    padding-bottom: 0;
    margin-bottom: -24px;

    &__content {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    &__item {
        display: block;
        cursor: pointer;
        overflow: hidden;
        margin-bottom: 24px;
        width: calc(100% / 4 - 18px);
        min-width: calc(100% / 4 - 18px);
        margin-bottom: 24px;
        margin-right: 24px;

        &:nth-child(4n) {
            margin-right: 0;
        }

        &-wrap {
            padding-bottom: 124.8%;
            position: relative;
        }

        img {
            position: absolute;
            object-fit: cover;
            max-width: 100%;
            max-height: 100%;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            margin: auto;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .licenses {
        &__item {
            width: calc(100% / 3 - 16px);
            min-width: calc(100% / 3 - 16px);

            &:nth-child(4n) {
                margin-right: 24px;
            }

            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .licenses {
        margin-bottom: -16px;
        &__item {
            width: calc(100% / 2 - 12px);
            min-width: calc(100% / 2 - 12px);

            &:nth-child(4n) {
                margin-right: 0;
            }

            &:nth-child(3n) {
                margin-right: 24px;
            }

            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
}

@media only screen and (max-width: 360px) {
    .licenses {
        &__item {
            width: 100%;
            min-width: 100%;
            margin-right: 0;
            margin-bottom: 16px;

            &:nth-child(4n) {
                margin-right: 0;
            }

            &:nth-child(3n) {
                margin-right: 0;
            }

            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
}
