<ul>
    <li>
        <a href="main.html">Главная</a>
    </li>
    <li>
        <a href="departments.html">Все отделения - моб версия</a>
    </li>
    <li>
        <a href="department.html">Отделение - моб версия</a>
    </li>
    <li>
        <a href="all-diseases.html">Все заболевания - моб версия</a>
    </li>
    <li>
        <a href="diseases.html">Выбранное заболевания - моб версия</a>
    </li>
    <li>
        <a href="disease.html">Страница заболевания - моб версия</a>
    </li>
    <li>
        <a href="department-doctors.html">Врачи отделения - моб версия</a>
    </li>
    <li>
        <a href="department-price.html">Цены отделение - моб версия</a>
    </li>
    <li>
        <a href="department-faq.html">ЧАВО отделения - моб версия</a>
    </li>
    <li>
        <a href="department-feedback.html">Отзывы отделения - моб версия</a>
    </li>
    <li>
        <a href="department-video.html">Видео отделения - моб версия</a>
    </li>
    <li>
        <a href="all-doctors.html">Врачи - моб версия</a>
    </li>
    <li>
        <a href="doctor.html">Врач - моб версия</a>
    </li>
    <li>
        <a href="price.html">Цены - моб версия</a>
    </li>
    <li>
        <a href="info-doc.html">Правовая информация - моб версия</a>
    </li>
    <li>
        <a href="faq.html">ЧАВО общие - моб версия</a>
    </li>
    <li>
        <a href="our-vacancies.html">Наши вакансии - моб версия</a>
    </li>
    <li>
        <a href="vacancy.html">Вакансия - моб версия</a>
    </li>
    <li>
        <a href="stocks.html">Акции - моб версия</a>
    </li>
    <li>
        <a href="news.html">Новости - моб версия</a>
    </li>
    <li>
        <a href="news-page.html">Новость - моб версия</a>
    </li>
    <li>
        <a href="feedback.html">Отзывы - моб версия</a>
    </li>
    <li>
        <a href="contact.html">Контакты - моб версия</a>
    </li>
    <li>
        <a href="about.html">О нас - моб версия</a>
    </li>
    <li>
        <a href="partners.html">Партнеры  - моб версия</a>
    </li>
    <li>
        <a href="programs.html">Все программы  - моб версия</a>
    </li>
    <li>
        <a href="program.html">Программа  - моб версия</a>
    </li>
    <li>
        <a href="licenses.html">Лицензии  - моб версия</a>
    </li>
    <li>
        <a href="content-page.html">Страница контента</a>
    </li>
    <li>
        <a href="javascript:void(0)"  data-toggle="modal" data-target="#modalProcedure">Модальное окно
            - записаться на прием</a>
    </li>
    <li>
        <a href="javascript:void(0)"  data-toggle="modal" data-target="#modalCall">Модальное окно
            - заказать звонок</a>
    </li>
    <li>
        <a href="javascript:void(0)"   data-toggle="modal" data-target="#modalFeedback">Модальное окно
            - оставить отзыв</a>
    </li>
    <li>
        <a href="javascript:void(0)"  data-toggle="modal" data-target="#modalQuestion">Модальное окно
            - задать вопрос</a>
    </li>
    <li>
        <a href="javascript:void(0)"  data-toggle="modal" data-target="#modalVacancy">Модальное окно
            - откликнуться на вакансию</a>
    </li>
    <li>
        <a href="javascript:void(0)"   data-toggle="modal" data-target="#modalSuccess">Модальное окно
            - успешно</a>
    </li>

</ul>
