<footer class="footer">
    <div class="container">
        <div class="d-flex footer__row">
            <div class="footer__col">
                <div class="footer__title footer-min-btn">Therapy Surgery Clinic</div>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a class="footer__link" href="javascript:void(0)">Клиника</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="javascript:void(0)">Новости</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="javascript:void(0)">Лицензии</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="javascript:void(0)">Оборудование</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="javascript:void(0)">Дисконтная система</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="javascript:void(0)">3D Тур</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="javascript:void(0)">Благотворительность</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="javascript:void(0)">Вакансии</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="javascript:void(0)">Правовая информация</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="javascript:void(0)">Отзывы</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="javascript:void(0)">Врачи</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="javascript:void(0)">Цены</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="javascript:void(0)">Контакты</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="javascript:void(0)">Библиотека</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="javascript:void(0)">Акции</a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <div class="footer__title footer-min-btn">Отделения</div>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a class="footer__link" href="javascript:void(0)">Проктология</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="javascript:void(0)">Урология</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="javascript:void(0)">Гинекология</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="javascript:void(0)">Дерматология</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="javascript:void(0)">Гастроэнтерология</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="javascript:void(0)">Флебология</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="javascript:void(0)">Лор</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="javascript:void(0)">Эндоскопия</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="javascript:void(0)">Терапия</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="javascript:void(0)">Хирургия</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="javascript:void(0)">Кардиология</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="javascript:void(0)">Гематология</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="javascript:void(0)">Эндокринология</a>
                    </li>
                    <li class="footer__item">
                        <a class="footer__link" href="javascript:void(0)">Диетология</a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <div class="footer__title">Контакты</div>
                <div class="footer__info">
                    <div class="footer__title">Телефон горячей линии:</div>
                    <a href="tel:8 800 500 300 4" class="link-text">8 800 500 300 4</a>
                </div>
                <div class="footer__info">
                <a href="javascript:void(0)" class="link"  data-toggle="modal" data-target="#modalProcedure" >Записаться на прием</a>
                </div>

                <div class="footer__info">
                    <div class="footer__title">Адрес:</div>
                    <div class="text">г. Краснодар, ул. Седина 159/1</div>
                </div>

                <div class="footer__info">
                    <div class="footer__title">Режим работы:</div>
                    <div class="text">Пн. — Пт. с 09:00 до 18:00</div>
                </div>

                <div class="footer__info">
                    <div class="footer__title">Режим стационара:</div>
                    <div class="text">Круглосуточно</div>
                </div>

                <div class="footer__info">
                    <div class="footer__title">E–mail:</div>
                    <a href="mailto:hello@ts.ru" class="link-text">hello@ts.ru</a>
                </div>

                <div class="footer__info">
                    <div class="footer__title">Мы в социальных сетях:</div>
                    <ul class="footer__social">
                        <li>
                            <a href="javascript:void(0)"><i class="fab fa-vk"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="fab fa-odnoklassniki"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="footer__info">
                    <div class="footer__title">Принимаем к оплате:</div>
                    <div class="d-flex footer__payment">
                        <img src="static/img/content/visa.svg" alt="visa">
                        <img src="static/img/content/mastercard.svg" alt="mastercard">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="copyright">
    <div class="container">
        <div class="copyright__content">
            <div class="copyright__item">© 2008-2019 Therary Surgery Clinic</div>
            <a href="javascript:void(0)" class="copyright__item">Условия возврата и договор оферты</a>
            <a href="javascript:void(0)" class="copyright__item">Защита персональных данных</a>
            <a href="javascript:void(0)" class="copyright__item">Разработка — КлиентПросто</a>
        </div>
    </div>
</div>
