.footer {
    padding: 48px 0 80px 0;
    background: #FAFAFA;

    &__row {
        justify-content: flex-start;
    }

    &__col {
        width: calc(100% / 3);
        min-width: calc(100% / 3);
    }

    &__title {
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        color: #999999;
        margin-bottom: 24px;
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        margin-bottom: 16px;
    }

    &__link {
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: $black-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
            color: $black-color;
        }
    }

    &__info {
        margin-bottom: 16px;

        .footer__title {
            margin-bottom: 8px;
        }

        .link {
            margin-bottom: 24px;
        }

        .text {
            font-weight: 500;
        }
    }

    &__social {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;

        li {
            display: block;
            width: 24px;
            height: 24px;
            margin-right: 16px;

            &:last-child {
                margin-right: 0;
            }
        }

        a {
            text-decoration: none;
            display: block;
            text-align: center;
            transition: 0.25s;

            &:hover {
                transition: 0.25s;

                i {
                    transition: 0.25s;
                    color: $red-color;
                }
            }
        }

        i {
            transition: 0.25s;
            font-size: 18px;
            line-height: 24px;
            color: $black-color;
        }
    }

    &__payment {
        align-items: center;

        img:first-child {
            margin-right: 30px;
        }
    }
}

.copyright {
    background: #F4F4F4;
    padding: 16px 0;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        width: fit-content;
        display: block;
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        color: $black-color;
    }

    a:hover {
        text-decoration: none;
        color: $red-color;
    }
}

@media only screen and (max-width: 1024px) {
    .copyright {
        &__content {
            flex-wrap: wrap;
        }

        &__item {
            width: 50%;
            min-width: 50%;
            margin-bottom: 8px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        padding: 32px 0 80px 0;

        &__row {
            justify-content: flex-start;
            flex-wrap: wrap;
        }

        &__col {
            width: 100%;
            min-width: 100%;
        }

        &__title {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: $black-color;
        }

        &-min-btn {
            position: relative;

            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                height: 24px;
                width: 24px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                background-image: url("../img/content/arrow-down-black.svg");
            }

            &:before {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                border-bottom: 1px solid #dddddd;
                position: absolute;
                bottom: -12px;
                left: 0;
            }

            &.active {
                &:after {
                    background-image: url("../img/content/arrow-down-hover.svg");
                }

                &:before {
                    border-bottom-color: $red-color;
                }
            }
        }

        &__list {
            display: none;
            padding: 8px 0;

            &.show {
                display: block;
            }
        }

        &__item {
            margin-bottom: 8px;
        }

        &__info {
            .link {
                margin-bottom: 16px;
            }

            .footer__title {
                font-size: 12px;
                line-height: 20px;
                color: #666666;
                font-weight: 400;
            }
        }

        &__payment {
            align-items: center;

            img:first-child {
                margin-right: 30px;
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .copyright {
        &__item {
            width: 100%;
            min-width: 100%;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
