.programs {
    &__content {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-bottom: 24px;
    }

    &__item {
        width: calc(100% / 3 - 16px);
        min-width: calc(100% / 3 - 16px);
        box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
        margin-right: 24px;
        margin-bottom: 24px;

        &:nth-child(3n) {
            margin-right: 0;
        }
    }

    &__image {
        position: relative;
        padding-bottom: 56.25%;
        overflow: hidden;

        img {
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__info {
        padding: 32px 24px 24px 24px;
        background: $white-color;
        font-family: "Montserrat";
        color: $black-color;
        position: relative;
    }

    &__title {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        display: block;
        cursor: pointer;
        transition: 0.15s;
        color: $black-color;

        &:hover {
            color: $red-color;
            transition: 0.15s;
            text-decoration: none;
        }
    }

    &__text {
        font-size: 14px;
        line-height: 20px;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 120px;
        max-width: 100%;
    }

    &__link {
        height: 34px;
        position: absolute;
        bottom: 24px;
        left: 24px;
        width: calc(100% - 48px);
        font-size: 14px;
        line-height: 20px;
        color: $red-color;
        display: flex;
        align-items: flex-end;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 30.73%, #FFFFFF 100%);

        &:hover {
            color: $red-color;
            cursor: pointer;
            text-decoration: none;
        }
    }
}
@media only screen and (max-width:1024px){
    .programs {
        &__item {
            width: calc(100% / 2 - 12px);
            min-width: calc(100% / 2 - 12px);

            &:nth-child(3n) {
                margin-right: 24px;
            }

            &:nth-child(2n) {
                margin-right: 0px;
            }
        }
    }
}

@media only screen and (max-width:768px) {
    .programs {
        &__item {
            width: calc(100% / 2 - 8px);
            min-width: calc(100% / 2 - 8px);
            margin-right: 16px;

            &:nth-child(3n) {
                margin-right: 16px;
            }

            &:nth-child(2n) {
                margin-right: 0px;
            }
        }
    }
}

@media only screen and (max-width:576px) {
    .programs {
        &__content {
            margin-bottom: 8px;
        }

        &__item {
            width: 100%;
            min-width: 100%;
            margin-right: 0px;
            margin-bottom: 16px;

            &:nth-child(3n) {
                margin-right: 0;
            }

            &:nth-child(2n) {
                margin-right: 0;
            }
        }

        &__image {
            padding-bottom: 66.67%;
        }

        &__info {
            padding: 24px 16px;
        }

        &__link {
            bottom: 24px;
            left: 16px;
            width: calc(100% - 32px);
        }
    }
}
