<div class="container">
    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="main.html">Главная</a></li>
            <li class="breadcrumb__item">Хлебные крошки</li>
        </ul>
    </div>
</div>

<div class="text-page programs">
    <div class="container">
        <div class="h1 title-page">Управление здоровьем</div>
        <div class="programs__content">
            <div class="programs__item">
                <div class="programs__image">
                    <img src="static/img/content/new1.png">
                </div>
                <div class="programs__info">
                    <a href="javascript:void(0)" class="programs__title">Школа жизни</a>
                    <div class="programs__text">В этом году у нас очень большие скидки на все услуги клиники, успейте
                        записаться на прием. В этом году у нас очень большие скидки на все услуги клиники, успейте
                        записаться на прием.
                    </div>
                    <a href="program.html" class="programs__link">Читать полностью</a>
                </div>
            </div>

            <div class="programs__item">
                <div class="programs__image">
                    <img src="static/img/content/new2.png">
                </div>
                <div class="programs__info">
                    <a href="javascript:void(0)" class="programs__title">Школа жизни</a>
                    <div class="programs__text">В этом году у нас очень большие скидки на все услуги клиники, успейте
                        записаться на прием. В этом году у нас очень большие скидки на все услуги клиники, успейте
                        записаться на прием.
                    </div>
                    <a href="program.html" class="programs__link">Читать полностью</a>
                </div>
            </div>

            <div class="programs__item">
                <div class="programs__image">
                    <img src="static/img/content/new3.png">
                </div>
                <div class="programs__info">
                    <a href="javascript:void(0)" class="programs__title">Школа жизни</a>
                    <div class="programs__text">В этом году у нас очень большие скидки на все услуги клиники, успейте
                        записаться на прием. В этом году у нас очень большие скидки на все услуги клиники, успейте
                        записаться на прием.
                    </div>
                    <a href="program.html" class="programs__link">Читать полностью</a>
                </div>
            </div>

            <div class="programs__item">
                <div class="programs__image">
                    <img src="static/img/content/new1.png">
                </div>
                <div class="programs__info">
                    <a href="javascript:void(0)" class="programs__title">Школа жизни</a>
                    <div class="programs__text">В этом году у нас очень большие скидки на все услуги клиники, успейте
                        записаться на прием. В этом году у нас очень большие скидки на все услуги клиники, успейте
                        записаться на прием.
                    </div>
                    <a href="program.html" class="programs__link">Читать полностью</a>
                </div>
            </div>

            <div class="programs__item">
                <div class="programs__image">
                    <img src="static/img/content/new2.png">
                </div>
                <div class="programs__info">
                    <a href="javascript:void(0)" class="programs__title">Школа жизни</a>
                    <div class="programs__text">В этом году у нас очень большие скидки на все услуги клиники, успейте
                        записаться на прием. В этом году у нас очень большие скидки на все услуги клиники, успейте
                        записаться на прием.
                    </div>
                    <a href="program.html" class="programs__link">Читать полностью</a>
                </div>
            </div>

            <div class="programs__item">
                <div class="programs__image">
                    <img src="static/img/content/new3.png">
                </div>
                <div class="programs__info">
                    <a href="javascript:void(0)" class="programs__title">Школа жизни</a>
                    <div class="programs__text">В этом году у нас очень большие скидки на все услуги клиники, успейте
                        записаться на прием. В этом году у нас очень большие скидки на все услуги клиники, успейте
                        записаться на прием.
                    </div>
                    <a href="program.html" class="programs__link">Читать полностью</a>
                </div>
            </div>
        </div>

        <div class="pagination">
            <a href="javascript:void(0)" class="pagination__prev"></a>
            <ul class="pagination__pages">
                <li class="pagination__item"><a href="javascript:void(0)">1</a></li>
                <li class="pagination__item"><a href="javascript:void(0)">2</a></li>
                <li class="pagination__item"><a href="javascript:void(0)">9</a></li>
                <li class="pagination__item"><a href="javascript:void(0)">...</a></li>
                <li class="pagination__item"><a href="javascript:void(0)">7</a></li>
                <li class="pagination__item"><a href="javascript:void(0)">8</a></li>
                <li class="pagination__item"><a href="javascript:void(0)">9</a></li>
            </ul>
            <a href="javascript:void(0)" class="pagination__next"></a>
        </div>
    </div>
</div>
