.vacancy {
    padding-bottom: 80px;
    color: $black-color;
    font-family: "Montserrat";

    &__title {
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 8px;
    }
    &__salary {
        color: $red-color;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 32px;
    }

    p {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
    }

    .h3 {
        font-weight: 500;
        margin-top: 24px;
        margin-bottom: 16px;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: 0;
        li {
            display: flex;
            align-items: flex-start;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            &:before {
                content: '—';
                display: block;
                height: 20px;
                margin-right: 8px;
            }
        }
    }

    .link {
        margin-top: 48px;
    }
}

@media only screen and (max-width: 768px) {
    .vacancy {
        padding-bottom: 40px;
        color: $black-color;
        font-family: "Montserrat";

        &__title {
            font-weight: normal;
            font-size: 24px;
            line-height: 32px;
        }

        .link {
            margin-top: 32px;
        }
    }
}
