<div class="container">
    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="main.html">Главная</a></li>
            <li class="breadcrumb__item">Хлебные крошки</li>
        </ul>
    </div>
</div>

<div class="vacancy">
    <div class="container">
        <div class="vacancy__title">Врач–гинеколог</div>
        <div class="vacancy__salary">от 30 000₽</div>
        <p>Требуемый опыт работы: 3–6 лет</p>
        <p>Полная занятость, полный день</p>

        <div class="h3">Обязанности:</div>
        <ul>
            <li>Абулаторно-поликлинический прием пациентов в соответствии с стандартами Министерства здравоохранения;</li>
            <li>Квалифицированная медицинская помощь по своей специальности, использование современных методов
                профилактики, диагностики и лечения;</li>
            <li>Оказание экстренной и неотложной медицинской помощи по своей специальности, используя современные
                методы диагностики, лечения, профилактики и реабилитации пациентов;</li>
            <li>Оформление требуемой медицинской документации установленного образца в соответствии с требованиями МЗ
                РФ и клиники</li>
        </ul>

        <div class="h3">Требования:</div>
        <ul>
            <li>обязателен опыт работы не менее 5 лет</li>
            <li>действующий сертификат</li>
        </ul>

        <div class="h3">Условия:</div>
        <ul>
            <li>работа на территории работодателя,</li>
            <li>оформление по ТК РФ,</li>
            <li>обед за счёт работодателя,</li>
            <li>заработная плата оговаривается на собеседовании.</li>
        </ul>

        <a href="javascript:void(0)" class="link">Откликнуться на вакансию</a>
    </div>
</div>
