.info-doc {
    &__content {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        position: relative;
        margin-right: 24px;
        width: calc(20% - 19.75px);
        min-width: calc(20% - 19.75px);
        position: relative;
        border: 1px solid #DDDDDD;
        border-radius: 2px;
        font-family: "Montserrat";
        color: $black-color;
        box-sizing: border-box;
        margin-bottom: 24px;
        padding: 16px;
        height: 225px;

        &:nth-child(5n) {
            margin-right: 0;
        }
        &.pdf {
            .info-doc__type {
                background-image: url("../img/content/pdf.svg");
            }
        }

        &.word {
            .info-doc__type {
                background-image: url("../img/content/word.svg");
            }
        }

        &:before {
            content: '';
            display: block;
            height: 40px;
            width: 40px;
            border-radius: 0 0 0 4px;
            position: absolute;
            top: -1px;
            right: -1px;
            border: 20px solid $white-color;
            border-bottom: 20px solid #DDDDDD;
            border-left: 20px solid #DDDDDD;
        }
    }
    &__type {
        height: 40px;
        width: 40px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-bottom: 16px;
    }
    &__name {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 60px;
        max-width: 100%;
    }
    &__download {
        display: flex;
        align-items: center;
        position: absolute;
        left: 16px;
        bottom: 16px;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: $black-color;
        text-decoration: none;
        cursor: pointer;
        &:before {
            content: "";
            display: block;
            height: 24px;
            width: 24px;
            margin-right: 8px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            background-image: url("../img/content/download.svg");
        }

        &:hover {
            color: $red-color;
            text-decoration: none;
        }
    }
}

@media only screen and (max-width: 1260px) {
    .info-doc {
        &__item {
            width: calc(25% - 18px);
            min-width: calc(25% - 18px);

            &:nth-child(5n) {
                margin-right: 24px;
            }

            &:nth-child(4n) {
                margin-right: 0;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .info-doc {
        &__item {
            width: calc(100% / 3 - 16px);
            min-width: calc(100% / 3 - 16px);
            height: 225px;
            &:nth-child(4n) {
                margin-right: 24px;
            }
            &:nth-child(3n) {
                margin-right: 0px;
            }
        }
    }
}


@media only screen and (max-width: 768px) {
    .info-doc {
        &__content {
            display: flex;
            flex-wrap: wrap;
        }

        &__item {
            margin-right: 16px;
            width: calc(100% / 3 - 11px);
            min-width: calc(100% / 3 - 11px);
            margin-bottom: 16px;
            padding: 8px 8px 16px 8px;
            height: auto;
            &:nth-child(5n) {
                margin-right: 16px;
            }
            &:nth-child(4n) {
                margin-right: 16px;
            }
            &:nth-child(3n) {
                margin-right: 0px;
            }

            &:before {
                height: 24px;
                width: 24px;
                border: 12px solid $white-color;
                border-bottom: 12px solid #DDDDDD;
                border-left: 12px solid #DDDDDD;
            }
        }
        &__wrap {
            position: relative;
            padding-bottom: 117.6%;
        }
        &__text {
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        &__type {
            height: 32px;
            width: 32px;
        }
        &__name {
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            max-height: 48px;
            max-width: 100%;
        }
        &__download {
            left: 0;
            bottom: 0;
            span {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 470px) {
    .info-doc {
        &__item {
            width: calc(50% - 8px);
            min-width: calc(50% - 8px);

            &:nth-child(3n) {
                margin-right: 16px;
            }
            &:nth-child(2n) {
                margin-right: 0;
            }

            &:before {
                height: 24px;
                width: 24px;
                border: 12px solid $white-color;
                border-bottom: 12px solid #DDDDDD;
                border-left: 12px solid #DDDDDD;
            }
        }
        &__wrap {
            position: relative;
            padding-bottom: 117.6%;
        }
        &__text {
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        &__type {
            height: 32px;
            width: 32px;
        }
        &__name {
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            max-height: 48px;
            max-width: 100%;
        }
        &__download {
            left: 0;
            bottom: 0;
            span {
                display: none;
            }
        }
    }
}
