<div class="container">
    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="main.html">Главная</a></li>
            <li class="breadcrumb__item">Хлебные крошки</li>
        </ul>
    </div>
</div>

<div class="text-page info-doc">
    <div class="container">
        <div class="h1 title-page info-doc__title">Правовая информация</div>

        <div class="info-doc__content">
            <div class="info-doc__item pdf">
                <div class="info-doc__wrap">
                    <div class="info-doc__text">
                        <div class="info-doc__type"></div>
                        <div class="info-doc__name">Правила оказания медицинской помощи в TS Clinic</div>
                        <a href="javascript:void(0)" class="info-doc__download">Скачать<span> документ</span></a>
                    </div>
                </div>
            </div>

            <div class="info-doc__item word">
                <div class="info-doc__wrap">
                    <div class="info-doc__text">
                        <div class="info-doc__type"></div>
                        <div class="info-doc__name">Правила оказания медицинской помощи в TS Clinic</div>
                        <a href="javascript:void(0)" class="info-doc__download">Скачать<span> документ</span></a>
                    </div>
                </div>
            </div>

            <div class="info-doc__item pdf">
                <div class="info-doc__wrap">
                    <div class="info-doc__text">
                        <div class="info-doc__type"></div>
                        <div class="info-doc__name">Правила оказания медицинской помощи в TS Clinic</div>
                        <a href="javascript:void(0)" class="info-doc__download">Скачать<span> документ</span></a>
                    </div>
                </div>
            </div>

            <div class="info-doc__item word">
                <div class="info-doc__wrap">
                    <div class="info-doc__text">
                        <div class="info-doc__type"></div>
                        <div class="info-doc__name">Правила оказания медицинской помощи в TS Clinic</div>
                        <a href="javascript:void(0)" class="info-doc__download">Скачать<span> документ</span></a>
                    </div>
                </div>
            </div>
            <div class="info-doc__item pdf">
                <div class="info-doc__wrap">
                    <div class="info-doc__text">
                        <div class="info-doc__type"></div>
                        <div class="info-doc__name">Правила оказания медицинской помощи в TS Clinic</div>
                        <a href="javascript:void(0)" class="info-doc__download">Скачать<span> документ</span></a>
                    </div>
                </div>
            </div>

            <div class="info-doc__item word">
                <div class="info-doc__wrap">
                    <div class="info-doc__text">
                        <div class="info-doc__type"></div>
                        <div class="info-doc__name">Правила оказания медицинской помощи в TS Clinic</div>
                        <a href="javascript:void(0)" class="info-doc__download">Скачать<span> документ</span></a>
                    </div>
                </div>
            </div>
            <div class="info-doc__item pdf">
                <div class="info-doc__wrap">
                    <div class="info-doc__text">
                        <div class="info-doc__type"></div>
                        <div class="info-doc__name">Правила оказания медицинской помощи в TS Clinic</div>
                        <a href="javascript:void(0)" class="info-doc__download">Скачать<span> документ</span></a>
                    </div>
                </div>
            </div>

            <div class="info-doc__item word">
                <div class="info-doc__wrap">
                    <div class="info-doc__text">
                        <div class="info-doc__type"></div>
                        <div class="info-doc__name">Правила оказания медицинской помощи в TS Clinic</div>
                        <a href="javascript:void(0)" class="info-doc__download">Скачать<span> документ</span></a>
                    </div>
                </div>
            </div>
            <div class="info-doc__item pdf">
                <div class="info-doc__wrap">
                    <div class="info-doc__text">
                        <div class="info-doc__type"></div>
                        <div class="info-doc__name">Правила оказания медицинской помощи в TS Clinic</div>
                        <a href="javascript:void(0)" class="info-doc__download">Скачать<span> документ</span></a>
                    </div>
                </div>
            </div>

            <div class="info-doc__item word">
                <div class="info-doc__wrap">
                    <div class="info-doc__text">
                        <div class="info-doc__type"></div>
                        <div class="info-doc__name">Правила оказания медицинской помощи в TS Clinic</div>
                        <a href="javascript:void(0)" class="info-doc__download">Скачать<span> документ</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="content-page">
    <div class="container">
        <div class="h2 content-page__subtitle">Сео текст</div>
        <div class="d-flex justify-content-between flex-text">
            <div class="flex-text__col">
                <p>В магазинах России в продаже появились куриные яйца в новых упаковках. В них всего
                    девять яиц,
                    а не
                    десять, как привыкли покупатели. В таре яйца расфасованы по три штуки в три ряда Фото новой
                    упаковки появилось в социальных сетях, вызвав большой резонанс среди пользователей. За два дня
                    под новостью "Девяток яиц, пожалуйста" появилось более полутора тысяч сообщений.</p>
            </div>
            <div class="flex-text__col">
                <p>В магазинах России в продаже появились куриные яйца в новых упаковках. В них всего
                    девять яиц, а не
                    десять, как привыкли покупатели. В таре яйца расфасованы по три штуки в три ряда Фото новой
                    упаковки появилось в социальных сетях, вызвав большой резонанс среди пользователей. За два дня
                    под новостью "Девяток яиц, пожалуйста" появилось более полутора тысяч сообщений.</p>
            </div>
        </div>
    </div>
</section>
