.contact {
    padding-bottom: 0;

    &__content {
        display: flex;
        align-items: flex-start;
        margin-bottom: 48px;
        justify-content: space-between;
    }

    &__col {
        width: calc(100% / 3 - 18px);
        min-width: calc(100% / 3 - 18px);
        font-family: "Montserrat";
        color: $black-color;
    }

    &__title {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 16px;
    }

    .icon {
        display: block;
        height: 32px;
        width: 32px;
        min-width: 24px;
        margin-right: 8px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .icon-point {
        background-image: url("../img/content/icon-local.svg");
        background-size: 16px;
    }

    .icon-time {
        background-image: url("../img/content/icon-time.svg");
        background-size: 21px;
    }

    .icon-phone {
        background-image: url("../img/content/icon-phone.svg");
        background-size: 24px;
    }

    .icon-mail {
        background-image: url("../img/content/icon-mail.svg");
    }

    &__text {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        margin-bottom: 16px;

        a {
            font-size: 16px;
            line-height: 24px;
            color: $black-color;
            text-decoration: none;
            transition: 0.15s;

            &:hover {
                color: $red-color;
                text-decoration: none;
                transition: 0.15s;
            }
        }
    }

    .link {
        margin-bottom: 32px;
    }

    &__map {
        margin-bottom: 48px;
        width: 100%;
        height: 400px;
        position: relative;

        .map {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
        }
    }

    &__wrap-form {
        position: relative;
        padding: 40px;
        background-image: url("../img/content/contact.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__form {
        background: #FFFFFF;
        box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        width: 548px;
        background: $white-color;
        height: auto;
        padding: 32px;
        &-img {
            display: none;
        }
        .h3 {
            font-weight: 500;
            margin-bottom: 24px;
        }

        .form-checkbox {
            margin-bottom: 24px;
        }

        .link-red {
            width: 100%;
            text-align: center;
        }
    }

    &__select {
        width: 100%;
        margin-bottom: 16px;
        .select2-container {
            width: 100% !important;
            height: 40px;
        }
        .select2-container--default .select2-selection--single {
            border: 1px solid #DDDDDD;
            box-sizing: border-box;
            border-radius: 2px;
            height: 40px;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            height: 40px;
            line-height: 40px;
            font-family: "Montserrat";
            font-weight: normal;
            font-size: 14px;
            color: $black-color;
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 38px;
        }
    }


    .form-group {
        margin-bottom: 16px;
        &__input {
            background: $white-color;
            padding: 10px 16px;
            border: 1px solid #DDDDDD;
            box-sizing: border-box;
            border-radius: 2px;
            color: $black-color;
            font-family: "Montserrat";
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            width: 100%;
            transition: 0.15s;

            &::placeholder {
                color: #999999;
            }

            &:focus {
                border-color: $black-color;
                outline: none;
            }

            &:hover {
                border-bottom-color: $red-color;
                transition: 0.15s;
            }

            &:active {
                border-color: $red-color;
                transition: 0.15s;
            }
            &[disabled="disabled"] {
                background: #DDDDDD;
                &:hover {
                    border-color: #DDDDDD;
                }
            }

        }

        &.has-error {
            .form-group__input {
                border-color: #F44336;
            }

            .form-group__help {
                display: block;
            }
        }

        &__textarea {
            width: 100%;
            resize: none;
            height: auto;
            background: $white-color;
            border: 1px solid #DDDDDD;
            box-sizing: border-box;
            border-radius: 2px;
            padding: 10px 16px;
            font-family: "Montserrat";
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: $black-color;
        }

        &__help {
            display: none;
            margin-top: 8px;
            font-family: "Montserrat";
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            color: #F44336;
        }
    }

    .form-radio {
        margin-bottom: 16px;
        position: relative;
        &__input {
            padding: 0;
            height: initial;
            width: initial;
            margin-bottom: 0;
            display: none;
            cursor: pointer;
            &:checked + label:before {
                background-image: url("../img/content/radio-check.svg");
            }
        }
        &__label {
            display: flex;
            position: relative;
            font-family: "Montserrat";
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            align-items: center;
            color: $black-color;
            &:before {
                content: "";
                display: block;
                height: 16px;
                width: 16px;
                min-width: 16px;
                margin-right: 12px;
                background-image: url("../img/content/radio.svg");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }
    }
}

@media only screen and (max-width:1260px){
    .contact {
        &__title {
            font-size: 16px;
            line-height: 24px;
        }

        &__text {
            font-size: 14px;
            line-height: 20px;

            a {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}

@media only screen and (max-width:1024px){
    .contact {
        &__content {
            flex-wrap: wrap;
        }

        &__col {
            width: calc(100% / 2 - 12px);
            min-width: calc(100% / 2 - 12px);

        }


        .link {
            margin-bottom: 32px;
        }

        &__map {
            margin-bottom: 48px;
            width: 100%;
            height: 400px;
        }

        &__wrap-form {
            position: relative;
            padding: 40px;
            background-image: url("../img/content/contact.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        &__form {
            background: #FFFFFF;
            box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
            width: 548px;
            background: $white-color;
            height: auto;
            padding: 32px;

            .h3 {
                font-weight: 500;
                margin-bottom: 24px;
            }

            .form-checkbox {
                margin-bottom: 24px;
            }

            .link-red {
                width: 100%;
                text-align: center;
            }
        }

        &__select {
            width: 100%;
            margin-bottom: 16px;
            .select2-container {
                width: 100% !important;
                height: 40px;
            }
            .select2-container--default .select2-selection--single {
                border: 1px solid #DDDDDD;
                box-sizing: border-box;
                border-radius: 2px;
                height: 40px;
            }
            .select2-container--default .select2-selection--single .select2-selection__rendered {
                height: 40px;
                line-height: 40px;
                font-family: "Montserrat";
                font-weight: normal;
                font-size: 14px;
                color: $black-color;
            }
            .select2-container--default .select2-selection--single .select2-selection__arrow {
                height: 38px;
            }
        }


        .form-group {
            margin-bottom: 16px;
            &__input {
                background: $white-color;
                padding: 10px 16px;
                border: 1px solid #DDDDDD;
                box-sizing: border-box;
                border-radius: 2px;
                color: $black-color;
                font-family: "Montserrat";
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                width: 100%;
                transition: 0.15s;

                &::placeholder {
                    color: #999999;
                }

                &:focus {
                    border-color: $black-color;
                    outline: none;
                }

                &:hover {
                    border-bottom-color: $red-color;
                    transition: 0.15s;
                }

                &:active {
                    border-color: $red-color;
                    transition: 0.15s;
                }
                &[disabled="disabled"] {
                    background: #DDDDDD;
                    &:hover {
                        border-color: #DDDDDD;
                    }
                }

            }

            &.has-error {
                .form-group__input {
                    border-color: #F44336;
                }

                .form-group__help {
                    display: block;
                }
            }

            &__textarea {
                width: 100%;
                resize: none;
                height: auto;
                background: $white-color;
                border: 1px solid #DDDDDD;
                box-sizing: border-box;
                border-radius: 2px;
                padding: 10px 16px;
                font-family: "Montserrat";
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                color: $black-color;
            }

            &__help {
                display: none;
                margin-top: 8px;
                font-family: "Montserrat";
                font-weight: normal;
                font-size: 12px;
                line-height: 16px;
                color: #F44336;
            }
        }

        .form-radio {
            margin-bottom: 16px;
            position: relative;
            &__input {
                padding: 0;
                height: initial;
                width: initial;
                margin-bottom: 0;
                display: none;
                cursor: pointer;
                &:checked + label:before {
                    background-image: url("../img/content/radio-check.svg");
                }
            }
            &__label {
                display: flex;
                position: relative;
                font-family: "Montserrat";
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                align-items: center;
                color: $black-color;
                &:before {
                    content: "";
                    display: block;
                    height: 16px;
                    width: 16px;
                    min-width: 16px;
                    margin-right: 12px;
                    background-image: url("../img/content/radio.svg");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }
            }
        }
    }
}

@media only screen and (max-width:768px) {
    .contact {
        &__content {
            flex-direction: column;
            margin-bottom: 24px;
        }

        &__col {
            width: 100%;
            min-width: 100%;
        }

        &__title {
            margin-bottom: 8px;
        }

        .link {
            margin-bottom: 16px;
        }

        &__map {
            margin-bottom: 32px;
            position: relative;
            padding-bottom: 50%;
            height: 144px;
            .map {
                position: absolute;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        &__wrap-form {
            padding: 0px;
            background-image: none;
        }

        &__form {
            box-shadow: none;
            border-radius: 0px;
            width: 100%;
            background: $white-color;
            height: auto;
            padding: 0px;
            &-img {
                padding-bottom: 50%;
                position: relative;
                margin-bottom: 24px;
                display: block;
                img {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
