<div class="container">
    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="main.html">Главная</a></li>
            <li class="breadcrumb__item">Хлебные крошки</li>
        </ul>
    </div>
</div>

<div class="text-page contact">
    <div class="container">
        <div class="h1 title-page">Контакты</div>
        <div class="contact__content">
            <div class="contact__col">
                <div class="contact__title"><span class="icon icon-point"></span>Адрес</div>
                <div class="contact__text">Россия, Краснодарский край, г. Краснодар, ул. Кузнечная, 4.</div>
            </div>
            <div class="contact__col">
                <div class="contact__title"><span class="icon icon-time"></span>Режим работы отделения</div>
                <div class="contact__text">пн. — пт. с 09:00 до 18:00</div>
                <div class="contact__title"><span class="icon icon-time"></span>Режим работы стационара</div>
                <div class="contact__text">Круглосуточно</div>
            </div>
            <div class="contact__col">
                <div class="contact__title"><span class="icon icon-phone"></span>Телефон горячей линии</div>
                <div class="contact__text"><a href="tel:8 800 500 300 4">8 800 500 300 4</a> — Круглосуточно</div>
                <a href="javascript:void(0)" class="link"  data-toggle="modal" data-target="#modalCall">Заказать
                    звонок</a>

                <div class="contact__title"><span class="icon icon-mail"></span>Электронная почта</div>
                <div class="contact__text"><a href="mailto:info@ts.ru">info@ts.ru</a></div>
                <a href="javascript:void(0)" class="link"  data-toggle="modal" data-target="#modalProcedure">Записаться на прием</a>
            </div>
        </div>
        <div class="contact__map">
            <div class="map" id="map"></div>
        </div>
        <div class="contact__wrap-form">
            <div class="contact__form">
                <div class="h3">Запишитесь на прием онлайн!</div>
                <div class="contact__form-img">
                    <img src="static/img/content/contact.png" alt>
                </div>
                <div class="contact__select">
                    <select class="contact-select">
                        <option>Выберите отделение из списка</option>
                        <option>Проктология</option>
                        <option>Проктология</option>
                    </select>
                </div>

                <div class="form-radio">
                    <input type="radio" class="form-radio__input" name="radio" id="radio1" checked="checked">
                    <label for="radio1" class="form-radio__label">Хочу получить ответ на почту</label>
                </div>

                <div class="form-radio">
                    <input type="radio" class="form-radio__input" name="radio" id="radio2">
                    <label for="radio2" class="form-radio__label">Хочу получить ответ на телефон</label>
                </div>

                <div class="form-group has-error">
                    <input type="text" class="form-group__input" placeholder="ФИО">
                    <div class="form-group__help">*У вас тут ошибка</div>
                </div>

                <div class="form-group">
                    <input type="text" class="form-group__input" placeholder="Телефон / Почта" disabled="disabled">
                </div>
                <div class="form-group">
                    <textarea class="form-group__textarea" placeholder="Текст обращений" rows="1"></textarea>
                </div>
                <div class="form-checkbox">
                    <input type="checkbox" id="checkbox" class="form-checkbox__input">
                    <label for="checkbox" class="form-gcheckbox__label">Согласен на обработку персональных
                        данных</label>
                </div>
                <button class="link-red">Отправить</button>
            </div>
        </div>
    </div>
</div>

<section class="content-page">
    <div class="container">
        <div class="h2 content-page__subtitle">Сео текст</div>
        <div class="d-flex justify-content-between flex-text">
            <div class="flex-text__col">
                <p>В магазинах России в продаже появились куриные яйца в новых упаковках. В них всего
                    девять яиц,
                    а не
                    десять, как привыкли покупатели. В таре яйца расфасованы по три штуки в три ряда Фото новой
                    упаковки появилось в социальных сетях, вызвав большой резонанс среди пользователей. За два дня
                    под новостью "Девяток яиц, пожалуйста" появилось более полутора тысяч сообщений.</p>
            </div>
            <div class="flex-text__col">
                <p>В магазинах России в продаже появились куриные яйца в новых упаковках. В них всего
                    девять яиц, а не
                    десять, как привыкли покупатели. В таре яйца расфасованы по три штуки в три ряда Фото новой
                    упаковки появилось в социальных сетях, вызвав большой резонанс среди пользователей. За два дня
                    под новостью "Девяток яиц, пожалуйста" появилось более полутора тысяч сообщений.</p>
            </div>
        </div>
    </div>
</section>

<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script>
    ymaps.ready(init);

    function init() {
        var myMap = new ymaps.Map('map', {
                center: [45.036515, 38.977128],
                zoom: 17
            }, {
                searchControlProvider: 'yandex#search'
            }),

            myPlacemarkWithContent = new ymaps.Placemark([45.036515, 38.977128], {
                hintContent: 'ул. Кузнечная, 4',
                balloonContent: 'ул. Кузнечная, 4'
            }, {
                iconLayout: 'default#image',
                iconImageHref: 'http://blog.karmanov.ws/files/APIYaMaps1/min_marker.png',
                iconImageSize: [40, 51],
                iconImageOffset: [-20, -47]
            });

        myMap.geoObjects
            .add(myPlacemarkWithContent);

    };
</script>
