<div class="container">
    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="main.html">Главная</a></li>
            <li class="breadcrumb__item">Хлебные крошки</li>
        </ul>
    </div>
</div>

<div class="text-page about">
    <div class="container">
        <div class="h1 title-page">О нас</div>
    </div>
    <a class="container-fluid">
        <div class="about__content">
            <a href="#" class="about__item about__short">
                <div class="about__image">
                    <img src="static/img/content/about1.png" alt="">
                </div>
                <div class="about__link">О клинике</div>
            </a>

            <a href="news.html" class="about__item about__short">
                <div class="about__image">
                    <img src="static/img/content/about2.png" alt="">
                </div>
                <div class="about__link">Новости</div>
            </a>
            <a href="#"  class="about__item about__short">
                <div class="about__image">
                    <img src="static/img/content/about3.png" alt="">
                </div>
                <div class="about__link">Лицензии</div>
            </a>
            <a href="#" class="about__item about__short">
                <div class="about__image">
                    <img src="static/img/content/about4.png" alt="">
                </div>
                <div class="about__link">3D тур</div>
            </a>
            <a href="#" class="about__item about__short">
                <div class="about__image">
                    <img src="static/img/content/about5.png" alt="">
                </div>
                <div class="about__link">Дисконтная система</div>
            </a>
            <a href="#" class="about__item about__short">
                <div class="about__image">
                    <img src="static/img/content/about6.png" alt="">
                </div>
                <div class="about__link">Подарочный сертификат</div>
            </a>

            <a href="#" class="about__item about__short">
                <div class="about__image">
                    <img src="static/img/content/about7.png" alt="">
                </div>
                <div class="about__link">Вакансии</div>
            </a>
            <a href="info-doc.html" class="about__item about__short">
                <div class="about__image">
                    <img src="static/img/content/about8.png" alt="">
                </div>
                <div class="about__link">Правовая информация</div>
            </a>

            <a href="#" class="about__item about__short">
                <div class="about__image">
                    <img src="static/img/content/about9.png" alt="">
                </div>
                <div class="about__link">Справка для налогового вычета</div>
            </a>
            <a href="#" class="about__item about__long">
                <div class="about__image">
                    <img src="static/img/content/about10.png" alt="">
                </div>
                <div class="about__link">3D тур</div>
            </a>

            <a href="#" class="about__item about__long">
                <div class="about__image">
                    <img src="static/img/content/about11.png" alt="">
                </div>
                <div class="about__link">Научная деятельность</div>
            </a>
        </a>
    </div>
</div>
<section class="content-page">
    <div class="container">
        <div class="h2 content-page__subtitle">Сео текст</div>
        <div class="d-flex justify-content-between flex-text">
            <div class="flex-text__col">
                <p>В магазинах России в продаже появились куриные яйца в новых упаковках. В них всего
                    девять яиц,
                    а не
                    десять, как привыкли покупатели. В таре яйца расфасованы по три штуки в три ряда Фото новой
                    упаковки появилось в социальных сетях, вызвав большой резонанс среди пользователей. За два дня
                    под новостью "Девяток яиц, пожалуйста" появилось более полутора тысяч сообщений.</p>
            </div>
            <div class="flex-text__col">
                <p>В магазинах России в продаже появились куриные яйца в новых упаковках. В них всего
                    девять яиц, а не
                    десять, как привыкли покупатели. В таре яйца расфасованы по три штуки в три ряда Фото новой
                    упаковки появилось в социальных сетях, вызвав большой резонанс среди пользователей. За два дня
                    под новостью "Девяток яиц, пожалуйста" появилось более полутора тысяч сообщений.</p>
            </div>
        </div>
    </div>
</section>

