.about {
    padding-bottom: 0;

    &__content {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
    }

    .container-fluid {
        max-width: 100%;
    }

    &__short {
        width: calc(100% / 3);
        min-width: calc(100% / 3);
    }

    &__long {
        width: calc(100% / 2);
        min-width: calc(100% / 2);
        .about__image {
            padding-bottom: 55.55%;
        }
    }
    &__item {
        position: relative;
        transition: all 0.5s ease-in-out;
        &:hover {
            .about__image img{
                transform: scale(1.1);
            }
        }
    }

    &__image {
        position: relative;
        overflow: hidden;
        padding-bottom: 83.16%;

        img {
            transition: all 0.5s ease-in-out;
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            transform: scale(1);
        }
    }
    &__link {
        position: absolute;
        bottom: 24px;
        left: 24px;
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
        color: $white-color;
        transition: 0.15s;
        max-width: calc(100% - 48px);
        &:hover {
            color: $red-color;
            text-decoration: none;
            transition: 0.15s;
        }
    }
}

@media only screen and (max-width:768px){
    .about {
        &__link {
            bottom: 16px;
            left: 16px;
            font-size: 20px;
            line-height: 28px;
            max-width: calc(100% - 32px);
        }

        &__short {
            width: calc(100% / 2);
            min-width: calc(100% / 2);
        }
        &__long {
            .about__image {
                padding-bottom: 83.16%;
            }
        }
    }
}

@media only screen and (max-width:576px){
    .about {
        &__short {
            width: 100%;
            min-width: 100%;
        }

        &__long {
            width: 100%;
            min-width: 100%;
            .about__image {
                padding-bottom: 75%;
            }
        }
        &__image {
            padding-bottom: 75%;
        }
    }
}
