<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="d-flex">
                <div class="header__local">г. Краснодар, ул. Кузнечная, 4</div>
                <div class="header__time">пн. — пт. с 09:00 до 18:00</div>
                <a href="javascript:void(0)" class="header__user">Личный кабинет</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="d-flex header__main">
            <a href="index.html">
                <img src="static/img/content/logo.svg">
            </a>

            <form class="main-search">
                <input type="text" class="main-search__input" placeholder="Ищите среди всех услуг нашей клиники..."
                       id="main-search">
                <label for="main-search" class="main-search__label"></label>
            </form>
            <a href="tel:8 800 500 300 4" class="header__phone">8 800 500 300 4</a>
            <a href="javascript:void(0)" data-toggle="modal" data-target="#modalProcedure" class="link">Записаться на
                прием</a>
        </div>
    </div>

    <div class="header__menu">
        <div class="container">
            <div class="d-flex justify-content-between">
                <a class="header__link active header__main-link" href="department.html">Отделение</a>
                <a class="header__link" href="all-doctors.html">Врачи</a>
                <a class="header__link" href="price.html">Цены</a>
                <a class="header__link" href="feedback.html">Отзывы</a>
                <a class="header__link" href="stocks.html">Акции</a>
                <a class="header__link" href="about.html">О нас</a>
                <a class="header__link" href="contact.html">Контакты</a>
                <a class="header__link" href="licenses.html">Библиотека</a>
            </div>
        </div>
    </div>
    <div class="main-menu">
        <div class="container">
            <ul class="main-menu__list">
                <li class="main-menu__item active"><a href="diseases.html">Проктология</a>
                    <ul class="main-menu__sublist">
                        <li class="main-menu__subitem"><a href="diseases.html">Главная отделения</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Лечение геморроя</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Лечение анальных трещин</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Эстетическая проктология</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Физиотерапия в проктологии</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Цены</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Врачи</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Подготовка к визиту</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Все заболевания</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Оборудование</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Отзывы</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Вопрос–ответ</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Видео</a></li>
                    </ul>
                </li>
                <li class="main-menu__item"><a href="javascript:void(0)">Лор</a>
                    <ul class="main-menu__sublist">
                        <li class="main-menu__subitem"><a href="diseases.html">Главная 2</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Лечение геморроя2</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Лечение анальных трещин</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Эстетическая проктология</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Физиотерапия в проктологии</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Цены</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Врачи2</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Подготовка к визиту</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Все заболевания</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Оборудование</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Отзывы</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Вопрос–ответ</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Видео2</a></li>
                    </ul>
                </li>
                <li class="main-menu__item"><a href="javascript:void(0)">Кардиология</a>
                    <ul class="main-menu__sublist">
                        <li class="main-menu__subitem"><a href="diseases.html">Главная отделения3</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Лечение геморроя3</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Лечение анальных трещин3</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Эстетическая проктология</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Физиотерапия в проктологии</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Цены</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Врачи</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Подготовка к визиту</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Все заболевания</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Оборудование</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Отзывы</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Вопрос–ответ</a></li>
                        <li class="main-menu__subitem"><a href="diseases.html">Видео3</a></li>
                    </ul>
                </li>
                <li class="main-menu__item"><a href="doctor.html">Урология</a></li>
                <li class="main-menu__item"><a href="doctor.html">Флебология</a></li>
                <li class="main-menu__item"><a href="doctor.html">Гематология</a></li>
                <li class="main-menu__item"><a href="doctor.html">Гинекология</a></li>
                <li class="main-menu__item"><a href="doctor.html">Эндоскопия</a></li>
                <li class="main-menu__item"><a href="doctor.html">Эндокренология</a></li>
                <li class="main-menu__item"><a href="doctor.html">Гастроэнтерология</a></li>
                <li class="main-menu__item"><a href="doctor.html">Терапия</a></li>
                <li class="main-menu__item"><a href="doctor.html">Дермотология</a></li>
                <li class="main-menu__item"><a href="doctor.html">Диетология</a></li>
                <li class="main-menu__item"><a href="doctor.html">Хирургия</a></li>
            </ul>
        </div>
    </div>
</header>

<div class="header-min">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex header-min__wrap">
                <div class="header-min__menu-btn cd-dropdown-trigger"></div>
                <a class="header-min__logo">
                    <img src="static/img/content/logo.svg">
                </a>
                <div class="d-flex">
                    <div class="header-min__search"></div>
                    <a href="tel:8 800 500 300 4" class="header-min__phone"></a>
                </div>
            </div>

            <form class="header-min-form" >
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Что ищете?" aria-label="">

                    <div class="input-group-append" id="">
                        <button class="btn btn-search" type="button" id="button-addon2"></button>
                        <button class="btn btn-close" type="button" id="button-addon2"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="cd-dropdown-wrapper cd-dropdown-wrapper-main-menu">
    <nav class="cd-dropdown">
        <div class="header-min">
            <a href="#0" class="cd-close"></a>
        </div>

        <ul class="cd-dropdown-content">
            <li class="profile-link">
                <a href="#">Личный кабинет</a>
            </li>

            <li class="phone-link">
                <a href="tel:8 800 500 300 4" class="header__phone">8 800 500 300 4</a>
            </li>
            <li class="has-children">
                <a href="department.html">Отделение</a>
                <span class="has-children-arrow"></span>

                <ul class="cd-secondary-dropdown is-hidden">
                    <li class="go-back"><a href="#0">Назад</a></li>


                    <li class="has-children">
                        <a href="department.html">Проктология</a><span class="has-children-arrow"></span>
                        <ul class="is-hidden third-dropdown">
                            <li class="go-back"><a href="#0">Проктология</a></li>
                            <li><a href="diseases.html">Главная отделения</a></li>
                            <li><a href="#">Лечение геморроя</a></li>
                            <li><a href="#">Лечение анальных трещин</a></li>
                            <li><a href="#">Эстетическая проктология</a></li>
                            <li><a href="#">Физиотерапия в проктологии</a></li>
                            <li><a href="#">Цены</a></li>
                        </ul>
                    </li>

                    <li class="has-children">
                        <a href="department.html">Лор</a><span class="has-children-arrow"></span>
                        <ul class="is-hidden third-dropdown">
                            <li class="go-back"><a href="#0">Лог</a></li>
                            <li><a href="diseases.html">Главная отделения</a></li>
                            <li><a href="#">Лечение геморроя</a></li>
                            <li><a href="#">Лечение анальных трещин</a></li>
                            <li><a href="#">Эстетическая проктология</a></li>
                            <li><a href="#">>Физиотерапия в проктологии</a></li>
                            <li><a href="#">Цены</a></li>
                        </ul>
                    </li>

                    <li class="has-children">
                        <a href="department.html">Кардиология</a><span class="has-children-arrow"></span>
                        <ul class="is-hidden third-dropdown">
                            <li class="go-back"><a href="#0">Кардиология</a></li>
                            <li><a href="diseases.html">Главная отделения</a></li>
                            <li><a href="#">Лечение геморроя</a></li>
                            <li><a href="#">Лечение анальных трещин</a></li>
                            <li><a href="#">Эстетическая проктология</a></li>
                            <li><a href="#">>Физиотерапия в проктологии</a></li>
                            <li><a href="#">Цены</a></li>
                        </ul>
                    </li>

                    <li class="has-children">
                        <a href="#">Урология</a><span class="has-children-arrow"></span>
                        <ul class="is-hidden third-dropdown">
                            <li class="go-back"><a href="#0">Урология</a></li>
                            <li><a href="diseases.html">Главная отделения</a></li>
                        </ul>
                    </li>

                    <li class="has-children">
                        <a href="department.html">Флебология</a><span class="has-children-arrow"></span>
                        <ul class="is-hidden third-dropdown">
                            <li class="go-back"><a href="#0">Флебология</a></li>
                            <li><a href="diseases.html">Главная отделения</a></li>
                        </ul>
                    </li>

                    <li class="has-children">
                        <a href="department.html">Гематология</a><span class="has-children-arrow"></span>
                        <ul class="is-hidden third-dropdown">
                            <li class="go-back"><a href="#0">Гематология</a></li>
                            <li><a href="diseases.html">Главная отделения</a></li>
                        </ul>
                    </li>

                    <li class="has-children">
                        <a href="department.html">Гинекология</a><span class="has-children-arrow"></span>
                        <ul class="is-hidden third-dropdown">
                            <li class="go-back"><a href="#0">Гинекология</a></li>
                            <li><a href="diseases.html">Главная отделения</a></li>
                        </ul>
                    </li>

                    <li class="has-children">
                        <a href="department.html">Эндоскопия</a><span class="has-children-arrow"></span>
                        <ul class="is-hidden third-dropdown">
                            <li class="go-back"><a href="#0">Эндоскопия</a></li>
                            <li><a href="diseases.html">Главная отделения</a></li>
                        </ul>
                    </li>

                    <li class="has-children">
                        <a href="department.html">Эндокренология</a><span class="has-children-arrow"></span>
                        <ul class="is-hidden third-dropdown">
                            <li class="go-back"><a href="#0">Эндокренология</a></li>
                            <li><a href="diseases.html">Главная отделения</a></li>
                        </ul>
                    </li>

                    <li class="has-children">
                        <a href="department.html">Гастроэнтерология</a><span class="has-children-arrow"></span>
                        <ul class="is-hidden third-dropdown">
                            <li class="go-back"><a href="#0">Гастроэнтерология</a></li>
                            <li><a href="diseases.html">Главная отделения</a></li>
                        </ul>
                    </li>
                </ul>
           </li>

            <li class="has-children">
                <a href="all-doctors.html">Врачи</a>
            </li>

            <li class="has-children">
                <a href="price.html">Цены</a>
            </li>

            <li class="has-children">
                <a href="feedback.html">Отзывы</a>
            </li>

            <li class="has-children">
                <a href="stocks.html">Акции</a>
            </li>

            <li class="has-children">
                <a href="about.html">О нас</a>
            </li>

            <li class="has-children">
                <a href="contact.html">Контакты</a>
            </li>

            <li class="has-children">
                <a href="licenses.html">Библиотека</a>
            </li>

            <a href="javascript:void(0)" data-toggle="modal" data-target="#modalProcedure" class="link">Записаться на прием</a>

            <div class="header__local">г. Краснодар, ул. Кузнечная, 4</div>
            <div class="header__time">пн. — пт. с 09:00 до 18:00</div>
        </ul>
    </nav>
</div>


