.header {
    position: relative;

    &__top {
        border-bottom: 1px solid #E0E0E0;
        padding: 10px;
    }

    &__local, &__time, &__user, &__phone {
        font-family: "Montserrat";
        font-style: normal;
        font-size: 12px;
        line-height: 20px;
        color: $black-color;
        position: relative;

        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: -2px;
            height: 24px;
            width: 24px;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    &__local {
        position: relative;
        padding-left: 32px;

        &:before {
            background-size: 13px;
            background-image: url("../img/content/icon-local.svg");
        }
    }

    &__time {
        margin-left: 17px;
        padding-left: 32px;

        &:before {
            background-size: 18px;
            background-image: url("../img/content/icon-time.svg");
        }
    }

    &__user {
        position: relative;
        margin-left: auto;
        padding-left: 32px;
        display: block;
        text-decoration: none;

        &:before {
            background-size: 13px;
            background-image: url("../img/content/icon-user.svg");
        }

        &:hover {
            color: $red-color;
            text-decoration: none;

            &:before {
                background-image: url("../img/content/icon-user-hover.svg");
            }
        }
    }

    &__phone {
        position: relative;
        padding-left: 32px;
        display: block;
        text-decoration: none;
        margin: 0 48px;

        &:before {
            background-size: 13px;
            background-image: url("../img/content/icon-phone.svg");
        }

        &:hover {
            color: $red-color;
            text-decoration: none;

            &:before {
                background-image: url("../img/content/icon-phone-hover.svg");
            }
        }
    }

    &__main {
        align-items: center;
        padding: 24px 0;

        .link {
            margin-right: 0;
        }
    }

    &__logo {
        height: 64px;

        img {
            height: 100%;
            width: auto;
        }
    }

    .main-search {
        position: relative;
        height: 38px;
        width: 589px;
        margin-left: 80px;

        &__input {
            height: 38px;
            border: none;
            border-bottom: 1px solid #E0E0E0;
            box-sizing: border-box;
            padding-left: 32px;
            width: 100%;
            font-family: "Montserrat", Serif;
            font-weight: normal;
            font-size: 12px;
            line-height: 38px;
            color: $black-color;
            padding-top: 0;
            padding-bottom: 0;

            &:focus {
                outline: none;
            }

            &::placeholder {
                font-family: "Montserrat", Serif;
                font-weight: normal;
                font-size: 12px;
                line-height: 38px;
                color: $black-color;
            }
        }

        &__label {
            height: 24px;
            width: 24px;
            position: absolute;
            background-image: url("../img/content/icon-search.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 18px;
            top: 7px;
            left: 0;
        }
    }

    &__menu {
        background: $light-gray-color;
    }

    &__link {
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        color: $black-color;
        position: relative;
        padding: 16px 0;

        &:hover {
            text-decoration: none;
            color: $red-color;
        }

        &.active {
            color: $red-color;

            &:before {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                border-bottom: 2px solid $red-color;
                position: absolute;
                left: 0;
                bottom: 0px;
            }
        }
    }
    &__main-link:hover {
        & + .main-menu {
            display: block !important;
        }
    }
}

.main-menu {
    background: $white-color;
    width: 100%;
    position: absolute;
    left: 0;
    top: 205px;
    z-index: 10;
    padding: 44px;
    display: none;
    &.show {
        display: block;
    }
    &:hover {
        display: block !important;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__list {
        width: 306px;
        min-width: 306px;
        position: relative;
    }

    &__item {
        width: 100%;
        display: block;

        a {
            display: block;
            padding: 8px 0;
            font-family: "Montserrat";
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            color: $black-color;
            position: relative;

            &:hover {
                color: $red-color;
                text-decoration: none;
                & + .main-menu__sublist {
                    display: flex !important;
                }
                &:after {
                    background-image: url("../img/content/arrow-small-h.svg");
                }
            }

            &:after {
                content: '';
                display: block;
                height: 24px;
                width: 24px;
                position: absolute;
                top: 4px;
                right: 24px;
                background-image: url("../img/content/arrow-small.svg");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }

        &.active>a {
             color: $red-color;
            &:after {
                background-image: url("../img/content/arrow-small-h.svg");
            }
        }
    }

    &__sublist {
        flex-wrap: wrap;
        align-items: flex-start;
        position: absolute;
        top: 8px;
        left: 305px;
        width: 632px;
        height: auto;
        display: none;
        &:hover {
            display: flex;
        }
    }

    &__subitem {
        display: block;
        width: 50%;
        min-width: 50%;
        margin-bottom: 24px;
        padding-right: 24px;
        a {
            font-family: "Montserrat";
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: $black-color;
            display: block;
            padding: 0;
            &:after {
                display: none;
            }
        }
    }
}

.header-min {
    display: none;
    align-items: center;
    padding: 24px 0;
    &__wrap {
        justify-content: space-between;
        align-items: center;
    }
    &__menu-btn, &__phone, &__search {
        height: 24px;
        width: 24px;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__menu-btn {
        background-size: contain;
        background-image: url('../img/content/icon-menu.svg');
    }

    &__phone {
        display: block;
        background-size: 18px;
        background-image: url('../img/content/icon-phone.svg');
    }

    &__search {
        margin-right: 16px;
        background-size: 18px;
        background-image: url('../img/content/icon-search.svg');
    }

    &__logo {
        height: 64px;
        img {
            height: 100%;
            width: auto;
        }
    }
}
@media only screen and (max-width:1260px){
    .header {
        &__phone {
            margin: 0 30px;
        }

        .main-search {
            width: 429px;
            margin-left: 40px;
        }
    }
}

@media only screen and (max-width:768px){
    .header {
        display: none;
    }
    .header-min {
        display: block;
    }
}

.header-min {
    background-color: $white-color;
    padding: 24px 0px;
    display: none;

    &-logo {
        margin-left: auto;
        margin-right: auto;
    }

    &-menu, &-search, &-favorite, &-basket {
        height: 24px;
        width: 24px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
    }

    &-form {
        display: none;
        left: 0;
        position: absolute;
        width: 100%;
        background: $white-color;
        margin-top: 8px;
        padding: 15px 12px;
        z-index: 15;
        top: 10px;

        &.show {
            display: block;
        }

        .input-group {
            height: 40px;
            border: 1px solid #e0e0e0;
            border-radius: 2px;

            .form-control {
                height: 38px;
                border:none;
                padding: 10px 16px;
                line-height: 20px;
                font-size: 14px;
                font-family: "Montserrat";
                &:focus, &:hover, &:active{
                    outline: none !important;
                    box-shadow: none !important;
                }
            }

            &:focus {
                outline: none;
            }
        }

        .input-group-append {
            .btn-search {
                padding: 6px 3px;
                width: 30px;
                background-repeat: no-repeat;
                background-size: auto;
                background-position: center;
                background-image: url("../img/content/icon-search.svg");
                background-size: 16px;
            }

            .btn-close {
                width: 30px;
                padding: 6px 3px;
                background-repeat: no-repeat;
                background-size: auto;
                background-position: center;
                background-image: url("../img/content/close.svg");
            }
        }
    }
}

.min-menu {
    display: none;
    position: absolute;
    width: 100%;
    top: 74px;
    z-index: 5;
    background-color: $white-color;

    &-list {
        list-style: none;
        padding-left: 0;
        margin-bottom: 16px;

        li {
            a {
                padding: 18px 0;
                border-bottom: 1px solid $black-color;
                display: block;
                line-height: 20px;
                font-size: 14px;
                color: $black-color
            }

            .sub-menu {
                display: none;
                list-style: none;
                padding-left: 0;
                margin-bottom: 0;
            }
        }
    }

    .simple-menu {
        list-style: none;padding-left: 0;
        margin-bottom: 24px;

        li {
            padding: 8px 0;

            a {
                line-height: 20px;
                font-size: 14px;
                color: $black-color;

                &:hover {
                    text-decoration: none;
                    color: $black-color;
                }
            }
        }
    }

    &-contact {
        padding: 32px 0;
        border-top: 1px solid $black-color;

        .link-phone {
            line-height: 20px;
            font-size: 14px;
            color: $black-color;
            text-decoration: none;
            padding-left: 32px;
            position: relative;

            &:after {
                content: "";
                display: block;
                height: 24px;
                width: 24px;
                position: absolute;
                top: -2px;
                left: 0;
                background-position: center;
                background-repeat: no-repeat;
                background-size: auto;
                background-image: url("../images/icons/phone.png");
            }
        }

        .social-list {
            margin-top: 17px;
        }
    }

    &-info {
        padding: 32px 0;
        border-top: 1px solid $black-color;

        p {
            line-height: 20px;
            font-size: 14px;
            color: $black-color;
            margin-bottom: 0;

            &:first-child {
                margin-bottom: 8px;
            }

            a {
                color: $black-color;
            }
        }
    }
}

.cd-dropdown-wrapper {
    display: none;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


    .move-out {
        z-index: 10;
        background: $white-color;

        &.cd-dropdown-content ul {
            padding-top: 0;
        }
    }
}

@include media-breakpoint-down(md) {
    .header {
        display: none;
    }

    .header-min {
        display: block;
    }

    .cd-dropdown-wrapper {
        display: block!important;
    }
}

.cd-dropdown-content {
    z-index: -1;

    .not-child {
        border-bottom: none!important;
        a {
            padding: 6px 16px;
            border-bottom: none;

            &:after, &:before {
                display: none;
            }
        }
    }
}

.cd-secondary-dropdown.fade-out {
    overflow-y: hidden;
    background: $white-color;
    position: fixed;
}

.cd-secondary-dropdown.fade-in {
    position: fixed;
    background: $white-color;
}


.cd-dropdown h2,
.cd-dropdown-content a,
.cd-dropdown-content ul a {
    line-height: 20px;
    padding: 18px 0;
}

.cd-dropdown h2,
.cd-dropdown-content a,
.cd-dropdown-content ul a,
.cd-dropdown-content .cd-divider {
    padding: 0 20px;
    color: $black-color;
}

.cd-dropdown {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white-color;
    color: $black-color;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.5s 0s, visibility 0s 0.5s;
    -moz-transition: -moz-transform 0.5s 0s, visibility 0s 0.5s;
    transition: transform 0.5s 0s, visibility 0s 0.5s;
}

.cd-dropdown .cd-close {
    z-index: 1;
    height: 24px;
    width: 24px;
    margin-right: 16px;
    background-image: url("../images/icons/close.png");
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: $black-color;
}

.cd-dropdown.dropdown-is-active {
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.5s 0s, visibility 0s 0s;
    -moz-transition: -moz-transform 0.5s 0s, visibility 0s 0s;
    transition: transform 0.5s 0s, visibility 0s 0s;
}

.cd-dropdown-content, .cd-dropdown-content ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    list-style: none;
    padding-left: 0;
}
.cd-dropdown-content a, .cd-dropdown-content ul a {
    display: inline-block;
    color: $black-color;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    padding: 18px 16px;
    width: fit-content;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    &:hover {
        color: $black-color;
        text-decoration: none;
    }

}

.cd-dropdown-content li {
    display: block;
    border-bottom: 1px solid #E0E0E0;
}

.cd-dropdown-content li:first-of-type > a, .cd-dropdown-content ul li:first-of-type > a {
    border-top-width: 0;
}
.cd-dropdown-content li:last-of-type > a, .cd-dropdown-content ul li:last-of-type > a {
    border-bottom-width: 1px;
}

.cd-dropdown-content a, .cd-dropdown-content .cd-search, .cd-dropdown-content .cd-divider, .cd-dropdown-content ul a, .cd-dropdown-content ul .cd-search, .cd-dropdown-content ul .cd-divider {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}
.cd-dropdown-content.is-hidden, .cd-dropdown-content ul.is-hidden {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}
.cd-dropdown-content.is-hidden > li > a, .cd-dropdown-content.is-hidden > li > .cd-search, .cd-dropdown-content.is-hidden > .cd-divider, .cd-dropdown-content.move-out > li > a, .cd-dropdown-content.move-out > li > .cd-search, .cd-dropdown-content.move-out > .cd-divider, .cd-dropdown-content ul.is-hidden > li > a, .cd-dropdown-content ul.is-hidden > li > .cd-search, .cd-dropdown-content ul.is-hidden > .cd-divider, .cd-dropdown-content ul.move-out > li > a, .cd-dropdown-content ul.move-out > li > .cd-search, .cd-dropdown-content ul.move-out > .cd-divider {
    opacity: 0;
}
.cd-dropdown-content.move-out > li > a, .cd-dropdown-content.move-out > li > .cd-search, .cd-dropdown-content.move-out > .cd-divider, .cd-dropdown-content ul.move-out > li > a, .cd-dropdown-content ul.move-out > li > .cd-search, .cd-dropdown-content ul.move-out > .cd-divider {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}
.dropdown-is-active .cd-dropdown-content, .dropdown-is-active .cd-dropdown-content ul {
    -webkit-overflow-scrolling: touch;
}
@media only screen and (min-width: 768px) {
    .cd-dropdown-content, .cd-dropdown-content ul {
        padding-top: 72px;
    }
    .cd-dropdown-content a, .cd-dropdown-content ul a {
        line-height: 20px;
        font-size: 14px;
    }
}
@media only screen and (min-width: 1024px) {
    .cd-dropdown-content, .cd-dropdown-content ul {
        padding-top: 0;
        overflow: visible;
    }
    .cd-dropdown-content a, .cd-dropdown-content ul a {
        line-height: 20px;
        font-size: 14px;
    }
}

.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item {
    padding-left: 75px;
    position: relative;
}
.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item p {
    color: #111433;
    font-size: 1.3rem;
    /* hide description on small devices */
    display: none;
}
.cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item::before {
    /* item icon */
    content: '';
    display: block;
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40px 40px;
}

@media only screen and (min-width: 1024px) {
    .cd-dropdown-content {
        position: static;
        height: auto;
        width: 280px;
    }
    .cd-dropdown-content > li:last-of-type a {
        border-bottom: none;
    }
    .no-touch .cd-dropdown-content > li:not(.has-children) a:hover {
        color: #3f8654;
    }
    .cd-dropdown-content.move-out > li > a, .cd-dropdown-content.move-out > li > .cd-search, .cd-dropdown-content.move-out > .cd-divider {
        /* reset mobile style */
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    .cd-dropdown-content .cd-secondary-dropdown, .cd-dropdown-content .cd-dropdown-gallery, .cd-dropdown-content .cd-dropdown-icons {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        left: 100%;
        height: auto;
        background-color: #ffffff;
        box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1);
    }
    .cd-dropdown-content .cd-secondary-dropdown::after, .cd-dropdown-content .cd-dropdown-gallery::after, .cd-dropdown-content .cd-dropdown-icons::after {
        clear: both;
        content: "";
        display: table;
    }
    .open-to-left .cd-dropdown-content .cd-secondary-dropdown, .open-to-left .cd-dropdown-content .cd-dropdown-gallery, .open-to-left .cd-dropdown-content .cd-dropdown-icons {
        /* use the .open-to-left class if you want to open the dropdown on the left */
        left: auto;
        right: 100%;
    }
    .cd-dropdown-content .cd-secondary-dropdown.is-hidden, .cd-dropdown-content .cd-dropdown-gallery.is-hidden, .cd-dropdown-content .cd-dropdown-icons.is-hidden {
        /* reset mobile style */
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    .cd-dropdown-content .cd-secondary-dropdown.fade-in, .cd-dropdown-content .cd-dropdown-gallery.fade-in, .cd-dropdown-content .cd-dropdown-icons.fade-in {
        /* animate secondary dropdown items when hovering over of of the .cd-dropdown-content list items */
        -webkit-animation: cd-fade-in 0.2s;
        -moz-animation: cd-fade-in 0.2s;
        animation: cd-fade-in 0.2s;
    }
    .cd-dropdown-content .cd-secondary-dropdown.fade-out, .cd-dropdown-content .cd-dropdown-gallery.fade-out, .cd-dropdown-content .cd-dropdown-icons.fade-out {
        /* animate secondary dropdown items when hovering over of of the .cd-dropdown-content list items */
        -webkit-animation: cd-fade-out 0.2s;
        -moz-animation: cd-fade-out 0.2s;
        animation: cd-fade-out 0.2s;
    }
    .cd-dropdown-content .cd-secondary-dropdown > .go-back, .cd-dropdown-content .cd-dropdown-gallery > .go-back, .cd-dropdown-content .cd-dropdown-icons > .go-back {
        display: none;
    }
    .cd-dropdown-content .cd-secondary-dropdown > .see-all, .cd-dropdown-content .cd-dropdown-gallery > .see-all, .cd-dropdown-content .cd-dropdown-icons > .see-all {
        position: absolute;
        bottom: 20px;
        height: 45px;
        text-align: center;
    }
    .cd-dropdown-content .cd-secondary-dropdown > .see-all a, .cd-dropdown-content .cd-dropdown-gallery > .see-all a, .cd-dropdown-content .cd-dropdown-icons > .see-all a {
        margin: 0;
        height: 100%;
        line-height: 45px;
        background: #ebebeb;
        pointer-events: auto;
        -webkit-transition: color 0.2s, background-color 0.2s;
        -moz-transition: color 0.2s, background-color 0.2s;
        transition: color 0.2s, background-color 0.2s;
    }
    .no-touch .cd-dropdown-content .cd-secondary-dropdown > .see-all a:hover, .no-touch .cd-dropdown-content .cd-dropdown-gallery > .see-all a:hover, .no-touch .cd-dropdown-content .cd-dropdown-icons > .see-all a:hover {
        color: #ffffff;
        background-color: #111433;
    }
    .cd-dropdown-content .cd-secondary-dropdown .cd-dropdown-item, .cd-dropdown-content .cd-secondary-dropdown a, .cd-dropdown-content .cd-dropdown-gallery .cd-dropdown-item, .cd-dropdown-content .cd-dropdown-gallery a, .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item, .cd-dropdown-content .cd-dropdown-icons a {
        border: none;
    }
    .cd-dropdown-content .cd-dropdown-gallery, .cd-dropdown-content .cd-dropdown-icons {
        padding: 20px 30px 100px;
    }
    .cd-dropdown-content .cd-dropdown-gallery > .see-all, .cd-dropdown-content .cd-dropdown-icons > .see-all {
        width: calc(100% - 60px);
    }
    .cd-dropdown-content .cd-dropdown-icons > li, .cd-dropdown-content .cd-secondary-dropdown > li {
        width: 50%;
        float: left;
    }
    .cd-dropdown-content .cd-secondary-dropdown {
        overflow: hidden;
        width: 550px;
        padding-bottom: 65px;
    }
    .cd-dropdown-content .cd-secondary-dropdown::before {
        position: absolute;
        content: '';
        top: 290px;
        left: 15px;
        height: 1px;
        width: 520px;
        background-color: #ebebeb;
    }
    .cd-dropdown-content .cd-secondary-dropdown > li > a {
        color: #3f8654;
        font-size: 1.6rem;
        margin-bottom: 10px;
        line-height: 30px;
        height: 30px;
        pointer-events: none;
    }
    .cd-dropdown-content .cd-secondary-dropdown > li > a::after, .cd-dropdown-content .cd-secondary-dropdown > li > a::before {
        /* hide the arrow */
        display: none;
    }
    .cd-dropdown-content .cd-secondary-dropdown.move-out > li > a {
        /* reset mobile style */
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    .cd-dropdown-content .cd-secondary-dropdown > li {
        margin: 20px 0;
        border-right-width: 1px;
        border-color: #ebebeb;
        border-style: solid;
        padding: 0 30px;
        height: 250px;
    }
    .cd-dropdown-content .cd-secondary-dropdown > li:nth-of-type(2n) {
        border-right-width: 0;
    }
    .cd-dropdown-content .cd-secondary-dropdown > li > ul {
        /* reset mobile style */
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
        transform: translate(0);
        position: relative;
        height: auto;
    }
    .cd-dropdown-content .cd-secondary-dropdown > li > ul > .go-back {
        display: none;
    }

    .cd-dropdown-content .cd-secondary-dropdown a {
        line-height: 25px;
        height: 25px;
        font-size: 1.3rem;
        padding-left: 0;
    }
    .no-touch .cd-dropdown-content .cd-secondary-dropdown a:hover {
        color: #3f8654;
    }
    .cd-dropdown-content .cd-secondary-dropdown ul {
        padding-bottom: 25px;
        overflow: hidden;
        height: auto;
    }
    .cd-dropdown-content .cd-secondary-dropdown .go-back a {
        padding-left: 20px;
        color: transparent;
    }
    .no-touch .cd-dropdown-content .cd-secondary-dropdown .go-back a:hover {
        color: transparent;
    }
    .cd-dropdown-content .cd-secondary-dropdown .go-back a::before, .cd-dropdown-content .cd-secondary-dropdown .go-back a::after {
        left: 0;
    }
    .cd-dropdown-content .cd-secondary-dropdown .see-all {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .cd-dropdown-content .cd-dropdown-gallery {
        width: 600px;
        padding-bottom: 100px;
    }
    .cd-dropdown-content .cd-dropdown-gallery > li {
        width: 48%;
        float: left;
        margin-right: 4%;
    }
    .cd-dropdown-content .cd-dropdown-gallery > li:nth-of-type(2n) {
        margin-right: 0;
    }
    .cd-dropdown-content .cd-dropdown-gallery .cd-dropdown-item {
        padding: 0;
        height: auto;
        line-height: normal;
        color: #3f8654;
        margin-bottom: 2em;
    }
    .cd-dropdown-content .cd-dropdown-gallery > li:nth-last-of-type(2) a,
    .cd-dropdown-content .cd-dropdown-gallery > li:last-of-type a {
        margin-bottom: 0;
    }
    .cd-dropdown-content .cd-dropdown-gallery img {
        position: static;
        height: auto;
        width: 100%;
        margin: 0 0 0.6em;
    }
    .cd-dropdown-content .cd-dropdown-icons {
        width: 600px;
    }
    .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item {
        height: 80px;
        line-height: 1.2;
        padding: 24px 0 0 85px;
    }
    .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item:hover {
        background: #ebebeb;
    }
    .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item h3 {
        color: #3f8654;
        font-weight: bold;
    }
    .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item p {
        display: block;
        font-size: 1.2rem;
    }
    .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item::before {
        left: 25px;
    }
    .cd-dropdown-content > .has-children > ul {
        visibility: hidden;
    }
    .cd-dropdown-content > .has-children > ul.is-active {
        /* when hover over .cd-dropdown-content items - show subnavigation */
        visibility: visible;
    }
    .cd-dropdown-content > .has-children > .cd-secondary-dropdown.is-active > li > ul {
        /* if .cd-secondary-dropdown is visible - show also subnavigation */
        visibility: visible;
    }
    .cd-dropdown-content > .has-children > a.is-active {
        /* hover effect for .cd-dropdown-content items with subnavigation */
        box-shadow: inset 2px 0 0 #3f8654;
        color: #3f8654;
    }
    .cd-dropdown-content > .has-children > a.is-active::before, .cd-dropdown-content > .has-children > a.is-active::after {
        background: #3f8654;
    }
    .open-to-left .cd-dropdown-content > .has-children > a.is-active {
        box-shadow: inset -2px 0 0 #3f8654;
    }
}

@-webkit-keyframes cd-fade-in {
    0% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}
@-moz-keyframes cd-fade-in {
    0% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}
@keyframes cd-fade-in {
    0% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}
@-webkit-keyframes cd-fade-out {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: visible;
    }
}
@-moz-keyframes cd-fade-out {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: visible;
    }
}
@keyframes cd-fade-out {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: visible;
    }
}

.has-children a {
    display: inline-block;
}

.has-children-arrow {
    height: 24px;
    width: 24px;
    background-image: url('../img/content/arrow-header.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    float: right;
    margin-right: 8px;
    margin-top: 17px;
}

.has-children > a, .go-back a {
    position: relative;
}

.is-hidden {
    display: none;
}

.cd-secondary-dropdown {
    z-index: 20;
}
.third-dropdown {
    z-index: 21;
    background-color: $white-color;
}

.go-back a::before{
    content: '';
    position: absolute;
    top: 17px;
    left: 8px;
    display: inline-block;
    height: 24px;
    width: 24px;
    background-image: url('../img/content/arrow-header-h.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}



@media only screen and (min-width: 1024px) {
    .has-children > a::before, .has-children > a::after, .go-back a::before, .go-back a::after {
        background: red;
    }
}

.has-children > a {
    padding-right: 30px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

@media only screen and (min-width: 1024px) {
    .open-to-left .cd-dropdown-content > .has-children > a {
        padding-left: 40px;
        padding-right: 20px;
    }
}
.cd-dropdown-content .go-back a {
    padding-left: 40px;
    color: $red-color;
}

.cd-main-content {
    background-color: #e6e6e6;
    min-height: calc(100vh - 100px);
    padding: 2em 5%;
    line-height: 2;
}

.no-js .cd-dropdown-wrapper:hover .cd-dropdown {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.no-js .cd-dropdown-wrapper .cd-close {
    display: none;
}
.cd-dropdown {
    display: flex;
    flex-direction: row-reverse;

    .header-min {
        padding: 0;
        width: 17.5%;
        order: 2;
        box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.05)
    }

    .cd-close {
        height: 24px;
        width: 24px;
        background-repeat: no-repeat;
        background-image: url("../img/content/close.svg");
        background-position: center;
        background-size: contain;
        display: block;
        margin: 16px auto;
    }
}

.cd-dropdown-content {
    width: 82.5%;
    order: 1;
    .profile-link {
        a {
            color: $red-color;
            font-family: "Montserrat";
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            &:before {
                content: "";
                display: inline-block;
                width: 24px;
                height: 24px;
                background-image: url('../img/content/person.svg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                vertical-align: bottom;
                margin-right: 8px;
            }
        }
    }

    .phone-link {
        a {
            font-family: "Montserrat";
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: $black-color;
            postion: relative;
            margin-left: 16px;
            padding-left: 30px;
            &:hover, &:focus {
                color: $red-color;
            }
            &:before {
                top: 16px;
                left: 0;
            }
        }
    }

    .link {
        margin: 24px 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: calc(100% - 48px);
        text-align: center;
        font-size: 12px;
    }

    .header__local {
        margin-bottom: 16px;
        margin-left: 17px;
    }

    .header__time {
        margin-bottom: 24px;
    }
}
