.program {
    &__banner {
        position: relative;
        padding-bottom: 34.72%;
        overflow: hidden;
        margin-bottom: 48px;

        img {
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        font-family: "Montserrat";
    }

    .link-wrap {
        display: block;
    }

    .link-wrap-min {
        display: none;
    }

    &__text {
        width: calc(50% - 12px);
        min-width: calc(50% - 12px);

        p {
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
        }

        .link {
            margin: 48px 0;
        }
    }

    &__price {
        width: calc(50% - 12px);
        min-width: calc(50% - 12px);
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        .department-price__item {
            width: calc(50% - 12px);
            min-width: calc(50% - 12px);
            margin-right: 24px;

            &:nth-child(2n) {
                margin-right: 0;
            }
        }

        .department-price__price {
            margin-bottom: 0;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .program {
        &__price {
            .department-price__item {
                width: 100%;
                min-width: 100%;
                margin-right: 0;

                &:nth-child(2n) {
                    margin-right: 0;
                }
            }

            .department-price__price {
                margin-bottom: 0;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .program {
        &__banner {
            padding-bottom: 34.72%;
            margin-bottom: 24px;
        }

        &__content {
            flex-direction: column;
        }

        .link-wrap {
            display: none;
        }

        .link-wrap-min {
            display: block;

            .link {
                margin: 8px 0 24px 0;
            }
        }

        &__text {
            width: 100%;
            min-width: 100%;

            .link {
                margin: 24px 0;
            }
        }

        &__price {
            width: 100%;
            min-width: 100%;

            .department-price__item {
                width: calc(50% - 8px);
                min-width: calc(50% - 8px);
                margin-right: 16px;
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .program {
        &__banner {
            padding-bottom: 75%;
        }

        &__price {
            .department-price__item {
                width: 100%;
                min-width: 100%;
                margin-right: 0;

                &:nth-child(2n) {
                    margin-right: 0;
                }
            }
        }
    }
}
