<div class="container">
    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="main.html">Главная</a></li>
            <li class="breadcrumb__item">Хлебные крошки</li>
        </ul>
    </div>
</div>

<div class="text-page program">
    <div class="program__banner">
        <img src="static/img/content/program-b.png">
    </div>

    <div class="container">
        <div class="program__content">
            <div class="program__text">
                <div class="h1 title-page">Программа 1</div>
                <p>В магазинах России в продаже появились куриные яйца в новых упаковках. В них всего девять яиц, а не
                    десять, как привыкли покупатели. В таре яйца расфасованы по три штуки в три ряда Фото новой упаковки
                    появилось в социальных сетях, вызвав большой резонанс среди пользователей. За два дня под новостью
                    "Девяток яиц, пожалуйста" появилось более полутора тысяч сообщений.</p>

                <p>В магазинах России в продаже появились куриные яйца в новых упаковках. В них всего девять яиц,
                    а не десять, как привыкли покупатели. В таре яйца расфасованы по три штуки в три ряда Фото новой
                    упаковки появилось в социальных сетях, вызвав большой резонанс среди пользователей. За два дня
                    под новостью "Девяток яиц, пожалуйста" появилось более полутора тысяч сообщений.</p>

                <p>В магазинах России в продаже появились куриные яйца в новых упаковках. В них всего девять яиц,
                    а не десять, как привыкли покупатели. В таре яйца расфасованы по три штуки в три ряда Фото новой
                    упаковки появилось в социальных сетях, вызвав большой резонанс среди пользователей. За два дня
                    под новостью "Девяток яиц, пожалуйста" появилось более полутора тысяч сообщений.
                </p>

                <div class="link-wrap">
                    <a href="javascript;void(0)" class="link">Узнать больше</a>
                    <a href="javascript:void(0)" class="comeback">Все новости</a>
                </div>
            </div>
            <div class="program__price">
                <div class="department-price__item">
                    <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                    <div class="department-price__price">1 000₽</div>
                </div>

                <div class="department-price__item">
                    <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                    <div class="department-price__price">1 000₽</div>
                </div>

                <div class="department-price__item">
                    <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                    <div class="department-price__price">1 000₽</div>
                </div>

                <div class="department-price__item">
                    <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                    <div class="department-price__price">1 000₽</div>
                </div>
                <div class="department-price__item">
                    <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                    <div class="department-price__price">1 000₽</div>
                </div>

                <div class="department-price__item">
                    <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                    <div class="department-price__price">1 000₽</div>
                </div>

                <div class="department-price__item">
                    <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                    <div class="department-price__price">1 000₽</div>
                </div>

                <div class="department-price__item">
                    <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                    <div class="department-price__price">1 000₽</div>
                </div>
            </div>
        </div>

        <div class="link-wrap-min">
            <a href="javascript;void(0)" class="link">Узнать больше</a>
            <a href="javascript:void(0)" class="comeback">Все новости</a>
        </div>
    </div>
</div>
