.price {
    margin-bottom: 80px;
    &__title {
        margin-bottom: 24px;
    }
    &__block {
        width: 100%;
        display: flex;
        align-items: flex-start;
    }
    &__filter {
        width: 304px;
        min-width: 304px;
        padding-right: 24px;
        padding-top: 8px;
        &-title {
            margin-bottom: 24px;
        }
        &-btn {
            text-align: center;
            margin-bottom: 24px;
            border: 1px solid #DDDDDD;
            box-sizing: border-box;
            border-radius: 100px;
            padding: 10px 0;
            font-family: "Montserrat";
            font-weight: 500;
            font-size: 12px;
            line-height: 20px;
            color: $black-color;
            display: none;
            &:hover, &:focus {
                color: $red-color;
                border-color: $red-color;
            }
        }
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
    }
    &__form {
        .link-red {
            margin-top: 24px;
            width: 100%;
            text-align: center;
        }
    }

    .pagination {
        margin-top: 24px;
    }
}


@media only screen and (max-width: 1024px) {
    .price {
        &__filter {
            width: 250px;
            min-width: 250px;
            padding-right: 16px;
        }
        &__content {
            display: flex;
            flex-wrap: wrap;
        }
    }
}

@media only screen and (max-width: 768px) {
    .price {
        &__block {
            flex-wrap: wrap;
        }
        &__filter {
            width: 100%;
            padding-right: 0;
            position: relative;
            &-title {
                display: none;
            }
            &-btn {
                display: block;
                &.active {
                    color: $red-color;
                    border-color: $red-color;
                }
            }
        }
        &__content {
            width: 100%;
        }
        .price__form {
            display: none;
            position: absolute;
            top: 60px;
            left: 0;
            width: 100%;
            background: $white-color;
            border: 1px solid #DDDDDD;
            padding: 16px;
            z-index: 3;
            border-radius: 6px;

            &.show {
                display: block;
            }
        }
    }
}
