<div class="container">
    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="main.html">Главная</a></li>
            <li class="breadcrumb__item">Хлебные крошки</li>
        </ul>
    </div>
</div>

<div class="price">
    <div class="container">
        <div class="h1 price__title">Цены</div>
        <div class="price__block">
            <div class="price__filter">
                <div class="price__filter-btn">Фильтры</div>
                <div class="price__filter-title">Фильтры:</div>
                <form class="price__form">
                    <div class="form-checkbox">
                        <input type="checkbox" class="form-checkbox__input" id="1">
                        <label for="1">Акушерство и гинеология</label>
                    </div>

                    <div class="form-checkbox">
                        <input type="checkbox" class="form-checkbox__input" id="2">
                        <label for="2">Аллергология и иммунология</label>
                    </div>

                    <div class="form-checkbox">
                        <input type="checkbox" class="form-checkbox__input" id="3">
                        <label for="3">Анестезиология и реанимация</label>
                    </div>

                    <div class="form-checkbox">
                        <input type="checkbox" class="form-checkbox__input" id="4">
                        <label for="4">Гастроэнтерология</label>
                    </div>

                    <div class="form-checkbox">
                        <input type="checkbox" class="form-checkbox__input" id="5">
                        <label for="5">Гастроэнтерология</label>
                    </div>

                    <div class="form-checkbox">
                        <input type="checkbox" class="form-checkbox__input" id="6">
                        <label for="6">Проктология</label>
                    </div>

                    <div class="form-checkbox">
                        <input type="checkbox" class="form-checkbox__input" id="7">
                        <label for="7">Урология</label>
                    </div>

                    <div class="form-checkbox">
                        <input type="checkbox" class="form-checkbox__input" id="8">
                        <label for="8">Акушерство и гинекология</label>
                    </div>

                    <div class="form-checkbox">
                        <input type="checkbox" class="form-checkbox__input" id="9">
                        <label for="9">Аллергология и иммунология</label>
                    </div>

                    <div class="form-checkbox">
                        <input type="checkbox" class="form-checkbox__input" id="10">
                        <label for="10">Гастроэнтерология</label>
                    </div>

                    <div class="form-checkbox">
                        <input type="checkbox" class="form-checkbox__input" id="11">
                        <label for="11">Урология</label>
                    </div>

                    <div class="form-checkbox">
                        <input type="checkbox" class="form-checkbox__input" id="12">
                        <label for="12">Проктология</label>
                    </div>

                    <div class="form-checkbox">
                        <input type="checkbox" class="form-checkbox__input" id="13">
                        <label for="13">Урология</label>
                    </div>

                    <div class="form-checkbox">
                        <input type="checkbox" class="form-checkbox__input" id="14">
                        <label for="14">Акушерство и гинекология</label>
                    </div>

                    <div class="form-checkbox">
                        <input type="checkbox" class="form-checkbox__input" id="15">
                        <label for="15">Аллергология и иммунология</label>
                    </div>

                    <div class="form-checkbox">
                        <input type="checkbox" class="form-checkbox__input" id="16">
                        <label for="16">Гастроэнтерология</label>
                    </div>

                    <div class="form-checkbox">
                        <input type="checkbox" class="form-checkbox__input" id="17">
                        <label for="17">Урология</label>
                    </div>

                    <div class="form-checkbox">
                        <input type="checkbox" class="form-checkbox__input" id="18">
                        <label for="18">Проктология</label>
                    </div>

                    <button class="link-red">Подобрать</button>
                </form>
            </div>

            <div class="price__content">
                <form class="form-search">
                    <input type="text" class="form-search__input" placeholder="Ищите среди всех услуг нашей клиники...">
                    <label class="form-search__label"></label>
                </form>
                <div class="price__content">
                    <div class="department-price__item">
                        <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                        <div class="department-price__price">1 000₽</div>
                        <a href="javascript:void(0)" class="link">Записаться на прием</a>
                    </div>

                    <div class="department-price__item">
                        <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                        <div class="department-price__price">1 000₽</div>
                        <a href="javascript:void(0)" class="link">Записаться на прием</a>
                    </div>

                    <div class="department-price__item">
                        <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                        <div class="department-price__price">1 000₽</div>
                        <a href="javascript:void(0)" class="link">Записаться на прием</a>
                    </div>

                    <div class="department-price__item">
                        <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                        <div class="department-price__price">1 000₽</div>
                        <a href="javascript:void(0)" class="link">Записаться на прием</a>
                    </div>

                    <div class="department-price__item">
                        <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                        <div class="department-price__price">1 000₽</div>
                        <a href="javascript:void(0)" class="link">Записаться на прием</a>
                    </div>

                    <div class="department-price__item">
                        <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                        <div class="department-price__price">1 000₽</div>
                        <a href="javascript:void(0)" class="link">Записаться на прием</a>
                    </div>

                    <div class="department-price__item">
                        <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                        <div class="department-price__price">1 000₽</div>
                        <a href="javascript:void(0)" class="link">Записаться на прием</a>
                    </div>

                    <div class="department-price__item">
                        <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                        <div class="department-price__price">1 000₽</div>
                        <a href="javascript:void(0)" class="link">Записаться на прием</a>
                    </div>

                    <div class="department-price__item">
                        <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                        <div class="department-price__price">1 000₽</div>
                        <a href="javascript:void(0)" class="link">Записаться на прием</a>
                    </div>

                    <div class="department-price__item">
                        <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                        <div class="department-price__price">1 000₽</div>
                        <a href="javascript:void(0)" class="link">Записаться на прием</a>
                    </div>

                    <div class="department-price__item">
                        <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                        <div class="department-price__price">1 000₽</div>
                        <a href="javascript:void(0)" class="link">Записаться на прием</a>
                    </div>

                    <div class="department-price__item">
                        <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                        <div class="department-price__price">1 000₽</div>
                        <a href="javascript:void(0)" class="link">Записаться на прием</a>
                    </div>
                </div>

                <div class="pagination">
                    <a href="javascript:void(0)" class="pagination__prev"></a>
                    <ul class="pagination__pages">
                        <li class="pagination__item"><a href="javascript:void(0)">1</a></li>
                        <li class="pagination__item"><a href="javascript:void(0)">2</a></li>
                        <li class="pagination__item"><a href="javascript:void(0)">9</a></li>
                        <li class="pagination__item"><a href="javascript:void(0)">...</a></li>
                        <li class="pagination__item"><a href="javascript:void(0)">7</a></li>
                        <li class="pagination__item"><a href="javascript:void(0)">8</a></li>
                        <li class="pagination__item"><a href="javascript:void(0)">9</a></li>
                    </ul>
                    <a href="javascript:void(0)" class="pagination__next"></a>
                </div>
            </div>
        </div>
    </div>
</div>
