.doctor {
    &__block {
        display: flex;
        align-items: flex-start;
    }

    &__col-photo {
        width: 282px;
        min-width: 282px;
        margin-right: 24px;

        .link-red {
            width: 100%;
            text-align: center;
            margin-bottom: 16px;
        }
    }

    &__col-info {
        width: 588px;
    }

    &__photo {
        position: relative;
        padding-bottom: 125%;
        overflow: hidden;
        margin-bottom: 48px;

        img {
            position: absolute;
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    &__price {
        font-family: "Montserrat";
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: $black-color;
        text-align: center;

        span {
            color: #666666;
            font-weight: 400;
        }
    }

    &__type-wrap {
        display: flex;
        align-items: center;
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 8px;
    }

    &__type {
        color: $black-color;
        margin-right: 16px;
        display: block;
        text-decoration: none;
    }

    &__type-red {
        background: $red-color;
        color: $white-color;
        padding: 4px 8px;
        margin-right: 8px;
        border-radius: 2px;
        transition: 0.25s;

        &:hover {
            transition: 0.25s;
            text-decoration: none;
            color: $black-color;
        }
    }

    &__name {
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 32px;
        line-height: 42px;
        color: $black-color;
        padding-bottom: 32px;
        border-bottom: 1px solid #DDDDDD;
    }

    &__list {
        padding: 32px 0;
        margin: 0;
        list-style: none;
        border-bottom: 1px solid #DDDDDD;

        &-item {
            font-family: "Montserrat";
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: $black-color;
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__text {
        padding: 32px 0;
        border-bottom: 1px solid #DDDDDD;
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $black-color;
    }

    &__specialization {
        padding-top: 48px;
        padding-bottom: 32px;

        .h2 {
            margin-bottom: 24px;
        }

        &-list {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            list-style: none;
            padding: 0;
            margin: 0;
        }

        &-item {
            width: 50%;
            min-width: 50%;
            padding-left: 16px;
            margin-bottom: 8px;
            position: relative;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 20px;
            color: $black-color;

            &:before {
                content: "";
                display: block;
                height: 8px;
                width: 8px;
                border-radius: 50%;
                background: $green-color;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }
}

.doctor-diplomas {
    padding: 80px 0;
    background: #FAFAFA;

    &__title {
        font-family: "Montserrat";
        font-size: 24px;
        line-height: 32px;
        color: #333333;
        margin-bottom: 48px;
    }
    &__slider-count {
        display: none;
        text-align: center;
        left: 0;
        right: 0;
        margin: auto;
        font-family: "Montserrat";
        font-size: 14px;
        line-height: 20px;
        color: $black-color;
    }

    .slick-arrow {
        height: 24px;
        width: 24px;
        background: $white-color;
        border-radius: 50%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        z-index: 3;
        top: 50%;
        &:before {
            content: '';
        }
    }
    .slick-next{
        background-image: url("../img/content/arrow-p-next.svg");
        right: 70px;
    }
    .slick-prev{
        background-image: url("../img/content/arrow-p-prev.svg");
        left: 70px
    }

    &__slide {
        width: 282px;
        height: 352px;
        margin: 0 12px;
    }

    &__image {
        position: relative;
        width: 100%;
        height: 100%;

        img {
            max-width: 100%;
            max-height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .doctor {
        &__col-photo {
            width: calc(100% / 3 - 12px);
            min-width: calc(100% / 3 - 12px);
            margin-right: 0;
            padding-right: 12px;
        }

        &__col-info {
            width: calc(100% * 2 / 3 - 12px);
            min-width: calc(100% * 2 / 3 - 12px);
            padding-left: 12px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .doctor {
        &__block {
            flex-wrap: wrap;
        }

        &__col-photo {
            max-width: 282px;
            width: 282px;
            margin: auto;
            padding: 0;

            .link-red {
                display: none;
            }
        }

        &__col-info {
            padding-left: 0;
            width: 100%;
            min-width: 100%;
        }

        &__type-red {
            display: none;
        }

        &__photo {
            margin-bottom: 24px;
        }

        &__price {
            display: none;
        }

        &__name {
            font-size: 24px;
            line-height: 32px;
            padding-bottom: 24px;
        }

        &__list {
            padding: 24px 0;
        }

        &__text {
            padding: 24px 0;
        }

        &__specialization {
            padding: 24px 0;

            .h2 {
                margin-bottom: 16px;
            }
        }
    }
    .doctor-diplomas {
        padding: 40px 0;
        &__title {
            margin-bottom: 24px;
        }
    }
}


@media only screen and (max-width: 576px) {
    .doctor-diplomas {
        &__slider-count {
            display: block !important;
        }

        .slick-arrow {
            display: none !important;
        }

        &__slide {
            width: 282px;
            height: 352px;
            margin: 0 12px;
        }

        &__image {
            position: relative;
            width: 100%;
            height: 100%;

            img {
                max-width: 100%;
                max-height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }
}
