<div class="container">
    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="main.html">Главная</a></li>
            <li class="breadcrumb__item">Хлебные крошки</li>
        </ul>
    </div>
</div>

<div class="doctor">
    <div class="container">
        <div class="doctor__block">
            <div class="doctor__col-photo">
                <div class="doctor__photo">
                    <img src="static/img/content/doctor-photo.png">
                </div>

                <a href="javascript:void(0)" class="link-red">Записаться на прием</a>

                <div class="doctor__price"><span>Стоимость приема:</span> 1 000₽</div>
            </div>
            <div class="doctor__col-info">
                <div class="d-flex doctor__type-wrap">
                    <div class="doctor__type">Терапевт</div>
                    <a href="#" class="doctor__type doctor__type-red">Проктология</a>
                    <a href="#" class="doctor__type doctor__type-red">Флебология</a>
                </div>
                <div class="doctor__name">Иван Иванович Иванов</div>

                <ul class="doctor__list">
                    <li class="doctor__list-item">Заведующий стационарным отделением</li>
                    <li class="doctor__list-item">16 летний опыт работы в стационаре</li>
                    <li class="doctor__list-item">2012 год — начало работы в клинике Доктор САН</li>
                </ul>
                <div class="doctor__text">Гулевский Роман Александрович проводит лечение всех видов зависимостей,
                    пограничных и тяжелых психических расстройств. Доктор ведет амбулаторный прием, в том числе
                    консультирует родственников по вопросам мотивации к прохождению полноценного лечения. Помимо этого,
                    Роман Александрович Гулевский имеет опыт проведения противорецидивной терапии, владеет современными
                    психотерапевтическими методами.
                </div>
                <div class="doctor__specialization">
                    <div class="h2">Специализация</div>

                    <ul class="doctor__specialization-list">
                        <li class="doctor__specialization-item">алкоголизм</li>
                        <li class="doctor__specialization-item">алкоголизм</li>
                        <li class="doctor__specialization-item">алкоголизм</li>
                        <li class="doctor__specialization-item">алкоголизм</li>
                        <li class="doctor__specialization-item">алкоголизм</li>
                        <li class="doctor__specialization-item">алкоголизм</li>
                        <li class="doctor__specialization-item">алкоголизм</li>
                        <li class="doctor__specialization-item">алкоголизм</li>
                    </ul>
                </div>

                <div id="accordionExample" class="accordion">
                    <div class="accordion__card">
                        <div class="accordion__header" id="headingOne">
                            <div class="accordion__btn" data-toggle="collapse"
                                 data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Образование
                            </div>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                             data-parent="#accordionExample">
                            <div class="accordion__body">Образование</div>
                        </div>
                    </div>
                    <div class="accordion__card">
                        <div class="accordion__header" id="headingTwo">
                            <div class="accordion__btn collapsed" data-toggle="collapse"
                                 data-target="#collapseTwo" aria-expanded="false"
                                 aria-controls="collapseTwo">Курсы повышения квалификации
                            </div>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#accordionExample">
                            <div class="accordion__body">Курсы повышения квалификации</div>
                        </div>
                    </div>
                    <div class="accordion>>card">
                        <div class="accordion__header" id="headingThree">
                            <div class="accordion__btn collapsed" data-toggle="collapse"
                                 data-target="#collapseThree" aria-expanded="false"
                                 aria-controls="collapseThree">Опыт работы
                            </div>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                             data-parent="#accordionExample">
                            <div class="accordion__body">Опыт работы</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="doctor-diplomas">
    <div class="container">
        <div class="d-flex doctor-diplomas__title">
            <div class="h1">Дипломы и сертификаты</div>
        </div>
    </div>

    <div class="doctor-diplomas__slider">
        <div class="doctor-diplomas__slide">
            <div class="doctor-diplomas__image">
                <img src="static/img/content/lic1.png">
            </div>
        </div>
        <div class="doctor-diplomas__slide">
            <div class="doctor-diplomas__image">
                <img src="static/img/content/dip1.png">
            </div>
        </div>
        <div class="doctor-diplomas__slide">
            <div class="doctor-diplomas__image">
                <img src="static/img/content/dip2.png">
            </div>
        </div>
        <div class="doctor-diplomas__slide">
            <div class="doctor-diplomas__image">
                <img src="static/img/content/dip1.png">
            </div>
        </div>
        <div class="doctor-diplomas__slide">
            <div class="doctor-diplomas__image">
                <img src="static/img/content/dip2.png">
            </div>
        </div>
        <div class="doctor-diplomas__slide">
            <div class="doctor-diplomas__image">
                <img src="static/img/content/dip1.png">
            </div>
        </div>
        <div class="doctor-diplomas__slide">
            <div class="doctor-diplomas__image">
                <img src="static/img/content/dip2.png">
            </div>
        </div>
        <div class="doctor-diplomas__slide">
            <div class="doctor-diplomas__image">
                <img src="static/img/content/dip1.png">
            </div>
        </div>
        <div class="doctor-diplomas__slide">
            <div class="doctor-diplomas__image">
                <img src="static/img/content/dip2.png">
            </div>
        </div>
    </div>
    <div class="doctor-diplomas__slider-count"></div>
</section>

<section class="main-feedback">
    <div class="container">
        <div class="d-flex main-feedback__title">
            <div class="h1">Отзывы здоровых людей</div>
        </div>
    </div>

    <div class="main-feedback__slider">
        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Екатерина Хорошая</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!

                <a href="javascript:void(0)" class="read-more">Читать полностью</a>
            </div>
        </div>

        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Арутюнова Эльмира</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!

                <a href="javascript:void(0)" class="read-more">Читать полностью</a>
            </div>
        </div>

        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Екатерина Хорошая</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!

                <a href="javascript:void(0)" class="read-more">Читать полностью</a>
            </div>
        </div>

        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Инна</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!

                <a href="javascript:void(0)" class="read-more">Читать полностью</a>
            </div>
        </div>

        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Екатерина Хорошая</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!

                <a href="javascript:void(0)" class="read-more">Читать полностью</a>
            </div>
        </div>

        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Арутюнова Эльмира</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!

                <a href="javascript:void(0)" class="read-more">Читать полностью</a>
            </div>
        </div>

        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Екатерина Хорошая</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!

                <a href="javascript:void(0)" class="read-more">Читать полностью</a>
            </div>
        </div>

        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Инна</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!

                <a href="javascript:void(0)" class="read-more">Читать полностью</a>
            </div>
        </div>

        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Екатерина Хорошая</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!

                <a href="javascript:void(0)" class="read-more">Читать полностью</a>
            </div>
        </div>

        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Арутюнова Эльмира</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!

                <a href="javascript:void(0)" class="read-more">Читать полностью</a>
            </div>
        </div>

        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Екатерина Хорошая</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!

                <a href="javascript:void(0)" class="read-more">Читать полностью</a>
            </div>
        </div>

        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Инна</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!

                <a href="javascript:void(0)" class="read-more">Читать полностью</a>
            </div>
        </div>
    </div>
    <div class="main-feedback__slider-count"></div>
    <a class="link link-hide" href="feedback.html">Все отзывы</a>

    <a href="javascript:void(0)" class="link d-none d-sm-block mx-auto mt-4" data-toggle="modal"
       data-target="#modalFeedback">Оставить
        отзыв о
        враче</a>
</section>
