
    <div class="container">
        <div class="breadcrumb">
            <ul class="breadcrumb__list">
                <li class="breadcrumb__item"><a class="breadcrumb__link" href="main.html">Главная</a></li>
                <li class="breadcrumb__item">Хлебные крошки</li>
            </ul>
        </div>
        <div class="h1 content-page__title">Наши отделения</div>
    </div>


<section class="main-specialization">
    <div class="container-fluid">
        <div class="d-flex main-specialization__list">
            <a href="department.html" class="main-specialization__item">Проктология</a>
            <a href="department.html" class="main-specialization__item">Урология</a>
            <a href="department.html" class="main-specialization__item">Гинекология</a>
            <a href="department.html" class="main-specialization__item">Дермотология</a>
            <a href="department.html" class="main-specialization__item">Гастроэнтерология</a>
            <a href="department.html" class="main-specialization__item">Эндоскопия</a>
            <a href="department.html" class="main-specialization__item">Терапия</a>
            <a href="department.html" class="main-specialization__item">Лор</a>
            <a href="department.html" class="main-specialization__item">Хирургия</a>
        </div>
    </div>
</section>

<section class="content-page">
    <div class="container">
        <div class="h2 content-page__subtitle">Сео текст</div>
        <div class="d-flex justify-content-between flex-text">
            <div class="flex-text__col">
                <p>В магазинах России в продаже появились куриные яйца в новых упаковках. В них всего
                    девять яиц,
                    а не
                    десять, как привыкли покупатели. В таре яйца расфасованы по три штуки в три ряда Фото новой
                    упаковки появилось в социальных сетях, вызвав большой резонанс среди пользователей. За два дня
                    под новостью "Девяток яиц, пожалуйста" появилось более полутора тысяч сообщений.</p>
            </div>
            <div class="flex-text__col">
                <p>В магазинах России в продаже появились куриные яйца в новых упаковках. В них всего
                    девять яиц, а не
                    десять, как привыкли покупатели. В таре яйца расфасованы по три штуки в три ряда Фото новой
                    упаковки появилось в социальных сетях, вызвав большой резонанс среди пользователей. За два дня
                    под новостью "Девяток яиц, пожалуйста" появилось более полутора тысяч сообщений.</p>
            </div>
        </div>
    </div>
</section>
