.department {
    &__doctor-banner {
        height: 100%;
        background-image: url("../img/content/doc.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        align-self: stretch;
        position: relative;

        .h1 {
            position: absolute;
            left: 24px;
            bottom: 24px;
        }
    }
    &__banner-min {
        display: none;
    }

    &__banner-img {
        position: relative;
        padding-bottom: 75%;
        margin-bottom: 24px;

        img {
            position: absolute;
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}

.department-doctors {
    margin-top: 24px;
    flex-wrap: wrap;
    align-items: top;
    margin-bottom: 24px;

    .doctor-item {
        width: calc(25% - 18px);
        min-width: calc(25% - 18px);
        margin-right: 24px;
        height: auto;
        margin-bottom: 24px;
        box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);

        &:nth-child(4n) {
            margin-right: 0;
        }

        &__photo {
            width: 100%;
            padding-bottom: 56.2%;
            overflow: hidden;
            position: relative;

            img {
                position: absolute;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        &__content {
            background: $white-color;
            padding: 24px 16px;
            font-family: "Montserrat";
            color: $black-color;
        }

        &__type {
            font-weight: normal;
            font-size: 12px;
            line-height: 20px;
            color: #666666;
            margin-bottom: 8px;
        }

        &__name {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 8px;
        }

        &__info {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 18px;
            max-height: 40px;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 100%;

            span {
                color: $red-color;
            }
        }

        .rating {
            margin-bottom: 18px;
        }

        &__link {
            color: $red-color;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                color: $red-color;
            }
        }
    }
}

.department-feedback {
    margin-top: 24px;
    flex-wrap: wrap;
    align-items: top;
    margin-bottom: 24px;

    .doctor-feedback {
        width: calc(25% - 18px);
        min-width: calc(25% - 18px);
        margin-right: 24px;
        height: auto;
        margin-bottom: 24px;
        background-color: $white-color;
        font-family: "Montserrat";
        color: $black-color;

        &:nth-child(4n) {
            margin-right: 0;
        }

        &__name {
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 8px;
        }

        &__date {
            font-weight: normal;
            font-size: 12px;
            line-height: 20px;
            color: #999999;
            margin-bottom: 18px;
        }

        .rating {
            margin-bottom: 18px;
        }

        &__text {
            position: relative;
            font-size: 14px;
            line-height: 20px;
            display: -webkit-box;
            -webkit-line-clamp: 8;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 160px;
            max-width: 100%;
            &.show {
                max-height: fit-content;
                -webkit-line-clamp: inherit;
                padding-bottom: 20px;

                &:before {
                    background: none !important;
                }
            }

            &:before {
                content: "";
                height: 45px;
                width: 100%;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 30.73%, #FFFFFF 100%);
                bottom: 0;
                left: 0;
                position: absolute;
            }
        }

        .read-more {
            position: absolute;
            display: block;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            bottom: 0;
            left: 0;
            color: $red-color;
            text-decoration: none;
            transition: 0.25s;
            z-index: 2;

            &:hover {
                text-decoration: underline;
                color: $red-color;
                transition: 0.25s;
            }
        }
    }
}

.department-video {
    margin: 24px 0;
    flex-wrap: wrap;
    align-items: top;

    &__item {
        width: calc(100% / 3 - 18px);
        min-width: calc(100% / 3 - 18px);
        margin-right: 24px;
        margin-bottom: 24px;
        font-family: "Montserrat";
        color: $black-color;

        &:nth-child(3n) {
            margin-right: 0;
        }
    }

    &__block {
        border-radius: 4px;
        overflow: hidden;
        margin-bottom: 16px;
        padding-bottom: 56.2%;
        position: relative;

        .wrap-video {
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: contain;
            background-image: url("../img/content/video.png");
            background-repeat: no-repeat;
        }
        .video-play {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            height: 48px;
            width: 48px;
            background-position: center;
            background-size: contain;
            background-image: url("../img/content/play.svg");
            background-repeat: no-repeat;
            cursor: pointer;
            z-index: 2;
            transform: scale(1);
            transition: 0.25s;
            &:hover {
                transform: scale(1.2);
                transition: 0.25s;
            }
        }
    }

    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
    }

    &__text {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #666666;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 60px;
        max-width: 100%;
    }
}

@media only screen and (max-width: 1260px) {
    .department-doctors {
        .doctor-item {
            width: calc(100% / 3 - 16px);
            min-width: calc(100% / 3 - 16px);

            &:nth-child(4n) {
                margin-right: 24px;
            }
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }

    .department-feedback {
        .doctor-feedback {
            width: calc(100% / 3 - 16px);
            min-width: calc(100% / 3 - 16px);

            &:nth-child(4n) {
                margin-right: 24px;
            }
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }

    .department-video {
        &__item {
            width: calc(100% / 2 - 12px);
            min-width: calc(100% / 2 - 12px);
            margin-right: 24px;
            &:nth-child(3n) {
                margin-right: 24px;
            }

            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .department-doctors {
        .doctor-item {
            width: calc(100% / 3 - 11px);
            min-width: calc(100% / 3 - 11px);
            margin-right: 16px;
            margin-bottom: 16px;

            &:nth-child(4n) {
                margin-right: 16px;
            }

            &__content {
                background: $white-color;
                padding: 16px 8px;
                font-family: "Montserrat";
                color: $black-color;
            }
        }
    }

    .department-feedback {
        .doctor-feedback {
            width: calc(100% / 3 - 11px);
            min-width: calc(100% / 3 - 11px);
            margin-right: 16px;

            &:nth-child(4n) {
                margin-right: 16px;
            }
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }

    .department-video {
        &__item {
            width: calc(100% / 2 - 8px);
            min-width: calc(100% / 2 - 8px);
            margin-right: 16px;
            &:nth-child(3n) {
                margin-right: 16px;
            }

            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .department {
        &__doctor-banner {
            display: none;
        }
        &__banner-min {
            display: block;
        }
    }


    .department-doctors {
        .doctor-item {
            width: calc(100% / 2 - 8px);
            min-width: calc(100% / 2 - 8px);
            margin-right: 16px;

            &:nth-child(4n) {
                margin-right: 0;
            }
            &:nth-child(3n) {
                margin-right: 16px;
            }
            &:nth-child(2n) {
                margin-right: 0;
            }

            &__content {
                padding: 16px 8px;
            }
        }
    }

    .department-feedback {
        .doctor-feedback {
            width: calc(100% / 2 - 12px);
            min-width: calc(100% / 2 - 12px);
            margin-right: 24px;

            &:nth-child(4n) {
                margin-right: 0;
            }
            &:nth-child(3n) {
                margin-right: 24px;
            }
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
}

@media only screen and (max-width: 576px) {}

@media only screen and (max-width: 490px) {
    .department-doctors {
        .doctor-item {
            width: 100%;
            min-width: 100%;
            margin-right: 0;

            &:nth-child(4n) {
                margin-right: 0;
            }
            &:nth-child(3n) {
                margin-right: 0;
            }
            &:nth-child(2n) {
                margin-right: 0;
            }

            &__content {
                padding: 24px 16px;
            }

            &__photo {
                padding-bottom: 50%;
            }
        }
    }

    .department-feedback {
        .doctor-feedback {
            width: 100%;
            min-width: 100%;
            margin-right: 0;

            &:nth-child(4n) {
                margin-right: 0;
            }
            &:nth-child(3n) {
                margin-right: 0;
            }
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }

    .department-video {
        &__item {
            width: 100%;
            min-width: 100%;
            margin-right: 0;
            &:nth-child(3n) {
                margin-right: 0;
            }

            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
}
