<div class="container">
    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="main.html">Главная</a></li>
            <li class="breadcrumb__item">Хлебные крошки</li>
        </ul>
    </div>
</div>

<div class="text-page department">
    <div class="container">
        <div class="d-flex department__block">
            <div class="department__menu">
                <a href="javascript:void(0)" class="sidebar-main">Главная отделения</a>
                <ul class="sidebar-list">
                    <li class="sidebar-list__item">
                        <a href="javascript:void(0)">Лечение геморроя</a>
                    </li>
                    <li class="sidebar-list__item">
                        <a href="javascript:void(0)">Лечение анальных трещин</a>
                    </li>
                    <li class="sidebar-list__item">
                        <a href="javascript:void(0)">Эстетическая проктология</a>
                    </li>
                    <li class="sidebar-list__item">
                        <a href="javascript:void(0)">Физиотерапия в проктологии</a>
                    </li>
                    <li class="sidebar-list__item sub-menu active">
                        <a href="javascript:void(0)" class="active">Все
                            заболевания</a>
                        <ul class="active second-sub">
                            <li class="sidebar-list__item sub-menu">
                                <a href="javascript:void(0)" class="active"><div
                                    class="sidebar-list__more active"></div>Мужская
                                    проктология</a>
                                <ul class="active third-sub">
                                    <li class="sidebar-list__item">
                                        <a href="javascript:void(0)" class="active"><div
                                            class="sidebar-list__more active"></div>Аномалии
                                            развития органов
                                            мочеполовой системы</a>
                                        <ul class="active four-sub">
                                            <li class="sidebar-list__item">
                                                <a href="javascript:void(0)">Лечение болезни Пейрони</a>
                                            </li class="sidebar-list__item">
                                            <li>
                                                <a href="javascript:void(0)">Лечение варикоцеле</a>
                                            </li class="sidebar-list__item">
                                            <li>
                                                <a href="javascript:void(0)">Лечение гипоспадии</a>
                                            </li>
                                            <li class="sidebar-list__item">
                                                <a href="javascript:void(0)">Добавочная почечная артерия</a>
                                            </li>
                                            <li class="sidebar-list__item">
                                                <a href="javascript:void(0)">Лечение болезни Пейрони</a>
                                            </li>
                                            <li class="sidebar-list__item">
                                                <a href="javascript:void(0)">Лечение варикоцеле</a>
                                            </li>
                                            <li class="sidebar-list__item">
                                                <a href="javascript:void(0)">Лечение гипоспадии</a>
                                            </li>
                                            <li class="sidebar-list__item">
                                                <a href="javascript:void(0)">Добавочная почечная артерия</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="sidebar-list__item">
                                        <a href="javascript:void(0)">Воспалительные заболевания мочеполовых органов</a>
                                    </li class="sidebar-list__item">
                                    <li class="sidebar-list__item">
                                        <a href="javascript:void(0)">Новообразования мочеполовых органов</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sidebar-list__item">
                                <a href="javascript:void(0)">Женская урология</a>
                            </li>
                            <li class="sidebar-list__item">
                                <a href="javascript:void(0)">Хирургическая урология</a>
                            </li>
                            <li class="sidebar-list__item">
                                <a href="javascript:void(0)">Заболевания, передающиеся половым путем</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="sidebar-menu">
                    <li class="sidebar-menu__list active">
                        <a href="javascript:void(0)">Цены</a>
                    </li>
                    <li class="sidebar-menu__list">
                        <a href="javascript:void(0)">Врачи</a>
                    </li>
                    <li class="sidebar-menu__list">
                        <a href="javascript:void(0)">Диагностика</a>
                    </li>
                    <li class="sidebar-menu__list">
                        <a href="javascript:void(0)">Подготовка к визиту</a>
                    </li>
                    <li class="sidebar-menu__list">
                        <a href="javascript:void(0)">Отзывы</a>
                    </li>
                    <li class="sidebar-menu__list">
                        <a href="javascript:void(0)">Вопрос–ответ</a>
                    </li>
                    <li class="sidebar-menu__list">
                        <a href="javascript:void(0)">Видео</a>
                    </li>
                </ul>
            </div>
            <div class="department__content">
               <div class="h1">Цены проктологии</div>
                <div class="department__menu-btn  cd-dropdown-trigger-menu">Меню</div>

                <div class="d-flex department-price">
                    <div class="department-price__item">
                        <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                        <div class="department-price__price">1 000₽</div>
                        <a href="javascript:void(0)" class="link">Записаться на прием</a>
                    </div>

                    <div class="department-price__item">
                        <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                        <div class="department-price__price">1 000₽</div>
                        <a href="javascript:void(0)" class="link">Записаться на прием</a>
                    </div>

                    <div class="department-price__item">
                        <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                        <div class="department-price__price">1 000₽</div>
                        <a href="javascript:void(0)" class="link">Записаться на прием</a>
                    </div>

                    <div class="department-price__item">
                        <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                        <div class="department-price__price">1 000₽</div>
                        <a href="javascript:void(0)" class="link">Записаться на прием</a>
                    </div>

                    <div class="department-price__item">
                        <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                        <div class="department-price__price">1 000₽</div>
                        <a href="javascript:void(0)" class="link">Записаться на прием</a>
                    </div>

                    <div class="department-price__item">
                        <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                        <div class="department-price__price">1 000₽</div>
                        <a href="javascript:void(0)" class="link">Записаться на прием</a>
                    </div>

                    <div class="department-price__item">
                        <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                        <div class="department-price__price">1 000₽</div>
                        <a href="javascript:void(0)" class="link">Записаться на прием</a>
                    </div>

                    <div class="department-price__item">
                        <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                        <div class="department-price__price">1 000₽</div>
                        <a href="javascript:void(0)" class="link">Записаться на прием</a>
                    </div>

                    <div class="department-price__item">
                        <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                        <div class="department-price__price">1 000₽</div>
                        <a href="javascript:void(0)" class="link">Записаться на прием</a>
                    </div>

                    <div class="department-price__item">
                        <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                        <div class="department-price__price">1 000₽</div>
                        <a href="javascript:void(0)" class="link">Записаться на прием</a>
                    </div>

                    <div class="department-price__item">
                        <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                        <div class="department-price__price">1 000₽</div>
                        <a href="javascript:void(0)" class="link">Записаться на прием</a>
                    </div>

                    <div class="department-price__item">
                        <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                        <div class="department-price__price">1 000₽</div>
                        <a href="javascript:void(0)" class="link">Записаться на прием</a>
                    </div>

                    <div class="department-price__item">
                        <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                        <div class="department-price__price">1 000₽</div>
                        <a href="javascript:void(0)" class="link">Записаться на прием</a>
                    </div>

                    <div class="department-price__item">
                        <div class="department-price__title">Прием (осмотр, консультация) стоматолога терапевта</div>
                        <div class="department-price__price">1 000₽</div>
                        <a href="javascript:void(0)" class="link">Записаться на прием</a>
                    </div>
                </div>

                <div class="pagination">
                    <a href="javascript:void(0)" class="pagination__prev"></a>
                    <ul class="pagination__pages">
                        <li class="pagination__item"><a href="javascript:void(0)">1</a></li>
                        <li class="pagination__item"><a href="javascript:void(0)">2</a></li>
                        <li class="pagination__item"><a href="javascript:void(0)">9</a></li>
                        <li class="pagination__item"><a href="javascript:void(0)">...</a></li>
                        <li class="pagination__item"><a href="javascript:void(0)">7</a></li>
                        <li class="pagination__item"><a href="javascript:void(0)">8</a></li>
                        <li class="pagination__item"><a href="javascript:void(0)">9</a></li>
                    </ul>
                    <a href="javascript:void(0)" class="pagination__next"></a>
                </div>
            </div>
        </div>
    </div>
</div>

