.select2-results {
    max-height: 200px;
    font-family: "Montserrat" !important;
    font-weight: 500;
    font-size: 12px !important;
    line-height: 20px;
}

.mCSB_draggerContainer {
    border-left: 1px solid #DDDDDD;
}

.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: $green-color;
    width: 8px;
}

.mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail {
    background-color: white;
}

.main-banner {
    max-width: 100%;
    margin: auto;
    height: 768px;
    overflow: hidden;

    &__slider {
        width: 100%;
        height: 768px;

        .slick-slide {
            display: flex;
            align-items: center;
        }
    }

    &__slider-count {
        display: none;
        text-align: center;
        left: 0;
        right: 0;
        margin: auto;
    }

    .slick-arrow {
        height: 50px;
        width: 50px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        z-index: 3;
        top: calc(50% - 25px);

        &:before {
            content: '';
        }
    }

    .slick-next {
        background-image: url("../img/content/arrow-b-next.svg");
        right: 40px;
    }

    .slick-prev {
        background-image: url("../img/content/arrow-b-prev.svg");
        left: 40px
    }

    &__slide {
        display: flex;
        align-items: center;
        height: 768px;
        background: linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 70.42%);

        &.first-slide {
            background-image: url("../img/content/banner1.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .wrap-content {
        width: 1440px;
        max-width: 1440px;
        margin: auto;
    }

    &__content {
        max-width: 588px;
        margin-left: auto;
        margin-right: 120px;
        height: fit-content;
        color: $white-color;
        text-align: center;

        .h1 {
            max-width: 80%;
            margin: 0 auto 16px auto;
            color: $white-color;
        }

        .h4 {
            color: $white-color;
            line-height: 20px;
        }

        .link {
            margin: auto;
        }

        img {
            display: block;
            margin: 48px auto;
        }
    }
}

.main-about {
    .container-fluid {
        width: 100%;
        max-width: 100%;
    }

    &__col {
        width: 50%;
        min-width: 50%;
        align-items: center;
    }

    &__image-wrap {
        position: relative;
        padding-bottom: 106.6%;

        img {
            height: 100%;
            width: 100%;
            position: absolute;
            object-fit: cover;
        }
    }


    &__text {
        text-align: center;
        display: flex;
        align-items: center;
    }

    .brow-bg {
        background: $brown-color;

        .h2, .text2 {
            color: $white-color;
        }
    }

    &__content {
        height: fit-content;
        padding: 0 66px;

        img {
            margin-bottom: 48px;
        }

        .h2 {
            margin-bottom: 16px;
        }

        .link {
            margin: auto;
        }
    }
}

.main-specialization {
    font-family: 'Playfair Display', serif;

    .container-fluid {
        width: 100%;
        max-width: 100%;
    }

    &__list {
        flex-wrap: wrap;
        align-items: center;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        height: 300px;
        min-width: calc(100% / 3);
        width: calc(100% / 3);
        color: $black-color;
        text-decoration: none;
        transition: 0.25s;

        &.hide {
            display: none;
        }

        &.hide-all {
            display: none;
        }

        &.light-bg {
            background: transparent;
        }

        &.medium-bg {
            background: transparent;
        }

        &:hover {
            text-decoration: none;
            color: $red-color;
            transition: 0.25s;
        }

        &:nth-child(even) {
            background: $medium-gray-color;
        }

        &:nth-child(odd) {
            background: $light-gray-color2;
        }
    }
}

.main-trust {
    padding-top: 80px;
    padding-bottom: 80px;
    display: block;
    overflow: hidden;

    &__image {
        display: block;
        margin: auto;
        margin-bottom: 16px;
    }

    &__title {
        text-align: center;
        margin-bottom: 52px;
    }

    &__list {
        justify-content: space-between;
    }

    &__subtitle {
        font-family: "Montserrat", Serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: $black-color;
        margin-bottom: 8px;
    }

    &__item {
        width: 24%;
        min-width: 24%;
        text-align: center;

        .text-content {
            margin-bottom: 0;
            font-family: "Montserrat";
        }

        img {
            display: block;
            margin: auto;
            margin-bottom: 20px;
        }
    }

    &__slider {
        display: none;
    }

    &__slider-count {
        display: none;
    }
}

.main-doctor {
    padding: 80px 0 80px 0;
    background: $light-gray-color;
    overflow: hidden;

    .link-hide {
        display: none;
    }

    &__slider-count {
        display: none;
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        margin: 24px 0;
        text-align: center;
        color: $black-color;
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 48px;
    }

    &__slider {
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    &__slide {
        width: 282px;
        min-width: 282px;
        margin: 0 12px;
        box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);

        &:focus {
            outline: none;
        }
    }

    .slick-arrow {
        height: 24px;
        width: 24px;
        background: $white-color;
        border-radius: 50%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        z-index: 3;
        top: 40%;

        &:before {
            content: '';
        }
    }

    .slick-next {
        background-image: url("../img/content/arrow-p-next.svg");
        right: 70px;
    }

    .slick-prev {
        background-image: url("../img/content/arrow-p-prev.svg");
        left: 70px
    }

    &__image {
        height: 141px;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__info {
        padding: 24px 16px;
        background: $white-color;

        .rating {
            margin-bottom: 18px;
        }

        .read-link {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: $red-color;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__specialization {
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        color: #666666;
        margin-bottom: 8px;
    }

    &__name {
        margin-bottom: 8px;
        color: $black-color;

        &:hover {
            color: $black-color;
        }
    }

    &__text {
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: $black-color;
        margin-bottom: 16px;
    }
}

.main-feedback {
    padding: 80px 0 80px 0;
    background: $white-color;
    overflow: hidden;

    .link-hide {
        display: none;
    }

    &__slider-count {
        display: none;
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        margin: 24px 0;
        text-align: center;
        color: $black-color;
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 48px;
    }

    &__slider {
        width: 100%;
        overflow: hidden;
    }

    .slick-arrow {
        height: 24px;
        width: 24px;
        background: $white-color;
        border-radius: 50%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        z-index: 3;
        top: 40%;

        &:before {
            content: '';
        }
    }

    .slick-next {
        background-image: url("../img/content/arrow-p-next.svg");
        right: 70px;
    }

    .slick-prev {
        background-image: url("../img/content/arrow-p-prev.svg");
        left: 70px
    }

    &__slide {
        width: 282px;
        min-width: 282px;
        margin: 0 12px;
        position: relative;

        &:focus {
            outline: none;
        }

        .rating {
            margin-bottom: 16px;
        }
    }

    &__name {
        margin-bottom: 8px;
    }

    &__date {
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 16px;
        color: #999999;
    }

    &__text {
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: $black-color;
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 180px;
        max-width: 100%;

        &.show {
            max-height: fit-content;
            -webkit-line-clamp: inherit;
            padding-bottom: 20px;

            .read-more {
                background: none;
            }
        }
    }

    .read-more {
        height: 34px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        color: $red-color;
        display: flex;
        align-items: flex-end;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 30.73%, #FFFFFF 100%);

        &:hover {
            color: $red-color;
            cursor: pointer;
            text-decoration: none;
        }

        &:focus {
            outline: none;
        }
    }
}

.main-program {
    padding: 80px 0 0 0;
    background: $light-gray-color;
    overflow: hidden;

    .link-hide {
        display: none;
    }

    &__slider-count {
        display: none;
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        margin: 24px 0;
        text-align: center;
        color: $black-color;
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 48px;
    }

    &__slider {
        width: 100%;
        overflow: hidden;
    }

    .slick-arrow {
        height: 24px;
        width: 24px;
        background: $white-color;
        border-radius: 50%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        z-index: 3;
        top: 40%;

        &:before {
            content: '';
        }
    }

    .slick-next {
        background-image: url("../img/content/arrow-p-next.svg");
        right: 70px;
    }

    .slick-prev {
        background-image: url("../img/content/arrow-p-prev.svg");
        left: 70px
    }

    &__slide {
        width: 384px;
        min-width: 384px;
        margin: 0 12px;
        padding-bottom: 80px;

        &:focus {
            outline: none;
        }
    }

    &__image {
        position: relative;
        padding-bottom: 50%;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        background: $white-color;
        padding: 32px 24px;
        position: relative;
        box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);

        .h4 {
            text-decoration: none;
            margin-bottom: 8px;
            display: block;

            &:hover {
                text-decoration: underline;
                color: $black-color;
            }
        }

        .read-more {
            position: absolute;
            bottom: 32px;
            display: flex;
            left: 24px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 30.73%, #FFFFFF 100%);;
            height: 38px;
            align-items: flex-end;
            color: $red-color;
            text-decoration: none;
            font-family: "Montserrat";
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            width: calc(100% - 48px);

            &:focus {
                outline: none;
            }
        }
    }
}

.main-stocks {
    padding-top: 84px;

    .link-hide {
        display: none;
    }

    &__slider-count {
        display: none;
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        margin: 24px 0;
        text-align: center;
        color: $black-color;
    }

    .slick-arrow {
        height: 24px;
        width: 24px;
        background: $white-color;
        border-radius: 50%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        z-index: 3;
        top: 40%;

        &:before {
            content: '';
        }
    }

    .slick-next {
        background-image: url("../img/content/arrow-p-next.svg");
        right: 70px;
    }

    .slick-prev {
        background-image: url("../img/content/arrow-p-prev.svg");
        left: 70px
    }
}

.main-news {
    padding-bottom: 80px;
    overflow: hidden;

    .link-hide {
        display: none;
    }

    &__slider-count {
        display: none;
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        margin: 24px 0;
        text-align: center;
        color: $black-color;
    }

    &__title {
        margin-bottom: 48px;
        justify-content: space-between;
        align-items: center;
    }

    &__slider {
        width: 100%;
        overflow: hidden;
    }

    .slick-arrow {
        height: 24px;
        width: 24px;
        background: $white-color;
        border-radius: 50%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        z-index: 3;
        top: 40%;

        &:before {
            content: '';
        }
    }

    .slick-next {
        background-image: url("../img/content/arrow-p-next.svg");
        right: 70px;
    }

    .slick-prev {
        background-image: url("../img/content/arrow-p-prev.svg");
        left: 70px
    }

    &__slide {
        width: 282px;
        min-width: 282px;
        margin: 0 12px;

        .h4 {
            margin-bottom: 8px;
            display: block;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                color: $black-color;
            }
        }

        &:focus {
            outline: none;
        }
    }

    &__image {
        height: 141px;
        overflow: hidden;
        margin-bottom: 26px;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__info {
        margin-bottom: 16px;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        color: $black-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__date {
        color: #999999;
        font-weight: 400;
    }

    .icon-time {
        width: 24px;
        height: 24px;
        min-width: 24px;
        margin-right: 8px;
        background-size: 16px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../img/content/icon-time.svg');
        display: inline-block;
        vertical-align: bottom;
    }
}

@media only screen and (max-width: 1260px) {
    .main-about {
        &__image-wrap {
            padding-bottom: 140%;
        }

        &__content {
            height: fit-content;
            padding: 0 20px;

            img {
                margin-bottom: 24px;
            }

            .text2 {
                font-size: 14px;
                line-height: 22px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .main-banner {
        height: 568px;

        &__slider {
            height: 568px;

            .main-banner__slide {
                align-items: flex-end;
            }
        }

        &__slide {
            align-items: flex-end;
            height: 568px;
            background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 50%);
        }

        &__content {
            max-width: calc(100% - 32px);
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 48px;

            .h1 {
                max-width: 450px;
            }

            .h4 {
                margin-bottom: 24px;
            }

            img {
                display: none;
            }
        }
    }

    .main-about {
        .d-flex {
            flex-wrap: wrap;
        }

        &__col {
            width: 100%;
            min-width: 100%;
        }

        &__image-wrap {
            order: 1;
            position: relative;
            padding-bottom: 100%;

            img {
                position: absolute;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        &__text {
            order: 2;
            padding: 40px 0;
        }

        &__content {
            height: fit-content;
            padding: 0 16px;

            img {
                margin-bottom: 24px;
            }
        }
    }

    .main-specialization {
        &__item {
            font-size: 16px;
            line-height: 24px;
            height: 160px;
            min-width: 50%;
            width: 50%;

            &.hide {
                display: flex;
            }

            &.medium-bg {
                background: $medium-gray-color;
            }

            &.light-bg {
                background: $light-gray-color2;
            }
        }
    }

    .main-trust {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .main-doctor {
        padding: 40px 0 40px 0;

    }

    .main-feedback {
        padding: 40px 0;
    }

    .main-program {
        padding: 40px 0 0 0;
    }

    .main-stocks {
        padding-top: 44px;
    }

    .main-news {
        padding-bottom: 40px;
    }
}

@media only screen and (max-width: 576px) {
    .main-banner {
        position: relative;

        .slick-arrow {
            display: none !important;
        }

        .wrap-content {
            display: flex;
            align-items: flex-end;
            margin: 0;
        }

        &__content {
            max-width: 288px;
            margin-left: auto;
            margin-right: auto;
            height: fit-content;
            color: $white-color;
            text-align: center;
            margin-bottom: 68px;
            padding-bottom: 0;

            .h1 {
                max-width: 100%;
            }

            .h4 {
                color: $white-color;
                line-height: 20px;
                margin-bottom: 24px;
            }

            .link {
                margin: auto;
            }

            img {
                display: none;
            }
        }

        &__slider-count {
            display: block;
            position: absolute;
            font-family: "Montserrat";
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: $white-color;
            bottom: 24px;
        }
    }
    .main-trust {
        &__title {
            .h1 {
                font-size: 20px;
                line-height: 28px;
            }
        }

        &__title {
            margin-bottom: 28px;
        }

        &__list {
            display: none !important;
        }

        &__slider {
            display: block;
        }

        &__slider-count {
            display: block;
            font-family: "Montserrat";
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            margin-top: 24px;
            color: $black-color;
        }

        &__item {
            width: 100%;
            min-width: 100%;
        }
    }

    .main-doctor {
        &__title {
            .h1 {
                font-size: 20px;
                line-height: 28px;
            }
        }

        .link-hide {
            display: block;
            margin: auto;
        }

        &__title {
            margin-bottom: 24px;

            .link {
                display: none;
            }
        }

        &__slider-count {
            display: block;
        }

        .slick-dots {
            display: none !important;
        }

        .slick-arrow {
            display: none !important;
        }

    }

    .main-feedback {
        &__title {
            .h1 {
                font-size: 20px;
                line-height: 28px;
            }
        }

        .link-hide {
            display: block;
            margin: 0 auto;
        }

        &__slider-count {
            display: block;
        }

        .slick-dots {
            display: none !important;
        }

        &__title {
            margin-bottom: 24px;

            .link {
                display: none;
            }
        }

        .slick-arrow {
            display: none !important;
        }
    }

    .main-program {

        .link-hide {
            display: block;
            margin: 0 auto;
        }

        &__slider-count {
            margin-top: -20px;
            display: block;
        }

        &__title {
            margin-bottom: 24px;

            .link {
                display: none;
            }
        }

        .slick-dots {
            display: none !important;
        }

        .slick-arrow {
            display: none !important;
        }
    }

    .main-program {
        padding-bottom: 40px;

        &__title {
            .h1 {
                font-size: 20px;
                line-height: 28px;
            }
        }

        &__image {
            padding-bottom: 66%;
        }

        &__slide {
            width: 288px;
            min-width: 288px;
            margin: 0 12px;
            padding-bottom: 50px;
        }

        &__info {
            padding: 24px 16px;

            .read-more {
                left: 16px
            }
        }
    }

    .main-stocks {
        &__title {
            .h1 {
                font-size: 20px;
                line-height: 28px;
            }
        }

        .link-hide {
            display: block;
            margin: 0 auto;
        }

        &__slider-count {
            display: block;
        }

        &__title {
            margin-bottom: 24px;

            .link {
                display: none;
            }
        }

        .slick-dots {
            display: none !important;
        }

        .slick-arrow {
            display: none !important;
        }
    }

    .main-news {
        &__title {
            .h1 {
                font-size: 20px;
                line-height: 28px;
            }
        }

        .link-hide {
            display: block;
            margin: 0 auto;
        }

        &__slider-count {
            display: block;
        }

        &__title {
            margin-bottom: 24px;

            .link {
                display: none;
            }
        }

        .slick-dots {
            display: none !important;
        }

        .slick-arrow {
            display: none !important;
        }
    }
}
