<section class="main-banner">
    <div class="main-banner__slider">
        <div class="main-banner__slide first-slide">
            <div class="wrap-content">
                <div class="main-banner__content">
                    <div class="h1">Путь к большой цели
                        начинается со здоровья
                    </div>
                    <div class="h4">path to a big goal begins with health</div>
                    <img src="static/img/content/main-logo-w.svg" alt="">
                    <a href="javascript:void(0)" class="link">Перейти к акции</a>
                </div>
            </div>
        </div>
        <div class="main-banner__slide second-slide"></div>
    </div>

    <div class="main-banner__slider-count">1/2</div>
</section>

<section class="main-about">
    <div class="container-fluid">
        <div class="d-flex">
            <div class="main-about__col main-about__image">
                <div class="main-about__image-wrap">
                <img src="static/img/content/main1.png" alt="">
                </div>
            </div>
            <div class="main-about__col main-about__text">
                <div class="main-about__content">
                    <img src="static/img/content/main-logo.svg" alt="">
                    <div class="h2">Отделение проктологии:<br>лечение без боли</div>
                    <div class="text2">Уникальные методики диагностики и лечения проктологических заболеваний
                        позволяют нашим
                        пациентам
                        получать эффективное лечение мирового уровня без боли.
                    </div>

                    <div class="text2">Что мы лечим?</div>
                    <a href="javascript:void(0)" class="link">Узнать больше</a>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="main-about__col main-about__text brow-bg">
                <div class="main-about__content">
                    <img src="static/img/content/main-logo.svg">
                    <div class="h2">Наука и медицина:<br>на страже здоровья</div>
                    <div class="text2">Клиника терапии и хирургии - не только центр по амбулаторному и хирургическому
                        лечению, но и центр по научной работе. Благодаря сотрудничеству с ведущими клиниками и
                        возможности перенимать опыт экспертов в медицине различных областей, наши пациенты могут
                        получать высокотехнологичную помощь не выезжая за пределы Краснодара.
                    </div>

                    <div class="text2">Что мы лечим?</div>
                    <a href="javascript:void(0)" class="link">Узнать больше</a>
                </div>
            </div>
            <div class="main-about__col main-about__image">
                <div class="main-about__image-wrap">
                <img src="static/img/content/main2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="main-specialization">
    <div class="container-fluid">
        <div class="d-flex main-specialization__list">
            <a href="department.html" class="main-specialization__item light-bg">Проктология</a>
            <a href="department.html" class="main-specialization__item medium-bg">Урология</a>
            <a href="department.html" class="main-specialization__item medium-bg">Гинекология</a>
            <a href="department.html" class="main-specialization__item light-bg">Дермотология</a>
            <a href="department.html" class="main-specialization__item light-bg">Гастроэнтерология</a>
            <a href="department.html" class="main-specialization__item medium-bg hide-all">Эндоскопия</a>
            <a href="department.html" class="main-specialization__item medium-bg hide">Эндоскопия</a>
            <a href="department.html" class="main-specialization__item medium-bg">Эндоскопия</a>
            <a href="department.html" class="main-specialization__item light-bg">Терапия</a>
            <a href="department.html" class="main-specialization__item light-bg">Лор</a>
            <a href="department.html" class="main-specialization__item medium-bg">Хирургия</a>
        </div>
    </div>
</section>

<section class="main-trust">
    <div class="container">
        <div class="main-trust__title">
            <img src="static/img/content/Tsclinic.svg" alt="" class="main-trust__image">
            <div class="h2">Почему нам доверяют?</div>
        </div>
        <div class="d-flex main-trust__list">
            <div class="main-trust__item">
                <img src="static/img/content/trust-icon.svg" alt="">
                <div class="main-trust__subtitle">Преимущество</div>
                <div class="text-content">В магазинах России в продаже появились куриные яйца в новых упаковках.</div>
            </div>
            <div class="main-trust__item">
                <img src="static/img/content/trust-icon.svg" alt="">
                <div class="main-trust__subtitle">Преимущество</div>
                <div class="text-content">В магазинах России в продаже появились куриные яйца в новых упаковках.</div>
            </div>
            <div class="main-trust__item">
                <img src="static/img/content/trust-icon.svg" alt="">
                <div class="main-trust__subtitle">Преимущество</div>
                <div class="text-content">В магазинах России в продаже появились куриные яйца в новых упаковках.</div>
            </div>
            <div class="main-trust__item">
                <img src="static/img/content/trust-icon.svg" alt="">
                <div class="main-trust__subtitle">Преимущество</div>
                <div class="text-content">В магазинах России в продаже появились куриные яйца в новых упаковках.</div>
            </div>
        </div>

        <div class="main-trust__slider">
            <div class="main-trust__slide">
                <div class="main-trust__item">
                    <img src="static/img/content/trust-icon.svg" alt="">
                    <div class="main-trust__subtitle">Преимущество</div>
                    <div class="text-content">В магазинах России в продаже появились куриные яйца в новых упаковках.
                    </div>
                </div>
            </div>
            <div class="main-trust__slide">
                <div class="main-trust__item">
                    <img src="static/img/content/trust-icon.svg" alt="">
                    <div class="main-trust__subtitle">Преимущество</div>
                    <div class="text-content">В магазинах России в продаже появились куриные яйца в новых упаковках.
                    </div>
                </div>
            </div>
            <div class="main-trust__slide">
                <div class="main-trust__item">
                    <img src="static/img/content/trust-icon.svg" alt="">
                    <div class="main-trust__subtitle">Преимущество</div>
                    <div class="text-content">В магазинах России в продаже появились куриные яйца в новых упаковках.
                    </div>
                </div>
            </div>
            <div class="main-trust__slide">
                <div class="main-trust__item">
                    <img src="static/img/content/trust-icon.svg" alt="">
                    <div class="main-trust__subtitle">Преимущество</div>
                    <div class="text-content">В магазинах России в продаже появились куриные яйца в новых упаковках.
                    </div>
                </div>
            </div>
        </div>

        <div class="main-trust__slider-count">1/4</div>
    </div>
</section>

<div class="main-doctor">
    <div class="container">
        <div class="d-flex main-feedback__title">
            <div class="h1">Отзывы здоровых людей</div>
            <a class="link" href="feedback.html">Все отзывы</a>
        </div>
    </div>

    <div class="main-doctor__slider">
        <div class="main-doctor__slide">
            <div class="main-doctor__image">
                <img src="static/img/content/doctor1.png" alt="">
            </div>
            <div class="main-doctor__info">
                <div class="main-doctor__specialization">Терапевт</div>
                <a href="javascript:void(0)" class="h4 main-doctor__name">Иван Иванович Иванов</a>
                <div class="main-doctor__text">Врач высокой пробы, очень серьезный специалист и вообще</div>
                <ul class="rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li>— 5.0</li>
                </ul>
                <a href="javascript:void(0)" class="read-link">Посмотреть отзывы</a>
            </div>
        </div>

        <div class="main-doctor__slide">
            <div class="main-doctor__image">
                <img src="static/img/content/doctor2.png" alt="">
            </div>
            <div class="main-doctor__info">
                <div class="main-doctor__specialization">Терапевт</div>
                <a href="javascript:void(0)" class="h4 main-doctor__name">Иван Иванович Иванов</a>
                <div class="main-doctor__text">Врач высокой пробы, очень серьезный специалист и вообще</div>
                <ul class="rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li>— 5.0</li>
                </ul>
                <a href="javascript:void(0)" class="read-link">Посмотреть отзывы</a>
            </div>
        </div>

        <div class="main-doctor__slide">
            <div class="main-doctor__image">
                <img src="static/img/content/doctor3.png" alt="">
            </div>
            <div class="main-doctor__info">
                <div class="main-doctor__specialization">Терапевт</div>
                <a href="javascript:void(0)" class="h4 main-doctor__name">Иван Иванович Иванов</a>
                <div class="main-doctor__text">Врач высокой пробы, очень серьезный специалист и вообще</div>
                <ul class="rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li>— 5.0</li>
                </ul>
                <a href="javascript:void(0)" class="read-link">Посмотреть отзывы</a>
            </div>
        </div>

        <div class="main-doctor__slide">
            <div class="main-doctor__image">
                <img src="static/img/content/doctor4.png" alt="">
            </div>
            <div class="main-doctor__info">
                <div class="main-doctor__specialization">Терапевт</div>
                <a href="javascript:void(0)" class="h4 main-doctor__name">Иван Иванович Иванов</a>
                <div class="main-doctor__text">Врач высокой пробы, очень серьезный специалист и вообще</div>
                <ul class="rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li>— 5.0</li>
                </ul>
                <a href="javascript:void(0)" class="read-link">Посмотреть отзывы</a>
            </div>
        </div>

        <div class="main-doctor__slide">
            <div class="main-doctor__image">
                <img src="static/img/content/doctor1.png" alt="">
            </div>
            <div class="main-doctor__info">
                <div class="main-doctor__specialization">Терапевт</div>
                <a href="javascript:void(0)" class="h4 main-doctor__name">Иван Иванович Иванов</a>
                <div class="main-doctor__text">Врач высокой пробы, очень серьезный специалист и вообще</div>
                <ul class="rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li>— 5.0</li>
                </ul>
                <a href="javascript:void(0)" class="read-link">Посмотреть отзывы</a>
            </div>
        </div>

        <div class="main-doctor__slide">
            <div class="main-doctor__image">
                <img src="static/img/content/doctor2.png" alt="">
            </div>
            <div class="main-doctor__info">
                <div class="main-doctor__specialization">Терапевт</div>
                <a href="javascript:void(0)" class="h4 main-doctor__name">Иван Иванович Иванов</a>
                <div class="main-doctor__text">Врач высокой пробы, очень серьезный специалист и вообще</div>
                <ul class="rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li>— 5.0</li>
                </ul>
                <a href="javascript:void(0)" class="read-link">Посмотреть отзывы</a>
            </div>
        </div>

        <div class="main-doctor__slide">
            <div class="main-doctor__image">
                <img src="static/img/content/doctor3.png" alt="">
            </div>
            <div class="main-doctor__info">
                <div class="main-doctor__specialization">Терапевт</div>
                <a href="javascript:void(0)" class="h4 main-doctor__name">Иван Иванович Иванов</a>
                <div class="main-doctor__text">Врач высокой пробы, очень серьезный специалист и вообще</div>
                <ul class="rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li>— 5.0</li>
                </ul>
                <a href="javascript:void(0)" class="read-link">Посмотреть отзывы</a>
            </div>
        </div>

        <div class="main-doctor__slide">
            <div class="main-doctor__image">
                <img src="static/img/content/doctor3.png" alt="">
            </div>
            <div class="main-doctor__info">
                <div class="main-doctor__specialization">Терапевт</div>
                <a href="javascript:void(0)" class="h4 main-doctor__name">Иван Иванович Иванов</a>
                <div class="main-doctor__text">Врач высокой пробы, очень серьезный специалист и вообще</div>
                <ul class="rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li>— 5.0</li>
                </ul>
                <a href="javascript:void(0)" class="read-link">Посмотреть отзывы</a>
            </div>
        </div>

        <div class="main-doctor__slide">
            <div class="main-doctor__image">
                <img src="static/img/content/doctor3.png" alt="">
            </div>
            <div class="main-doctor__info">
                <div class="main-doctor__specialization">Терапевт</div>
                <a href="javascript:void(0)" class="h4 main-doctor__name">Иван Иванович Иванов</a>
                <div class="main-doctor__text">Врач высокой пробы, очень серьезный специалист и вообще</div>
                <ul class="rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li>— 5.0</li>
                </ul>
                <a href="javascript:void(0)" class="read-link">Посмотреть отзывы</a>
            </div>
        </div>

        <div class="main-doctor__slide">
            <div class="main-doctor__image">
                <img src="static/img/content/doctor3.png" alt="">
            </div>
            <div class="main-doctor__info">
                <div class="main-doctor__specialization">Терапевт</div>
                <a href="javascript:void(0)" class="h4 main-doctor__name">Иван Иванович Иванов</a>
                <div class="main-doctor__text">Врач высокой пробы, очень серьезный специалист и вообще</div>
                <ul class="rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li>— 5.0</li>
                </ul>
                <a href="javascript:void(0)" class="read-link">Посмотреть отзывы</a>
            </div>
        </div>

        <div class="main-doctor__slide">
            <div class="main-doctor__image">
                <img src="static/img/content/doctor4.png" alt="">
            </div>
            <div class="main-doctor__info">
                <div class="main-doctor__specialization">Терапевт</div>
                <a href="javascript:void(0)" class="h4 main-doctor__name">Иван Иванович Иванов</a>
                <div class="main-doctor__text">Врач высокой пробы, очень серьезный специалист и вообще</div>
                <ul class="rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li>— 5.0</li>
                </ul>
                <a href="javascript:void(0)" class="read-link">Посмотреть отзывы</a>
            </div>
        </div>
    </div>

    <div class="main-doctor__slider-count">1/11</div>

    <a class="link link-hide" href="#">Узнать больше</a>
</div>

<section class="main-feedback">
    <div class="container">
        <div class="d-flex main-feedback__title">
            <div class="h1">Отзывы здоровых людей</div>
            <a class="link" href="feedback.html">Все отзывы</a>
        </div>
    </div>

    <div class="main-feedback__slider">
        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Екатерина Хорошая</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!

            <a href="javascript:void(0)" class="read-more">Читать полностью</a>
            </div>
        </div>

        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Арутюнова Эльмира</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!

            <a href="javascript:void(0)" class="read-more">Читать полностью</a>
            </div>
        </div>

        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Екатерина Хорошая</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!

                <a href="javascript:void(0)" class="read-more">Читать полностью</a>
            </div>
        </div>

        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Инна</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!

                <a href="javascript:void(0)" class="read-more">Читать полностью</a>
            </div>
        </div>

        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Екатерина Хорошая</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!

                <a href="javascript:void(0)" class="read-more">Читать полностью</a>
            </div>
        </div>

        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Арутюнова Эльмира</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!

                <a href="javascript:void(0)" class="read-more">Читать полностью</a>
            </div>
        </div>

        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Екатерина Хорошая</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!

                <a href="javascript:void(0)" class="read-more">Читать полностью</a>
            </div>
        </div>

        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Инна</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!

                <a href="javascript:void(0)" class="read-more">Читать полностью</a>
            </div>
        </div>

        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Екатерина Хорошая</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!

                <a href="javascript:void(0)" class="read-more">Читать полностью</a>
            </div>
        </div>

        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Арутюнова Эльмира</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!

                <a href="javascript:void(0)" class="read-more">Читать полностью</a>
            </div>
        </div>

        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Екатерина Хорошая</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!

                <a href="javascript:void(0)" class="read-more">Читать полностью</a>
            </div>
        </div>

        <div class="main-feedback__slide">
            <div class="h4 main-feedback__name">Инна</div>
            <div class="main-feedback__date">19 ноября 2018</div>
            <ul class="rating">
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="far fa-star"></i></li>
                <li>— 5.0</li>
            </ul>
            <div class="main-feedback__text">Спасибо огромное Леониду Леонидовичу за большой профессионализм! Обратился
                с кистой копчика, операция и послеоперационное наблюдение прошли на высоком уровне! Чувствуется забота о
                пациенте и все сопутствующие нюансы для скорейшего выздоровления!

                <a href="javascript:void(0)" class="read-more">Читать полностью</a>
            </div>
        </div>
    </div>
    <div class="main-feedback__slider-count">1/12</div>
    <a class="link link-hide" href="feedback.html">Все отзывы</a>
</section>

<section class="main-program">
    <div class="container">
        <div class="d-flex main-program__title">
            <div class="h1">Управление здоровьем</div>
            <a class="link" href="news.html">Все программы</a>
        </div>
    </div>

    <div class="main-program__slider">
        <div class="main-program__slide">
            <div class="main-program__image">
                <img src="static/img/content/new1.png" alt="">
            </div>
            <div class="main-program__info">
                <a href="javascript:void(0)" class="h4">Школа жизни</a>
                <div class="text">В этом году у нас очень большие скидки на все услуги клиники, успейте записаться на
                    прием. В
                    этом году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
                </div>
                <a href="program.html" class="read-more">Читать полностью</a>
            </div>
        </div>

        <div class="main-program__slide">
            <div class="main-program__image">
                <img src="static/img/content/new1.png" alt="">
            </div>
            <div class="main-program__info">
                <a href="javascript:void(0)" class="h4">Школа жизни</a>
                <div class="text">В этом году у нас очень большие скидки на все услуги клиники, успейте записаться на
                    прием. В
                    этом году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
                </div>
                <a href="program.html" class="read-more">Читать полностью</a>
            </div>
        </div>

        <div class="main-program__slide">
            <div class="main-program__image">
                <img src="static/img/content/new1.png" alt="">
            </div>
            <div class="main-program__info">
                <a href="javascript:void(0)" class="h4">Школа жизни</a>
                <div class="text">В этом году у нас очень большие скидки на все услуги клиники, успейте записаться на
                    прием. В
                    этом году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
                </div>
                <a href="program.html" class="read-more">Читать полностью</a>
            </div>
        </div>

        <div class="main-program__slide">
            <div class="main-program__image">
                <img src="static/img/content/new1.png" alt="">
            </div>
            <div class="main-program__info">
                <a href="javascript:void(0)" class="h4">Школа жизни</a>
                <div class="text">В этом году у нас очень большие скидки на все услуги клиники, успейте записаться на
                    прием. В
                    этом году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
                </div>
                <a href="program.html" class="read-more">Читать полностью</a>
            </div>
        </div>

        <div class="main-program__slide">
            <div class="main-program__image">
                <img src="static/img/content/new1.png" alt="">
            </div>
            <div class="main-program__info">
                <a href="javascript:void(0)" class="h4">Школа жизни</a>
                <div class="text">В этом году у нас очень большие скидки на все услуги клиники, успейте записаться на
                    прием. В
                    этом году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
                </div>
                <a href="program.html" class="read-more">Читать полностью</a>
            </div>
        </div>

        <div class="main-program__slide">
            <div class="main-program__image">
                <img src="static/img/content/new1.png" alt="">
            </div>
            <div class="main-program__info">
                <a href="javascript:void(0)" class="h4">Школа жизни</a>
                <div class="text">В этом году у нас очень большие скидки на все услуги клиники, успейте записаться на
                    прием. В
                    этом году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
                </div>
                <a href="program.html" class="read-more">Читать полностью</a>
            </div>
        </div>

        <div class="main-program__slide">
            <div class="main-program__image">
                <img src="static/img/content/new1.png" alt="">
            </div>
            <div class="main-program__info">
                <a href="javascript:void(0)" class="h4">Школа жизни</a>
                <div class="text">В этом году у нас очень большие скидки на все услуги клиники, успейте записаться на
                    прием. В
                    этом году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
                </div>
                <a href="program.html" class="read-more">Читать полностью</a>
            </div>
        </div>

        <div class="main-program__slide">
            <div class="main-program__image">
                <img src="static/img/content/new1.png" alt="">
            </div>
            <div class="main-program__info">
                <a href="javascript:void(0)" class="h4">Школа жизни</a>
                <div class="text">В этом году у нас очень большие скидки на все услуги клиники, успейте записаться на
                    прием. В
                    этом году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
                </div>
                <a href="program.html" class="read-more">Читать полностью</a>
            </div>
        </div>

        <div class="main-program__slide">
            <div class="main-program__image">
                <img src="static/img/content/new1.png" alt="">
            </div>
            <div class="main-program__info">
                <a href="javascript:void(0)" class="h4">Школа жизни</a>
                <div class="text">В этом году у нас очень большие скидки на все услуги клиники, успейте записаться на
                    прием. В
                    этом году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
                </div>
                <a href="program.html" class="read-more">Читать полностью</a>
            </div>
        </div>
    </div>

    <div class="main-program__slider-count">1/9</div>
    <a class="link link-hide" href="news.html">Все программы</a>
</section>

<section class="main-news main-stocks">
    <div class="container">
        <div class="d-flex main-news__title">
            <div class="h1">Акции</div>
            <a class="link" href="news.html">Все акции</a>
        </div>
    </div>
    <div class="main-news__slider" id="main-stocks__slider">
        <div class="main-news__slide">
            <div class="main-news__image">
                <img src="static/img/content/new1.png" alt="">
            </div>
            <div class="main-news__info">
                <div class="main-news__date"><i class="icon-time"></i>01.10. 2019</div>
                <div>Акция</div>
            </div>
            <a href="javascript:void(0)" class="h4">Новогодние скидки</a>
            <div class="text">В этом году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
                В этом
                году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
            </div>
        </div>

        <div class="main-news__slide">
            <div class="main-news__image">
                <img src="static/img/content/new4.png" alt="">
            </div>
            <div class="main-news__info">
                <div class="main-news__date"><i class="icon-time"></i>01.10. 2019</div>
                <div>Акция</div>
            </div>
            <a href="javascript:void(0)" class="h4">Новогодние скидки</a>
            <div class="text">В этом году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
                В этом
                году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
            </div>
        </div>

        <div class="main-news__slide">
            <div class="main-news__image">
                <img src="static/img/content/new2.png" alt="">
            </div>
            <div class="main-news__info">
                <div class="main-news__date"><i class="icon-time"></i>01.10. 2019</div>
                <div>Акция</div>
            </div>
            <a href="javascript:void(0)" class="h4">Новогодние скидки</a>
            <div class="text">В этом году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
                В этом
                году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
            </div>
        </div>

        <div class="main-news__slide">
            <div class="main-news__image">
                <img src="static/img/content/new3.png" alt="">
            </div>
            <div class="main-news__info">
                <div class="main-news__date"><i class="icon-time"></i>01.10. 2019</div>
                <div>Акция</div>
            </div>
            <a href="javascript:void(0)" class="h4">Новогодние скидки</a>
            <div class="text">В этом году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
                В этом
                году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
            </div>
        </div>

        <div class="main-news__slide">
            <div class="main-news__image">
                <img src="static/img/content/new1.png" alt="">
            </div>
            <div class="main-news__info">
                <div class="main-news__date"><i class="icon-time"></i>01.10. 2019</div>
                <div>Акция</div>
            </div>
            <a href="javascript:void(0)" class="h4">Новогодние скидки</a>
            <div class="text">В этом году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
                В этом
                году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
            </div>
        </div>

        <div class="main-news__slide">
            <div class="main-news__image">
                <img src="static/img/content/new4.png" alt="">
            </div>
            <div class="main-news__info">
                <div class="main-news__date"><i class="icon-time"></i>01.10. 2019</div>
                <div>Акция</div>
            </div>
            <a href="javascript:void(0)" class="h4">Новогодние скидки</a>
            <div class="text">В этом году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
                В этом
                году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
            </div>
        </div>

        <div class="main-news__slide">
            <div class="main-news__image">
                <img src="static/img/content/new2.png" alt="">
            </div>
            <div class="main-news__info">
                <div class="main-news__date"><i class="icon-time"></i>01.10. 2019</div>
                <div>Акция</div>
            </div>
            <a href="javascript:void(0)" class="h4">Новогодние скидки</a>
            <div class="text">В этом году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
                В этом
                году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
            </div>
        </div>

        <div class="main-news__slide">
            <div class="main-news__image">
                <img src="static/img/content/new3.png" alt="">
            </div>
            <div class="main-news__info">
                <div class="main-news__date"><i class="icon-time"></i>01.10. 2019</div>
                <div>Акция</div>
            </div>
            <a href="javascript:void(0)" class="h4">Новогодние скидки</a>
            <div class="text">В этом году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
                В этом
                году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
            </div>
        </div>

        <div class="main-news__slide">
            <div class="main-news__image">
                <img src="static/img/content/new1.png" alt="">
            </div>
            <div class="main-news__info">
                <div class="main-news__date"><i class="icon-time"></i>01.10. 2019</div>
                <div>Акция</div>
            </div>
            <a href="javascript:void(0)" class="h4">Новогодние скидки</a>
            <div class="text">В этом году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
                В этом
                году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
            </div>
        </div>

        <div class="main-news__slide">
            <div class="main-news__image">
                <img src="static/img/content/new4.png" alt="">
            </div>
            <div class="main-news__info">
                <div class="main-news__date"><i class="icon-time"></i>01.10. 2019</div>
                <div>Акция</div>
            </div>
            <a href="javascript:void(0)" class="h4">Новогодние скидки</a>
            <div class="text">В этом году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
                В этом
                году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
            </div>
        </div>

        <div class="main-news__slide">
            <div class="main-news__image">
                <img src="static/img/content/new2.png" alt="">
            </div>
            <div class="main-news__info">
                <div class="main-news__date"><i class="icon-time"></i>01.10. 2019</div>
                <div>Акция</div>
            </div>
            <a href="javascript:void(0)" class="h4">Новогодние скидки</a>
            <div class="text">В этом году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
                В этом
                году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
            </div>
        </div>

        <div class="main-news__slide">
            <div class="main-news__image">
                <img src="static/img/content/new3.png" alt="">
            </div>
            <div class="main-news__info">
                <div class="main-news__date"><i class="icon-time"></i>01.10. 2019</div>
                <div>Новость</div>
            </div>
            <a href="javascript:void(0)" class="h4">Новогодние скидки</a>
            <div class="text">В этом году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
                В этом
                году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
            </div>
        </div>
    </div>

    <div class="main-stocks__slider-count">1/12</div>
    <a class="link link-hide" href="news.html">Все акции</a>
</section>

<section class="main-news">
    <div class="container">
        <div class="d-flex main-news__title">
            <div class="h1">Новости</div>
            <a class="link" href="news.html">Все акции</a>
        </div>
    </div>
    <div class="main-news__slider" id="main-news__slider">
        <div class="main-news__slide">
            <div class="main-news__image">
                <img src="static/img/content/new1.png" alt="">
            </div>
            <div class="main-news__info">
                <div class="main-news__date"><i class="icon-time"></i>01.10. 2019</div>
                <div>Новость</div>
            </div>
            <a href="javascript:void(0)" class="h4">Новогодние скидки</a>
            <div class="text">В этом году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
                В этом
                году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
            </div>
        </div>

        <div class="main-news__slide">
            <div class="main-news__image">
                <img src="static/img/content/new4.png" alt="">
            </div>
            <div class="main-news__info">
                <div class="main-news__date"><i class="icon-time"></i>01.10. 2019</div>
                <div>Новость</div>
            </div>
            <a href="javascript:void(0)" class="h4">Новогодние скидки</a>
            <div class="text">В этом году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
                В этом
                году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
            </div>
        </div>

        <div class="main-news__slide">
            <div class="main-news__image">
                <img src="static/img/content/new2.png" alt="">
            </div>
            <div class="main-news__info">
                <div class="main-news__date"><i class="icon-time"></i>01.10. 2019</div>
                <div>Новость</div>
            </div>
            <a href="javascript:void(0)" class="h4">Новогодние скидки</a>
            <div class="text">В этом году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
                В этом
                году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
            </div>
        </div>

        <div class="main-news__slide">
            <div class="main-news__image">
                <img src="static/img/content/new3.png" alt="">
            </div>
            <div class="main-news__info">
                <div class="main-news__date"><i class="icon-time"></i>01.10. 2019</div>
                <div>Новость</div>
            </div>
            <a href="javascript:void(0)" class="h4">Новогодние скидки</a>
            <div class="text">В этом году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
                В этом
                году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
            </div>
        </div>

        <div class="main-news__slide">
            <div class="main-news__image">
                <img src="static/img/content/new1.png" alt="">
            </div>
            <div class="main-news__info">
                <div class="main-news__date"><i class="icon-time"></i>01.10. 2019</div>
                <div>Новость</div>
            </div>
            <a href="javascript:void(0)" class="h4">Новогодние скидки</a>
            <div class="text">В этом году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
                В этом
                году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
            </div>
        </div>

        <div class="main-news__slide">
            <div class="main-news__image">
                <img src="static/img/content/new4.png" alt="">
            </div>
            <div class="main-news__info">
                <div class="main-news__date"><i class="icon-time"></i>01.10. 2019</div>
                <div>Новость</div>
            </div>
            <a href="javascript:void(0)" class="h4">Новогодние скидки</a>
            <div class="text">В этом году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
                В этом
                году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
            </div>
        </div>

        <div class="main-news__slide">
            <div class="main-news__image">
                <img src="static/img/content/new2.png" alt="">
            </div>
            <div class="main-news__info">
                <div class="main-news__date"><i class="icon-time"></i>01.10. 2019</div>
                <div>Новость</div>
            </div>
            <a href="javascript:void(0)" class="h4">Новогодние скидки</a>
            <div class="text">В этом году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
                В этом
                году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
            </div>
        </div>

        <div class="main-news__slide">
            <div class="main-news__image">
                <img src="static/img/content/new3.png" alt="">
            </div>
            <div class="main-news__info">
                <div class="main-news__date"><i class="icon-time"></i>01.10. 2019</div>
                <div>Новость</div>
            </div>
            <a href="javascript:void(0)" class="h4">Новогодние скидки</a>
            <div class="text">В этом году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
                В этом
                году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
            </div>
        </div>

        <div class="main-news__slide">
            <div class="main-news__image">
                <img src="static/img/content/new1.png" alt="">
            </div>
            <div class="main-news__info">
                <div class="main-news__date"><i class="icon-time"></i>01.10. 2019</div>
                <div>Новость</div>
            </div>
            <a href="javascript:void(0)" class="h4">Новогодние скидки</a>
            <div class="text">В этом году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
                В этом
                году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
            </div>
        </div>

        <div class="main-news__slide">
            <div class="main-news__image">
                <img src="static/img/content/new4.png" alt="">
            </div>
            <div class="main-news__info">
                <div class="main-news__date"><i class="icon-time"></i>01.10. 2019</div>
                <div>Новость</div>
            </div>
            <a href="javascript:void(0)" class="h4">Новогодние скидки</a>
            <div class="text">В этом году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
                В этом
                году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
            </div>
        </div>

        <div class="main-news__slide">
            <div class="main-news__image">
                <img src="static/img/content/new2.png" alt="">
            </div>
            <div class="main-news__info">
                <div class="main-news__date"><i class="icon-time"></i>01.10. 2019</div>
                <div>Новость</div>
            </div>
            <a href="javascript:void(0)" class="h4">Новогодние скидки</a>
            <div class="text">В этом году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
                В этом
                году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
            </div>
        </div>

        <div class="main-news__slide">
            <div class="main-news__image">
                <img src="static/img/content/new3.png" alt="">
            </div>
            <div class="main-news__info">
                <div class="main-news__date"><i class="icon-time"></i>01.10. 2019</div>
                <div>Новость</div>
            </div>
            <a href="javascript:void(0)" class="h4">Новогодние скидки</a>
            <div class="text">В этом году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
                В этом
                году у нас очень большие скидки на все услуги клиники, успейте записаться на прием.
            </div>
        </div>
    </div>

    <div class="main-news__slider-count">1/12</div>
    <a class="link link-hide" href="news.html">Все акции</a>
</section>
