.faq-page {
    padding-bottom: 80px;
    &__title {
        text-align: center;
        margin-bottom: 24px;
    }

    .faq {
        margin-bottom: 48px;
    }
    .link {
        margin: auto;
    }
}
@media only screen and (max-width: 768px) {
    .faq-page {
        padding-bottom: 40px;
        .faq {
            margin-bottom: 24px;
        }
    }
}
