<div class="container">
    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="main.html">Главная</a></li>
            <li class="breadcrumb__item">Хлебные крошки</li>
        </ul>
    </div>
</div>

<div class="faq-page">
    <div class="container">
        <div class="h1 faq-page__title">Часто задаваемые вопросы</div>

        <div class="faq">
            <div class="faq__item">
                <div class="faq__header">Здравствуйте, подскажите пожалуйста, куда лучше колоть Аллокин?</div>
                <div class="faq__body">Здравствуйте, подскажите пожалуйста, куда лучше колоть Аллокин?</div>
            </div>

            <div class="faq__item active">
                <div class="faq__header">После стула на бумаге кровь геморрой не беспокоит,неприятных ощущений
                    нет .Что делать и к какому врачу обращаться.
                </div>
                <div class="faq__body">Добрый день! Для начала вам необходимо
                    обратиться к врачу-проктологу. Он, исходя из вашего состояния, направит вас на дальнейшую
                    диагностику. Здоровья вам!
                </div>
            </div>

            <div class="faq__item">
                <div class="faq__header">Здравствуйте, подскажите пожалуйста, куда лучше
                    колоть
                    Аллокин?
                </div>
                <div class="faq__body">Здравствуйте, подскажите пожалуйста, куда лучше колоть Аллокин?</div>
            </div>

            <div class="faq__item">
                <div class="faq__header">После стула на бумаге кровь геморрой не беспокоит,неприятных ощущений
                    нет .Что делать и к какому врачу обращаться.
                </div>
                <div class="faq__body">Добрый день! Для начала вам необходимо
                    обратиться к врачу-проктологу. Он, исходя из вашего состояния, направит вас на дальнейшую
                    диагностику. Здоровья вам!
                </div>
            </div>

            <div class="faq__item">
                <div class="faq__header">Здравствуйте, подскажите пожалуйста, куда лучше колоть Аллокин?</div>
                <div class="faq__body">Здравствуйте, подскажите пожалуйста, куда лучше колоть Аллокин?</div>
            </div>

            <div class="faq__item">
                <div class="faq__header">После стула на бумаге кровь геморрой не беспокоит,неприятных ощущений
                    нет .Что делать и к какому врачу обращаться.
                </div>
                <div class="faq__body">Добрый день! Для начала вам необходимо
                    обратиться к врачу-проктологу. Он, исходя из вашего состояния, направит вас на дальнейшую
                    диагностику. Здоровья вам!
                </div>
            </div>

            <div class="faq__item">
                <div class="faq__header">Здравствуйте, подскажите пожалуйста, куда лучше колоть Аллокин?</div>
                <div class="faq__body">Здравствуйте, подскажите пожалуйста, куда лучше колоть Аллокин?</div>
            </div>

            <div class="faq__item">
                <div class="faq__header">После стула на бумаге кровь геморрой не беспокоит,неприятных ощущений
                    нет .Что делать и к какому врачу обращаться.
                </div>
                <div class="faq__body">Добрый день! Для начала вам необходимо
                    обратиться к врачу-проктологу. Он, исходя из вашего состояния, направит вас на дальнейшую
                    диагностику. Здоровья вам!
                </div>
            </div>

            <div class="faq__item">
                <div class="faq__header">Здравствуйте, подскажите пожалуйста, куда лучше колоть Аллокин?</div>
                <div class="faq__body">Здравствуйте, подскажите пожалуйста, куда лучше колоть Аллокин?</div>
            </div>

            <div class="faq__item">
                <div class="faq__header">После стула на бумаге кровь геморрой не беспокоит,неприятных ощущений
                    нет .Что делать и к какому врачу обращаться.
                </div>
                <div class="faq__body">Добрый день! Для начала вам необходимо
                    обратиться к врачу-проктологу. Он, исходя из вашего состояния, направит вас на дальнейшую
                    диагностику. Здоровья вам!
                </div>
            </div>

            <div class="faq__item">
                <div class="faq__header">Здравствуйте, подскажите пожалуйста, куда лучше колоть Аллокин?</div>
                <div class="faq__body">Здравствуйте, подскажите пожалуйста, куда лучше колоть Аллокин?</div>
            </div>

            <div class="faq__item">
                <div class="faq__header">После стула на бумаге кровь геморрой не беспокоит,неприятных ощущений
                    нет .Что делать и к какому врачу обращаться.
                </div>
                <div class="faq__body">Добрый день! Для начала вам необходимо
                    обратиться к врачу-проктологу. Он, исходя из вашего состояния, направит вас на дальнейшую
                    диагностику. Здоровья вам!
                </div>
            </div>
        </div>

        <a class="link" href="javascript:void(0)">Задать свой вопрос</a>
    </div>
</div>
