<div class="container">
    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="main.html">Главная</a></li>
            <li class="breadcrumb__item">Хлебные крошки</li>
        </ul>
    </div>
</div>

<div class="diseases">
    <div class="container">
        <div class="d-flex diseases__block">
            <div class="department__menu">
                <a href="javascript:void(0)" class="sidebar-main">Главная отделения</a>
                <ul class="sidebar-list">
                    <li class="sidebar-list__item">
                        <a href="javascript:void(0)">Лечение геморроя</a>
                    </li>
                    <li class="sidebar-list__item">
                        <a href="javascript:void(0)">Лечение анальных трещин</a>
                    </li>
                    <li class="sidebar-list__item">
                        <a href="javascript:void(0)">Эстетическая проктология</a>
                    </li>
                    <li class="sidebar-list__item">
                        <a href="javascript:void(0)">Физиотерапия в проктологии</a>
                    </li>
                    <li class="sidebar-list__item sub-menu active">
                        <a href="javascript:void(0)" class="active">Все
                            заболевания</a>
                        <ul class="active second-sub">
                            <li class="sidebar-list__item sub-menu">
                                <a href="javascript:void(0)" class="active"><div
                                    class="sidebar-list__more active"></div>Мужская
                                    проктология</a>
                                <ul class="active third-sub">
                                    <li class="sidebar-list__item">
                                        <a href="javascript:void(0)" class="active"><div
                                            class="sidebar-list__more active"></div>Аномалии
                                            развития органов
                                            мочеполовой системы</a>
                                        <ul class="active four-sub">
                                            <li class="sidebar-list__item">
                                                <a href="javascript:void(0)">Лечение болезни Пейрони</a>
                                            </li class="sidebar-list__item">
                                            <li>
                                                <a href="javascript:void(0)">Лечение варикоцеле</a>
                                            </li class="sidebar-list__item">
                                            <li>
                                                <a href="javascript:void(0)">Лечение гипоспадии</a>
                                            </li>
                                            <li class="sidebar-list__item">
                                                <a href="javascript:void(0)">Добавочная почечная артерия</a>
                                            </li>
                                            <li class="sidebar-list__item">
                                                <a href="javascript:void(0)">Лечение болезни Пейрони</a>
                                            </li>
                                            <li class="sidebar-list__item">
                                                <a href="javascript:void(0)">Лечение варикоцеле</a>
                                            </li>
                                            <li class="sidebar-list__item">
                                                <a href="javascript:void(0)">Лечение гипоспадии</a>
                                            </li>
                                            <li class="sidebar-list__item">
                                                <a href="javascript:void(0)">Добавочная почечная артерия</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="sidebar-list__item">
                                        <a href="javascript:void(0)">Воспалительные заболевания мочеполовых органов</a>
                                    </li class="sidebar-list__item">
                                    <li class="sidebar-list__item">
                                        <a href="javascript:void(0)">Новообразования мочеполовых органов</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sidebar-list__item">
                                <a href="javascript:void(0)">Женская урология</a>
                            </li>
                            <li class="sidebar-list__item">
                                <a href="javascript:void(0)">Хирургическая урология</a>
                            </li>
                            <li class="sidebar-list__item">
                                <a href="javascript:void(0)">Заболевания, передающиеся половым путем</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="sidebar-menu">
                    <li class="sidebar-menu__list active">
                        <a href="javascript:void(0)">Цены</a>
                    </li>
                    <li class="sidebar-menu__list">
                        <a href="javascript:void(0)">Врачи</a>
                    </li>
                    <li class="sidebar-menu__list">
                        <a href="javascript:void(0)">Диагностика</a>
                    </li>
                    <li class="sidebar-menu__list">
                        <a href="javascript:void(0)">Подготовка к визиту</a>
                    </li>
                    <li class="sidebar-menu__list">
                        <a href="javascript:void(0)">Отзывы</a>
                    </li>
                    <li class="sidebar-menu__list">
                        <a href="javascript:void(0)">Вопрос–ответ</a>
                    </li>
                    <li class="sidebar-menu__list">
                        <a href="javascript:void(0)">Видео</a>
                    </li>
                </ul>
            </div>
            <div class="diseases__content">
                <div class="h1">Все заболевания</div>
                <div class="department__menu-btn">Меню</div>
                <div class="h2">Лечение болезни Пейрони</div>
                <div class="h4">Симптомы болезни Пейрони</div>
                <div class="diseases__text">Изначально у вас могут появиться болевые ощущения во время эрекции, потом
                    половой член
                    искривляется – это приводит к невозможности совершения полового акта.
                </div>
                <div class="h4">Какова причина заболевания?</div>
                <div class="diseases__text">Этот вопрос остается не до конца изученным, нередко это заболевание
                    развивается после получения
                    травмы полового органа, а иногда его связывают с болезнями соединительных тканей (контрактура
                    Дюпюитрена)
                </div>
                <div class="h4">Диагностика заболевания</div>
                <div class="diseases__text">Специалисты ММЦ «УРО-ПРО» используют целый ряд методов исследования, чтобы
                    диагностировать болезнь. Основным исследованием является УЗИ полового органа. Сначала необходимо
                    вызвать эрекцию с помощью специальных препаратов, потом специалист оценит степень деформации,
                    кровоток и размеры бляшки, чтобы определить насколько болезнь отразилась на эрекции больного.
                </div>

                <a href="#" class="link">Узнать больше</a>
            </div>
        </div>
    </div>
</div>

