.diseases {
    justify-content: space-between;
    display: flex;
    margin-bottom: 80px;

    &__content {
        padding-left: 24px;

        .h1 {
            margin-bottom: 32px;
        }

        .h2 {
            margin-bottom: 36px;
            font-weight: 500;
        }

        .h3 {
            margin-bottom: 16px;
        }

        .h4 {
            margin-bottom: 8px;
        }
    }

    &__text {
        max-width: 590px;
        margin-bottom: 24px;
        font-family: "Montserrat";
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #333333;
    }
}

.diseases-banner {
    padding-bottom: 41.66%;
    position: relative;
    background-image: url("../img/content/disease-banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .container-fluid {
        max-width: 100%;
    }

    &:before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 67.33%, rgba(255, 255, 255, 0.5) 100%);
        height: 100%;
    }

    &__title {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 24px;
        margin: auto;
    }
}

@media only screen and (max-width: 1024px) {
    .diseases {
        &__content {
            padding-left: 15px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .diseases {
        margin-bottom: 40px;
        &__content {
            padding-left: 0;

            .h1 {
                margin-bottom: 24px;
            }
            .h2 {
                margin-bottom: 24px;
            }

            .h3 {
                margin-bottom: 16px;
            }
        }
    }

    .diseases-banner {
        padding-bottom: 75%;

        &__title {
            display: none;
        }
    }
}

