<div class="container">
    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="main.html">Главная</a></li>
            <li class="breadcrumb__item">Хлебные крошки</li>
        </ul>
    </div>
</div>
<div class="diseases-banner"  style="background-attachment: fixed;">
    <div class="container-fluid">
        <div class="container diseases-banner__title">
            <div class="h1">Лечение болезни Пейрони</div>
        </div>
    </div>
</div>

<div class="text-page content-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-block d-md-none h1 title-page">Лечение болезни Пейрони</div>
                <h4>Что представляет собой болезнь Пейрони?</h4>
                <p>Первым изучил это заболевание французский хирург Франсуа Пейрони в 1743 году, по-другому она
                    называется фибропластической индурацией полового члена (искривлением). Во время искривления на
                    белочной оболочке появляется воспаление. Оно ведет к тому, что на воспаленном месте нарастет
                    соединительная ткань, что способно вызвать болезненные ощущения в области полового органа, в
                    особенности эрегированного, поскольку его оболочка растягивается.</p>
                <h4>Симптомы болезни Пейрони</h4>
                <p>Изначально у вас могут появиться болевые ощущения во время эрекции, потом половой член искривляется –
                    это приводит к невозможности совершения полового акта.</p>
                <h4>Какова причина заболевания?</h4>
                <p>Этот вопрос остается не до конца изученным, нередко это заболевание развивается после получения
                    травмы полового органа, а иногда его связывают с болезнями соединительных тканей (контрактура
                    Дюпюитрена).</p>

                <img src="static/img/content/peyroni-2.png">

                <h4>Симптомы болезни Пейрони</h4>
                <p>Изначально у вас могут появиться болевые ощущения во время эрекции, потом половой член искривляется –
                    это приводит к невозможности совершения полового акта.</p>
                <h4>Какова причина заболевания?</h4>
                <p>Этот вопрос остается не до конца изученным, нередко это заболевание развивается после получения
                    травмы полового органа, а иногда его связывают с болезнями соединительных тканей (контрактура
                    Дюпюитрена).</p>

                <div class="d-flex content-left">
                    <div class="content-left__image">
                        <img src="static/img/content/uvt_peyroni.png">
                    </div>
                    <div class="content-left__text">
                        <p>Прогрессируя, заболевание превращает соединительную ткань в бляшку. Она со временем
                            становится более плотной и не может растянуться при эрекции, из-за чего половой член
                            искривляется. Изменения становятся все более заметны, стабильное положение орган принимает
                            после того, как в бляшке отложится достаточно много солей кальция, тогда фиброзное
                            образование становится как камень.</p>
                        <p><b><span>Способы лечения, которые предлагает клиника «ТС»</span></b></p>
                        <p>Ударно-волновая терапия заболевания Пейрони. Вы можете пройти уникальный курс УВТ в нашей
                            клинике с использованием аппарата DUOLITH SD1 ULTRA. Этот метод лечения является довольно
                            эффективным.</p>
                        <p>
                            УВТ – это метод лечения, при котором ударные волны с низкой интенсивностью воздействуют на
                            воспаление. Они способны размягчить ткань уплотнения, что приведет к снижению болевых
                            ощущений и уменьшит деформацию полового органа. Мы проводим УВТ на современном немецком
                            аппарате «Дуолит», который выпускает фирма «Шторц». В большинстве случаев нужно от 4-х до
                            8-ми процедур (не более одной процедуры в неделю).</p>
                    </div>
                </div>

                <a href="javascript:void(0)" class="link">Записаться на прием</a>

                <a href="javascript:void(0)" class="comeback-link">Записаться на прием</a>
            </div>
        </div>
    </div>
</div>
