<div class="diseases-banner">
    <div class="container-fluid">
        <div class="container diseases-banner__title">
            <div class="h1">Лечение болезни Пейрони</div>
        </div>
    </div>
</div>

<div class="content-page">
    <div class="container">
        <div class="h1">h1</div>
        <div class="h2">h2</div>
        <div class="h3">h3</div>
        <div class="h4">h4</div>
        <p>Прогрессируя, заболевание превращает соединительную ткань в бляшку. Она со временем становится более плотной
            и не может растянуться при эрекции, из-за чего половой член искривляется. Изменения становятся все более
            заметны, стабильное положение орган принимает после того, как в бляшке отложится достаточно много солей
            кальция, тогда фиброзное образование становится как камень.</p>
        <p>Прогрессируя, заболевание превращает соединительную ткань в бляшку. Она со временем становится более плотной
            и не может растянуться при эрекции, из-за чего половой член искривляется. Изменения становятся все более
            заметны, стабильное положение орган принимает после того, как в бляшке отложится достаточно много солей
            кальция, тогда фиброзное образование становится как камень.</p>

        <ul>
            <li>Пункт</li>
            <li>Пункт</li>
            <li>Пункт</li>
        </ul>

        <ol>
            <li>Пункт</li>
            <li>Пункт</li>
            <li>Пункт</li>
        </ol>

        <div class="d-flex content-left">
            <div class="content-left__image">
                <img src="static/img/content/uvt_peyroni.png">
            </div>
            <div class="content-left__text">
                <p>Прогрессируя, заболевание превращает соединительную ткань в бляшку. Она со временем
                    становится более плотной и не может растянуться при эрекции, из-за чего половой член
                    искривляется. Изменения становятся все более заметны, стабильное положение орган принимает
                    после того, как в бляшке отложится достаточно много солей кальция, тогда фиброзное
                    образование становится как камень.</p>
                <p><b><span>Способы лечения, которые предлагает клиника «ТС»</span></b></p>
                <p>Ударно-волновая терапия заболевания Пейрони. Вы можете пройти уникальный курс УВТ в нашей
                    клинике с использованием аппарата DUOLITH SD1 ULTRA. Этот метод лечения является довольно
                    эффективным.</p>
                <p>
                    УВТ – это метод лечения, при котором ударные волны с низкой интенсивностью воздействуют на
                    воспаление. Они способны размягчить ткань уплотнения, что приведет к снижению болевых
                    ощущений и уменьшит деформацию полового органа. Мы проводим УВТ на современном немецком
                    аппарате «Дуолит», который выпускает фирма «Шторц». В большинстве случаев нужно от 4-х до
                    8-ми процедур (не более одной процедуры в неделю).</p>
            </div>
        </div>

        <table>
            <thead>
            <tr>
                <th>Таблица</th>
                <th>Таблица</th>
                <th>Таблица</th>
                <th>Таблица</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Таблица</td>
                <td>Таблица</td>
                <td>Таблица</td>
                <td>Таблица</td>
            </tr>
            <tr>
                <td>Таблица</td>
                <td>Таблица</td>
                <td>Таблица</td>
                <td>Таблица</td>
            </tr>
            <tr>
                <td>Таблица</td>
                <td>Таблица</td>
                <td>Таблица</td>
                <td>Таблица</td>
            </tr>
            <tr>
                <td>Таблица</td>
                <td>Таблица</td>
                <td>Таблица</td>
                <td>Таблица</td>
            </tr>
            </tbody>
        </table>

        <div class="quotes">
            <div class="quotes__text">
                <p>Одним из самых ярких примеров сочетания классического для проведения ремонта материала и роскоши,
                является керамика Adagir, от знаменитого испанского производителя, фабрики Plaza. Эта коллекция
                выполнена в лучших традициях античности и отражает стиль, в котором оформлены знаменитые объекты
                архитектуры Древнего Рима. Вместе с тем аутентичная имитация мрамора позволяет внушить монументальность
                    и долговечность поверхности.</p>

                <p>Керамическая плитка этого класса прекрасно подходит в качестве напольного покрытия и может
                    применяться
                при выполнении ремонтных работ в самых разнообразных помещениях. Adagir выполнена в формате 450*450, с
                дополнением различными бордюрами и декоративными элементами, обеспечивающими возможность создания любого
                    благородного образа в интерьере.</p>
            </div>
            <div class="quotes__author">
                <div class="quotes__author-image">
                    <img src="static/img/content/author.png" alt="">
                </div>
                <div class="quotes__author-info">
                    <div class="quotes__author-name">Константин Мухов</div>
                    <div class="quotes__author-status">Главный директор директоров</div>
                </div>
            </div>
        </div>
    </div>
</div>
