.partners {
    padding-bottom: 0;
    &__content {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    &__item {
        width: calc(25% - 18px);
        min-width: calc(25% - 18px);
        margin-right: 24px;
        margin-bottom: 24px;

        &:nth-child(4n) {
            margin-right: 0;
        }
    }

    &__image {
        position: relative;
        padding-bottom: 50%;

        img {
            position: absolute;
            object-fit: cover;
            max-width: 100%;
            max-height: 100%;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            margin: auto;
        }
    }
}

@media only screen and (max-width:768px) {
    .partners {
        &__item {
            width: calc(100% / 3 - 16px);
            min-width: calc(100% / 3 - 16px);
            margin-right: 24px;
            margin-bottom: 24px;
            &:nth-child(4n) {
                margin-right: 24px;
            }

            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
}

@media only screen and (max-width:576px){
    .partners {
        &__item {
            width: calc(50% - 12px);
            min-width: calc(50% - 12px);

            &:nth-child(4n) {
                margin-right: 0;
            }

            &:nth-child(3n) {
                margin-right: 24px;
            }

            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
}

