<div class="container">
    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="main.html">Главная</a></li>
            <li class="breadcrumb__item">Хлебные крошки</li>
        </ul>
    </div>
</div>

<div class="text-page feed">
    <div class="container">
        <div class="h1 title-page">Отзывы</div>
        <div class="feed__select">
            <div class="select-item">
                <span>Выберите отделение:</span>
                <select class="select">
                    <option>Все отделения</option>
                    <option>Проктология</option>
                    <option>Проктология</option>
                </select>
            </div>
            <div class="select-item">
                <span>Выберите врача:</span>
                <select class="select">
                    <option>Все врачи</option>
                    <option>Проктолог</option>
                    <option>Проктолог</option>
                </select>
            </div>

            <a href="javascript:void(0)" class="link"  data-toggle="modal" data-target="#modalFeedback" >Оставить
                отзыв</a>
        </div>

        <div class="feed__content">
            <div class="feed__item">
                <a href="doctor.html" class="feed__name">Екатерина Хорошая</a>
                <div class="feed__date">19 ноября 2018</div>
                <ul class="rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li>— 5.0</li>
                </ul>
                <div class="feed__text">Была несколько раз на приеме у Луневой Ольги Александровны. Врач создает
                    доброжелательную атмосферу, внимательно осмотрит, выслушает, посоветует что делать дальше. Подробно
                    отвечает на все возникающие вопросы. Очень благодарна Ольге Александровне и теперь на УЗИ по  посоветует что делать дальше. Подробно
                    отвечает на все возникающие вопросы. Очень благодарна Ольге Александровне и теперь на УЗИ по
                    <div class="feed__more">Читать полностью</div>
                </div>
            </div>

            <div class="feed__item">
                <a href="doctor.html" class="feed__name">Екатерина Хорошая</a>
                <div class="feed__date">19 ноября 2018</div>
                <ul class="rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li>— 5.0</li>
                </ul>
                <div class="feed__text">Была несколько раз на приеме у Луневой Ольги Александровны. Врач создает
                    доброжелательную атмосферу, внимательно осмотрит, выслушает, посоветует что делать дальше. Подробно
                    отвечает на все возникающие вопросы. Очень благодарна Ольге Александровне и теперь на УЗИ по  посоветует что делать дальше. Подробно
                    отвечает на все возникающие вопросы. Очень благодарна Ольге Александровне и теперь на УЗИ по
                    <div class="feed__more">Читать полностью</div>
                </div>
            </div>

            <div class="feed__item">
                <a href="doctor.html" class="feed__name">Екатерина Хорошая</a>
                <div class="feed__date">19 ноября 2018</div>
                <ul class="rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li>— 5.0</li>
                </ul>
                <div class="feed__text">Была несколько раз на приеме у Луневой Ольги Александровны. Врач создает
                    доброжелательную атмосферу, внимательно осмотрит, выслушает, посоветует что делать дальше. Подробно
                    отвечает на все возникающие вопросы. Очень благодарна Ольге Александровне и теперь на УЗИ по Была несколько раз на приеме у Луневой Ольги Александровны. Врач создает
                    доброжелательную атмосферу, внимательно осмотрит, выслушает, посоветует что делать дальше. Подробно
                    отвечает на все возникающие вопросы. Очень благодарна Ольге Александровне
                    <div class="feed__more">Читать полностью</div>
                </div>
            </div>

            <div class="feed__item">
                <a href="doctor.html" class="feed__name">Екатерина Хорошая</a>
                <div class="feed__date">19 ноября 2018</div>
                <ul class="rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li>— 5.0</li>
                </ul>
                <div class="feed__text">Была несколько раз на приеме у Луневой Ольги Александровны. Врач создает
                    доброжелательную атмосферу, внимательно осмотрит, выслушает, посоветует что делать дальше. Подробно
                    отвечает на все возникающие вопросы. Очень благодарна Ольге Александровне и теперь на УЗИ по
                    <div class="feed__more">Читать полностью</div>
                </div>
            </div>

            <div class="feed__item">
                <a href="doctor.html" class="feed__name">Екатерина Хорошая</a>
                <div class="feed__date">19 ноября 2018</div>
                <ul class="rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li>— 5.0</li>
                </ul>
                <div class="feed__text">Была несколько раз на приеме у Луневой Ольги Александровны. Врач создает
                    доброжелательную атмосферу, внимательно осмотрит, выслушает, посоветует что делать дальше. Подробно
                    отвечает на все возникающие вопросы. Очень благодарна Ольге Александровне и теперь на УЗИ по
                    <div class="feed__more">Читать полностью</div>
                </div>
            </div>

            <div class="feed__item">
                <a href="doctor.html" class="feed__name">Екатерина Хорошая</a>
                <div class="feed__date">19 ноября 2018</div>
                <ul class="rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li>— 5.0</li>
                </ul>
                <div class="feed__text">Была несколько раз на приеме у Луневой Ольги Александровны. Врач создает
                    доброжелательную атмосферу, внимательно осмотрит, выслушает, посоветует что делать дальше. Подробно
                    отвечает на все возникающие вопросы. Очень благодарна Ольге Александровне и теперь на УЗИ по
                    <div class="feed__more">Читать полностью</div>
                </div>
            </div>

            <div class="feed__item">
                <a href="doctor.html" class="feed__name">Екатерина Хорошая</a>
                <div class="feed__date">19 ноября 2018</div>
                <ul class="rating">
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="far fa-star"></i></li>
                    <li>— 5.0</li>
                </ul>
                <div class="feed__text">Была несколько раз на приеме у Луневой Ольги Александровны. Врач создает
                    доброжелательную атмосферу, внимательно осмотрит, выслушает, посоветует что делать дальше. Подробно
                    отвечает на все возникающие вопросы. Очень благодарна Ольге Александровне и теперь на УЗИ по
                    <div class="feed__more">Читать полностью</div>
                </div>
            </div>
        </div>

        <div class="pagination">
            <a href="javascript:void(0)" class="pagination__prev"></a>
            <ul class="pagination__pages">
                <li class="pagination__item"><a href="javascript:void(0)">1</a></li>
                <li class="pagination__item"><a href="javascript:void(0)">2</a></li>
                <li class="pagination__item"><a href="javascript:void(0)">9</a></li>
                <li class="pagination__item"><a href="javascript:void(0)">...</a></li>
                <li class="pagination__item"><a href="javascript:void(0)">7</a></li>
                <li class="pagination__item"><a href="javascript:void(0)">8</a></li>
                <li class="pagination__item"><a href="javascript:void(0)">9</a></li>
            </ul>
            <a href="javascript:void(0)" class="pagination__next"></a>
        </div>
    </div>
</div>
