.feed {
    &__select {
        display: flex;
        align-items: flex-end;
        width: 100%;
        margin-bottom: 48px;

        .link {
            margin-left: auto;
        }

        .select-item {
            width: 282px;
            min-width: 282px;
            margin-right: 24px;

            span {
                display: block;
                font-family: "Montserrat";
                font-weight: normal;
                font-size: 12px;
                line-height: 20px;
                margin-bottom: 8px;
                color: #666666;
            }
            .select-item span.select2-container {
                margin-bottom: 0 !important;
            }

            .select2-container {
                width: 100% !important;
                height: 40px;
                margin-bottom: 0 !important;
            }

            .select2-container--default .select2-selection--single {
                border: 1px solid #DDDDDD;
                box-sizing: border-box;
                border-radius: 2px;
                height: 40px;
            }

            .select2-container--default .select2-selection--single .select2-selection__rendered {
                height: 40px;
                line-height: 40px;
                font-family: "Montserrat";
                font-weight: normal;
                font-size: 14px;
                color: $black-color;
            }

            .select2-container--default .select2-selection--single .select2-selection__arrow {
                height: 38px;
            }
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-bottom: 24px;
    }

    &__item {
        width: calc(25% - 18px);
        min-width: calc(25% - 18px);
        font-family: "Montserrat";
        color: $black-color;
        margin-right: 24px;
        margin-bottom: 24px;

        &:nth-child(4n) {
            margin-right: 0px;
        }

        .rating {
            margin: 16px 0;
        }
    }

    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
        color: $black-color;
        text-decoration: none;
        transition: 0.15s;

        &:hover {
            text-decoration: none;
            color: $red-color;
            transition: 0.15s;
        }
    }

    &__date {
        font-size: 12px;
        line-height: 20px;
        color: #999999;
    }

    &__text {
        position: relative;
        font-size: 14px;
        line-height: 20px;
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 180px;
        max-width: 100%;
        &.show {
            max-height: fit-content;
            -webkit-line-clamp: inherit;
            padding-bottom: 20px;

            .feed__more {
                background: none;
            }
        }
    }

    &__more {
        height: 34px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        color: $red-color;
        display: flex;
        align-items: flex-end;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 30.73%, #FFFFFF 100%);

        &:hover {
            color: $red-color;
            cursor: pointer;
            text-decoration: none;
        }
    }
}


@media only screen and (max-width:1024px){
    .feed {
        &__select {
            .select-item {
                width: 230px;
                min-width: 230px;
                margin-right: 24px;
            }
        }

        &__item {
            width: calc(100% / 3 - 16px);
            min-width: calc(100% / 3 - 16px);

            &:nth-child(4n) {
                margin-right: 24px;
            }

            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
}

@media only screen and (max-width:768px) {
    .feed {
        &__select {
            flex-wrap: wrap;
            margin-bottom: 40px;
            .select-item {
                width: calc(50% - 12px);
                min-width: calc(50% - 12px);
                margin-right: 0;
                margin-left: 24px;
                margin-bottom: 16px;
                &:first-child {
                    margin-left: 0;
                }
            }

            .link {
                margin-left: auto;
                margin-right: auto;
            }
        }

        &__content {
            margin-bottom: 0;
        }

        &__item {
            width: calc(100% / 2 - 12px);
            min-width: calc(100% / 2 - 12px);

            &:nth-child(3n) {
                  margin-right: 24px;
            }
            &:nth-child(2n) {
                   margin-right: 0;
             }

            &:nth-child(4n) {
                margin-right: 0;
            }
        }
    }
}

@media only screen and (max-width:576px) {
    .feed {
        &__select {
            .select-item {
                width: 100%;
                min-width: 100%;
                margin-right: 0;
                margin-left: 0;
                margin-bottom: 16px;
            }

            .link {
                margin-left: auto;
                margin-right: auto;
            }
        }

        &__content {
            margin-bottom: 0;
        }

        &__item {
            width: 100%;
            min-width: 100%;

            &:nth-child(3n) {
                margin-right: 0;
            }
            &:nth-child(2n) {
                margin-right: 0;
            }

            &:nth-child(4n) {
                margin-right: 0;
            }
        }
    }
}

