.stocks {
    &__content {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-bottom: 24px;
    }

    &__item {
        display: block;
        margin-bottom: 24px;
        width: calc(25% - 18px);
        min-width: calc(25% - 18px);
        margin-right: 24px;
        &:nth-child(4n) {
            margin-right: 0;
        }
        font-family: "Montserrat";
        color: $black-color;
    }
    &__image {
        width: 100%;
        padding-bottom: 50%;
        position: relative;
        overflow: hidden;
        margin-bottom: 24px;
        img {
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
        .type {
            font-weight: 500;
            font-size: 12px;
            line-height: 20px;
        }
        .date {
            display: flex;
            position: relative;
            font-weight: normal;
            font-size: 12px;
            line-height: 20px;
            align-items: center;
            color: #666666;
            &:before {
                content: "";
                display: block;
                height: 24px;
                width: 24px;
                background-size: 16px;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url("../img/content/icon-time.svg");
                margin-right: 8px;
            }
        }
    }
    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
        color: $black-color;
        transition: 0.15s;
        display: block;
        &:hover {
            color: $red-color;
            text-decoration: none;
            transition: 0.15s;
        }
    }
    &__text {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 120px;
        max-width: 100%;
    }
}
@media only screen and (max-width:1024px) {
    .stocks {
        &__item {
            width: calc(100% / 3 - 16px);
            min-width: calc(100% / 3 - 16px);
            margin-right: 24px;
            &:nth-child(4n) {
                margin-right: 24px;
            }
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
}
@media only screen and (max-width:768px) {
    .stocks {
        &__content {
            margin-bottom: 0;
        }

        &__item {
            width: calc(100% / 2 - 12px);
            min-width: calc(100% / 2 - 12px);
            margin-right: 24px;
            &:nth-child(3n) {
                margin-right: 24px;
            }
            &:nth-child(2n) {
                margin-right: 0;
            }
            &:nth-child(4n) {
                margin-right: 0;
            }
        }
    }
}

@media only screen and (max-width:576px) {
    .stocks {
        &__item {
            width: 100%;
            min-width: 100%;
            margin-right: 0;
            &:nth-child(3n) {
                margin-right: 0;
            }
            &:nth-child(2n) {
                margin-right: 0;
            }
            &:nth-child(4n) {
                margin-right: 0;
            }
        }
    }
}
