<div class="container">
    <div class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="main.html">Главная</a></li>
            <li class="breadcrumb__item">Хлебные крошки</li>
        </ul>
    </div>
</div>
<div class="text-page stocks">
    <div class="container">
        <div class="h1 title-page">Акция</div>

        <div class="stocks__content">
            <div class="stocks__item">
                <div class="stocks__image">
                    <img src="static/img/content/new2.png">
                </div>
                <div class="stocks__info">
                    <div class="date">01.10. 2019</div>
                    <div class="type">Акция</div>
                </div>
                <a href="javascript:void(0)" class="stocks__title">Новогодние скидки</a>
                <div class="stocks__text">В этом году у нас очень большие скидки на все услуги клиники, успейте
                    записаться на прием. В этом году у нас очень большие скидки на все услуги клиники, успейте
                    записаться на прием.
                </div>
            </div>

            <div class="stocks__item">
                <div class="stocks__image">
                    <img src="static/img/content/new2.png">
                </div>
                <div class="stocks__info">
                    <div class="date">01.10. 2019</div>
                    <div class="type">Акция</div>
                </div>
                <a href="javascript:void(0)" class="stocks__title">Новогодние скидки</a>
                <div class="stocks__text">В этом году у нас очень большие скидки на все услуги клиники, успейте
                    записаться на прием. В этом году у нас очень большие скидки на все услуги клиники, успейте
                    записаться на прием.
                </div>
            </div>

            <div class="stocks__item">
                <div class="stocks__image">
                    <img src="static/img/content/new2.png">
                </div>
                <div class="stocks__info">
                    <div class="date">01.10. 2019</div>
                    <div class="type">Акция</div>
                </div>
                <a href="javascript:void(0)" class="stocks__title">Новогодние скидки</a>
                <div class="stocks__text">В этом году у нас очень большие скидки на все услуги клиники, успейте
                    записаться на прием. В этом году у нас очень большие скидки на все услуги клиники, успейте
                    записаться на прием.
                </div>
            </div>

            <div class="stocks__item">
                <div class="stocks__image">
                    <img src="static/img/content/new2.png">
                </div>
                <div class="stocks__info">
                    <div class="date">01.10. 2019</div>
                    <div class="type">Акция</div>
                </div>
                <a href="javascript:void(0)" class="stocks__title">Новогодние скидки</a>
                <div class="stocks__text">В этом году у нас очень большие скидки на все услуги клиники, успейте
                    записаться на прием. В этом году у нас очень большие скидки на все услуги клиники, успейте
                    записаться на прием.
                </div>
            </div>

            <div class="stocks__item">
                <div class="stocks__image">
                    <img src="static/img/content/new2.png">
                </div>
                <div class="stocks__info">
                    <div class="date">01.10. 2019</div>
                    <div class="type">Акция</div>
                </div>
                <a href="javascript:void(0)" class="stocks__title">Новогодние скидки</a>
                <div class="stocks__text">В этом году у нас очень большие скидки на все услуги клиники, успейте
                    записаться на прием. В этом году у нас очень большие скидки на все услуги клиники, успейте
                    записаться на прием.
                </div>
            </div>

            <div class="stocks__item">
                <div class="stocks__image">
                    <img src="static/img/content/new2.png">
                </div>
                <div class="stocks__info">
                    <div class="date">01.10. 2019</div>
                    <div class="type">Акция</div>
                </div>
                <a href="javascript:void(0)" class="stocks__title">Новогодние скидки</a>
                <div class="stocks__text">В этом году у нас очень большие скидки на все услуги клиники, успейте
                    записаться на прием. В этом году у нас очень большие скидки на все услуги клиники, успейте
                    записаться на прием.
                </div>
            </div>

            <div class="stocks__item">
                <div class="stocks__image">
                    <img src="static/img/content/new2.png">
                </div>
                <div class="stocks__info">
                    <div class="date">01.10. 2019</div>
                    <div class="type">Акция</div>
                </div>
                <a href="javascript:void(0)" class="stocks__title">Новогодние скидки</a>
                <div class="stocks__text">В этом году у нас очень большие скидки на все услуги клиники, успейте
                    записаться на прием. В этом году у нас очень большие скидки на все услуги клиники, успейте
                    записаться на прием.
                </div>
            </div>

            <div class="stocks__item">
                <div class="stocks__image">
                    <img src="static/img/content/new2.png">
                </div>
                <div class="stocks__info">
                    <div class="date">01.10. 2019</div>
                    <div class="type">Акция</div>
                </div>
                <a href="javascript:void(0)" class="stocks__title">Новогодние скидки</a>
                <div class="stocks__text">В этом году у нас очень большие скидки на все услуги клиники, успейте
                    записаться на прием. В этом году у нас очень большие скидки на все услуги клиники, успейте
                    записаться на прием на прием на прием на прием на прием.
                </div>
            </div>
        </div>

        <div class="pagination">
            <a href="javascript:void(0)" class="pagination__prev"></a>
            <ul class="pagination__pages">
                <li class="pagination__item"><a href="javascript:void(0)">1</a></li>
                <li class="pagination__item"><a href="javascript:void(0)">2</a></li>
                <li class="pagination__item"><a href="javascript:void(0)">9</a></li>
                <li class="pagination__item"><a href="javascript:void(0)">...</a></li>
                <li class="pagination__item"><a href="javascript:void(0)">7</a></li>
                <li class="pagination__item"><a href="javascript:void(0)">8</a></li>
                <li class="pagination__item"><a href="javascript:void(0)">9</a></li>
            </ul>
            <a href="javascript:void(0)" class="pagination__next"></a>
        </div>
    </div>
</div>
